In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('./방문자 데이터/2022_전국_방문자_수.csv')

In [23]:
df.drop('Unnamed: 0' , axis = 1, inplace = True)

In [24]:
df_1  = df[df['월'] == "1월"]

In [27]:
df_1 = df_1[df_1['기초지자체명'].str.contains("강릉시|경주시|단양군|동해시|서귀포시|속초시|여수시|인제군|장흥군|제주시")]

In [46]:
df_1

    기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
0      강릉시    2976083.0          14.4  1월
2      동해시     925393.0           4.5  1월
4      속초시    1994819.0           9.6  1월
9      인제군     637454.0           3.1  1월
83     경주시    3340642.0          13.1  1월
113    단양군     509990.0           2.9  1월
165   서귀포시    4400043.0          44.0  1월
166    제주시    5590239.0          56.0  1월
240    여수시    2199683.0          11.7  1월
245    장흥군     441804.0           2.3  1월

In [28]:
df_2  = df[df['월'] == "2월"]

In [29]:
df_2 = df_2[df_2['기초지자체명'].str.contains("거제시|경주시|군산시|서귀포시|속초시|신안군|여수시|제주시|춘천시|태안군")]

In [45]:
df_2

    기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
254    속초시    1561175.0           9.0  2월
262    춘천시    2035530.0          11.8  2월
310    거제시    1612271.0           6.3  2월
333    경주시    2916230.0          13.4  2월
401    군산시    1545298.0          10.7  2월
415   서귀포시    3726626.0          43.5  2월
416    제주시    4831029.0          56.5  2월
471    태안군     938875.0           4.9  2월
489    신안군     401588.0           2.5  2월
490    여수시    1798978.0          11.4  2월

In [31]:
df_3  = df[df['월'] == "3월"]

In [32]:
df_3 = df_3[df_3['기초지자체명'].str.contains("강릉시|거제시|경주시|서귀포시|신안군|여수시|인제군|장흥군|제주시|태안군")]

In [44]:
df_3

    기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
500    강릉시    2298799.0          13.3  3월
509    인제군     449793.0           2.6  3월
560    거제시    1623444.0           5.7  3월
583    경주시    2912118.0          12.1  3월
665   서귀포시    3496819.0          42.7  3월
666    제주시    4692568.0          57.3  3월
721    태안군    1027296.0           4.5  3월
739    신안군     467517.0           2.6  3월
740    여수시    1804711.0           9.9  3월
745    장흥군     340096.0           1.9  3월

In [33]:
df_4  = df[df['월'] == "4월"]

In [34]:
df_4 = df_4[df_4['기초지자체명'].str.contains("강릉시|경주시|군산시|목포시|서귀포시|속초시|여수시|완도군|인제군|제주시")]

In [43]:
df_4

    기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
750    강릉시    3008889.0          14.5  4월
754    속초시    1830894.0           8.8  4월
759    인제군     627782.0           3.0  4월
833    경주시    3761701.0          14.7  4월
901    군산시    1785335.0          10.3  4월
915   서귀포시    4254954.0          44.9  4월
916    제주시    5215911.0          55.1  4월
985    목포시    1887145.0           9.4  4월
990    여수시    1947164.0           9.7  4월
993    완도군     429616.0           2.1  4월

In [35]:
df_5  = df[df['월'] == "5월"]

In [36]:
df_5 = df_5[df_5['기초지자체명'].str.contains("공주시|보성군|서귀포시|서천군|속초시|순창군|양양군|여수시|옥천군|제주시")]

In [42]:
df_5

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
1004    속초시    2218175.0           9.1  5월
1006    양양군    1625010.0           6.7  5월
1116    옥천군     982553.0           4.5  5월
1156    순창군     407054.0           2.2  5월
1165   서귀포시    4127214.0          44.2  5월
1166    제주시    5211568.0          55.8  5월
1208    공주시    2492136.0           8.8  5월
1215    서천군     992666.0           3.5  5월
1237    보성군     623817.0           3.0  5월
1240    여수시    2206161.0          10.6  5월

In [37]:
df_6  = df[df['월'] == "6월"]

In [38]:
df_6 = df_6[df_6['기초지자체명'].str.contains("경주시|고성군|서귀포시|속초시|인제군|제주시|진도군|충주시|태안군|통영시")]

In [41]:
df_6.drop(1312, inplace = True)

In [47]:
df_7  = df[df['월'] == "7월"]

In [48]:
df_7 = df_7[df_7['기초지자체명'].str.contains("강릉시|거제시|동해시|부여군|서귀포시|양양군|여수시|울진군|인제군|제주시")]

In [49]:
df_7

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
1500    강릉시    3551243.0          12.7  7월
1502    동해시    1228212.0           4.4  7월
1506    양양군    1878677.0           6.7  7월
1509    인제군    1026724.0           3.7  7월
1560    거제시    2361457.0           7.0  7월
1599    울진군     873583.0           2.6  7월
1665   서귀포시    4908776.0          40.2  7월
1666    제주시    7291538.0          59.8  7월
1713    부여군    1079251.0           4.0  7월
1740    여수시    3163984.0          11.9  7월

In [53]:
df_8  = df[df['월'] == "8월"]

In [54]:
df_8 = df_8[df_8['기초지자체명'].str.contains("고창군|당진시|동해시|서귀포시|속초시|양양군|여수시|영양군|인제군|제주시")]

In [55]:
df_8

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
1752    동해시    1264125.0           4.1  8월
1754    속초시    3005110.0           9.8  8월
1756    양양군    2191197.0           7.2  8월
1759    인제군    1156567.0           3.8  8월
1844    영양군     193928.0           0.6  8월
1900    고창군     942282.0           4.6  8월
1915   서귀포시    4773560.0          43.7  8월
1916    제주시    6155493.0          56.3  8월
1961    당진시    2109455.0           7.6  8월
1990    여수시    2988285.0          12.9  8월

In [57]:
df_9  = df[df['월'] == "9월"]

In [58]:
df_9 = df_9[df_9['기초지자체명'].str.contains("강릉시|거제시|경주시|단양군|서귀포시|양양군|제주시|평창군|하동군|화천군")]

In [59]:
df_9

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율   월
2000    강릉시    2975029.0          12.6  9월
2006    양양군    1373029.0           5.8  9월
2014    평창군    1399027.0           5.9  9월
2016    화천군     379607.0           1.6  9월
2060    거제시    1914934.0           5.6  9월
2078    하동군     713429.0           2.1  9월
2083    경주시    3966844.0          12.7  9월
2113    단양군     894910.0           3.9  9월
2165   서귀포시    3763499.0          43.0  9월
2166    제주시    4988408.0          57.0  9월

In [60]:
df_10  = df[df['월'] == "10월"]

In [61]:
df_10 = df_10[df_10['기초지자체명'].str.contains("경주시|고창군|단양군|달서구|속초시|영암군|의령군|인제군|제주시|하동군")]

In [62]:
df_10

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율    월
2254    속초시    2528720.0           9.4  10월
2259    인제군    1226112.0           4.6  10월
2319    의령군     422003.0           1.2  10월
2328    하동군     802567.0           2.2  10월
2333    경주시    4632723.0          14.5  10월
2363    단양군    1172589.0           5.1  10월
2393    달서구    4533737.0          15.1  10월
2400    고창군    1107828.0           5.1  10월
2416    제주시    6001209.0          55.8  10월
2492    영암군    1005707.0           4.2  10월

In [63]:
df_11  = df[df['월'] == "11월"]

In [64]:
df_11 = df_11[df_11['기초지자체명'].str.contains("강진군|거제시|경주시|단양군|밀양시|삼척시|서귀포시|여수시|제주시|태안군")]

In [65]:
df_11

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율    월
2503    삼척시     864314.0           4.3  11월
2560    거제시    1745738.0           5.7  11월
2565    밀양시    1316343.0           4.3  11월
2583    경주시    3753114.0          14.0  11월
2613    단양군     789068.0           3.9  11월
2665   서귀포시    4000708.0          43.5  11월
2666    제주시    5196776.0          56.5  11월
2721    태안군    1257973.0           5.0  11월
2728    강진군     463366.0           2.3  11월
2740    여수시    2115481.0          10.3  11월

In [71]:
df_12  = df[df['월'] == "12월"]

In [72]:
df_12 = df_12[df_12['기초지자체명'].str.contains("강릉시|경주시|동해시|서귀포시|속초시|여수시|완주군|인제군|제주시|춘천시")]

In [73]:
df_12

     기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율    월
2750    강릉시    2529498.0          13.7  12월
2752    동해시     847918.0           4.6  12월
2754    속초시    1894441.0          10.2  12월
2759    인제군     531890.0           2.9  12월
2762    춘천시    2172745.0          11.7  12월
2833    경주시    3417810.0          13.6  12월
2907    완주군    1393930.0           8.7  12월
2915   서귀포시    3580248.0          43.0  12월
2916    제주시    4749068.0          57.0  12월
2990    여수시    2008720.0          11.5  12월

In [76]:
df =  pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12])

In [77]:
df.reset_index(drop = True, inplace = True)

In [79]:
df.to_csv("순위권_방문자_수.csv", encoding = 'cp949')