In [1]:
import pandas as pd
import plotly.express as px

## 1월 언급량 데이터 전처리

In [43]:
df = pd.read_csv('./키워드 분석 데이터/1월 강릉시 키워드.csv', encoding = 'cp949')

In [44]:
df.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [45]:
df['지역'] = '강릉시'

In [46]:
df['월'] = '1월'

In [53]:
df

     지역  키워드   언급수   월
0   강릉시   강릉  4712  1월
1   강릉시   여행  2118  1월
2   강릉시   바다  1534  1월
3   강릉시   사진  1488  1월
4   강릉시   커피  1193  1월
5   강릉시   해변  1178  1월
6   강릉시   카페  1086  1월
7   강릉시  강원도   798  1월
8   강릉시  순두부   769  1월
9   강릉시  강릉시   736  1월
10  강릉시   맛집   666  1월
11  강릉시   겨울   642  1월
12  강릉시    빵   605  1월
13  강릉시   호텔   557  1월
14  강릉시   숙소   536  1월
15  강릉시   주차   508  1월
16  강릉시    회   487  1월
17  강릉시  정동진   456  1월
18  강릉시   초당   440  1월
19  강릉시  주문진   438  1월
20  강릉시  아르떼   419  1월
21  강릉시    뷰   394  1월
22  강릉시   아트   377  1월
23  강릉시   전시   347  1월
24  강릉시  칼국수   330  1월
25  강릉시   작품   330  1월
26  강릉시   가족   324  1월
27  강릉시  박물관   312  1월
28  강릉시   동해   307  1월
29  강릉시   짬뽕   303  1월

In [51]:
df.drop([6,7,9,13,15,17,18,20,24,26,28,32,33,37,38,45,49,42,46,47] ,axis = 0, inplace = True)

In [52]:
df.reset_index(drop = True, inplace = True)

In [60]:
#-------------------------------------------------------------------------------------------------------------------

In [55]:
df_1 = pd.read_csv('./키워드 분석 데이터/1월 경주시 키워드.csv', encoding = 'cp949')

In [56]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [58]:
df_1['지역'] = '경주시'

In [107]:
df_1['월'] = '1월'

In [108]:
df_1

     지역  키워드   언급수   월
0   경주시   경주  4144  1월
1   경주시   여행  2004  1월
2   경주시   사진  1244  1월
3   경주시   카페  1121  1월
4   경주시  월정교   813  1월
5   경주시   숙소   660  1월
6   경주시  불국사   618  1월
7   경주시  경주시   586  1월
8   경주시  첨성대   552  1월
9   경주시   맛집   545  1월
10  경주시   커피   447  1월
11  경주시    빵   436  1월
12  경주시   바다   426  1월
13  경주시   주차   421  1월
14  경주시   대릉   414  1월
15  경주시   겨울   409  1월
16  경주시   경북   402  1월
17  경주시   동궁   391  1월
18  경주시    밥   352  1월
19  경주시   야경   347  1월
20  경주시   호텔   342  1월
21  경주시   신라   337  1월
22  경주시   월지   327  1월
23  경주시   가족   322  1월
24  경주시  분위기   322  1월
25  경주시    뷰   309  1월
26  경주시   체험   305  1월
27  경주시   예약   284  1월
28  경주시   입장   275  1월
29  경주시   관광   272  1월

In [65]:
df_1.drop([4,5, 6,12, 13,14, 15,16 ,19,23, 27,29, 30,31, 41,42, 43,49, 45,46], axis = 0 , inplace = True)

In [83]:
df_1.reset_index(drop = True, inplace = True)

In [72]:
df_1.loc[11, '키워드'] = '월정교'

In [74]:
df_1.loc[11, '언급수'] = 813

In [81]:
df_1.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#----------------------------------------------------------------------------------------------------------------------------

In [85]:
df_2 = pd.read_csv('./키워드 분석 데이터/1월 단양군 키워드.csv', encoding = 'cp949')

In [86]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [87]:
df_2['지역'] = '단양군'

In [109]:
df_2['월'] = '1월'

In [110]:
df_2

     지역       키워드   언급수   월
0   단양군        단양  3192  1월
1   단양군        여행  1496  1월
2   단양군        마늘  1355  1월
3   단양군        사진  1227  1월
11  단양군  만천하스카이워크  1139  1월
4   단양군        시장   886  1월
7   단양군        카페   776  1월
9   단양군    패러글라이딩   715  1월
14  단양군        풍경   485  1월
15  단양군        숙소   474  1월
17  단양군        터널   471  1월
18  단양군        맛집   458  1월
23  단양군       닭강정   397  1월
24  단양군         빵   378  1월
25  단양군         산   377  1월
27  단양군       떡갈비   369  1월
28  단양군      도담삼봉   365  1월
30  단양군        주차   339  1월
31  단양군     아쿠아리움   325  1월
32  단양군        겨울   320  1월
35  단양군        날씨   292  1월
36  단양군       카페산   286  1월
38  단양군         뷰   286  1월
39  단양군        순대   280  1월
40  단양군        버스   272  1월
41  단양군       마늘빵   270  1월
42  단양군        커피   266  1월
43  단양군        만두   266  1월
44  단양군        식당   262  1월
49  단양군        동굴   256  1월

In [92]:
df_2.drop([5,6, 8,10, 12,13, 48,16, 19,20, 21,22, 26,29, 46,33, 34,37, 45,47], axis = 0 , inplace = True)

In [83]:
df_2.reset_index(drop = True, inplace = True)

In [94]:
df_2.loc[11, '키워드'] = '만천하스카이워크'

In [100]:
df_2.loc[11, '언급수'] = 1139

In [101]:
df_2.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#-----------------------------------------------------------------------------------------

In [125]:
df_3 = pd.read_csv('./키워드 분석 데이터/1월 동해시 키워드.csv', encoding = 'cp949')

In [126]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [127]:
df_3['지역'] = '동해시'

In [128]:
df_3['월'] = '1월'

In [142]:
df_3

     지역    키워드   언급수   월
0   동해시     동해  2215  1월
1   동해시     바다  1749  1월
2   동해시     여행  1339  1월
3   동해시   촛대바위  1313  1월
4   동해시    동해시   914  1월
5   동해시     카페   760  1월
6   동해시  스카이밸리   736  1월
7   동해시     맛집   640  1월
8   동해시     해변   634  1월
9   동해시    강원도   615  1월
10  동해시     등대   579  1월
11  동해시     묵호   514  1월
12  동해시     삼척   474  1월
13  동해시    전망대   465  1월
14  동해시   해수욕장   444  1월
15  동해시     숙소   398  1월
16  동해시     일출   387  1월
17  동해시    묵호항   387  1월
18  동해시      뷰   381  1월
19  동해시     강릉   358  1월
20  동해시     논골   357  1월
21  동해시     겨울   349  1월
22  동해시     주문   342  1월
23  동해시     파도   327  1월
24  동해시     추암   286  1월
25  동해시      회   285  1월
26  동해시     다리   278  1월
27  동해시     대게   273  1월
28  동해시     호텔   265  1월
29  동해시     주차   265  1월

In [130]:
df_3.drop([4,7, 10,19, 22,27, 12,33, 34,35, 36,37, 38,40, 42,44, 47,46, 15,17], axis = 0 , inplace = True)

In [141]:
df_3.reset_index(drop = True, inplace = True)

In [132]:
df_3.loc[5, '키워드'] = '촛대바위'

In [133]:
df_3.loc[5, '언급수'] = 1313

In [134]:
df_3.loc[20, '키워드'] = '스카이밸리'

In [135]:
df_3.loc[20, '언급수'] = 736

In [139]:
df_3.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#------------------------------------------------------------------------------------------------

In [143]:
df_4 = pd.read_csv('./키워드 분석 데이터/1월 서귀포시 키워드.csv', encoding = 'cp949')

In [144]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [145]:
df_4['지역'] = '서귀포시'

In [146]:
df_4['월'] = '1월'

In [151]:
df_4

      지역   키워드   언급수   월
0   서귀포시    제주  2925  1월
1   서귀포시    여행  2347  1월
2   서귀포시   제주도  2314  1월
3   서귀포시    사진  1466  1월
4   서귀포시    카페  1179  1월
5   서귀포시    바다   742  1월
6   서귀포시   서귀포   718  1월
7   서귀포시  서귀포시   699  1월
8   서귀포시    겨울   660  1월
9   서귀포시    숙소   632  1월
10  서귀포시   동백꽃   465  1월
11  서귀포시    체험   464  1월
12  서귀포시    맛집   438  1월
13  서귀포시    호텔   438  1월
14  서귀포시    풍경   428  1월
15  서귀포시    커피   415  1월
16  서귀포시    주차   410  1월
17  서귀포시     귤   409  1월
18  서귀포시    날씨   399  1월
19  서귀포시     뷰   375  1월
20  서귀포시   한라산   361  1월
21  서귀포시    감귤   295  1월
22  서귀포시    해변   288  1월
23  서귀포시    오름   286  1월
24  서귀포시    돼지   285  1월
25  서귀포시    고기   284  1월
26  서귀포시    식당   269  1월
27  서귀포시    가격   267  1월
28  서귀포시    도로   256  1월
29  서귀포시    나무   256  1월

In [149]:
df_4.drop([5,6, 10,11, 14,15, 18,19, 24,25, 28,32, 33,34, 35,37, 38,41, 43,45], axis = 0 , inplace = True)

In [150]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------

In [152]:
df_5 = pd.read_csv('./키워드 분석 데이터/1월 속초시 키워드.csv', encoding = 'cp949')

In [153]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [154]:
df_5['지역'] = '속초시'

In [155]:
df_5['월'] = '1월'

In [159]:
df_5

     지역   키워드   언급수   월
0   속초시    속초  4662  1월
1   속초시    여행  1731  1월
2   속초시    카페  1505  1월
3   속초시    바다  1237  1월
4   속초시   강원도   914  1월
5   속초시    맛집   905  1월
6   속초시    사진   756  1월
7   속초시     뷰   655  1월
8   속초시    대게   650  1월
9   속초시   속초시   616  1월
10  속초시   설악산   593  1월
11  속초시    숙소   581  1월
12  속초시     집   577  1월
13  속초시    커피   573  1월
14  속초시     회   560  1월
15  속초시    주차   543  1월
16  속초시     빵   508  1월
17  속초시    겨울   504  1월
18  속초시    호텔   457  1월
19  속초시   닭강정   437  1월
20  속초시    물회   418  1월
21  속초시  중앙시장   410  1월
22  속초시     게   355  1월
23  속초시    홍게   355  1월
24  속초시    음식   310  1월
25  속초시    관광   304  1월
26  속초시    해변   300  1월
27  속초시    오션   296  1월
28  속초시  해수욕장   292  1월
29  속초시   오징어   292  1월

In [157]:
df_5.drop([3,7, 9,12, 20,23, 24,26, 28,30, 32,34, 37,38, 39,40, 41,43, 45,33], axis = 0 , inplace = True)

In [158]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#-----------------------------------------------------------------------------------------------------

In [160]:
df_6 = pd.read_csv('./키워드 분석 데이터/1월 여수시 키워드.csv', encoding = 'cp949')

In [161]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [162]:
df_6['지역'] = '여수시'

In [163]:
df_6['월'] = '1월'

In [167]:
df_6

     지역   키워드   언급수   월
0   여수시    여수  5672  1월
1   여수시    여행  1959  1월
2   여수시    바다  1616  1월
3   여수시    카페  1576  1월
4   여수시    사진  1205  1월
5   여수시     뷰   823  1월
6   여수시   오동도   731  1월
7   여수시   여수시   688  1월
8   여수시    맛집   674  1월
9   여수시    호텔   638  1월
10  여수시     밤   609  1월
11  여수시   이순신   573  1월
12  여수시    게장   545  1월
13  여수시    김밥   499  1월
14  여수시    공원   482  1월
15  여수시    주차   475  1월
16  여수시    숙소   463  1월
17  여수시  케이블카   459  1월
18  여수시    오션   450  1월
19  여수시    광장   431  1월
20  여수시    커피   390  1월
21  여수시    전남   389  1월
22  여수시    풍경   360  1월
23  여수시    돌산   356  1월
24  여수시    낭만   344  1월
25  여수시     밥   325  1월
26  여수시   갓김치   323  1월
27  여수시    버거   300  1월
28  여수시    펜션   299  1월
29  여수시   분위기   290  1월

In [165]:
df_6.drop([5,6, 12,13, 17,18, 19,22, 23,28, 30,34, 36,38, 39,42, 44,43, 48,45], axis = 0 , inplace = True)

In [166]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#----------------------------------------------------------------------------------------

In [174]:
df_7 = pd.read_csv('./키워드 분석 데이터/1월 인제군 키워드.csv', encoding = 'cp949')

In [175]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [176]:
df_7['지역'] = '인제군'

In [177]:
df_7['월'] = '1월'

In [182]:
df_7

     지역    키워드   언급수   월
0   인제군     인제  2132  1월
1   인제군     여행  1840  1월
2   인제군     사진  1463  1월
3   인제군   자작나무  1119  1월
4   인제군    강원도  1011  1월
5   인제군  자작나무숲   985  1월
6   인제군     겨울   985  1월
7   인제군      숲   826  1월
8   인제군     카페   680  1월
9   인제군     숙소   654  1월
10  인제군     속초   573  1월
11  인제군     맛집   487  1월
12  인제군     바다   484  1월
13  인제군    막국수   385  1월
14  인제군     풍경   381  1월
15  인제군     등산   365  1월
16  인제군     식당   361  1월
17  인제군     황태   352  1월
18  인제군     커피   349  1월
19  인제군    아이젠   346  1월
20  인제군     호텔   345  1월
21  인제군      산   337  1월
22  인제군     주차   305  1월
23  인제군     두부   301  1월
24  인제군     구경   299  1월
25  인제군     가족   288  1월
26  인제군      밥   286  1월
27  인제군     버스   281  1월
28  인제군     위치   276  1월
29  인제군     길이   272  1월

In [179]:
df_7.drop([3,5, 10,11, 17,18, 19,22, 23,25, 26,28, 33,35, 36,37, 38,40, 43,49], axis = 0 , inplace = True)

In [180]:
df_7.reset_index(drop = True, inplace = True)

In [ ]:
#----------------------------------------------------------------------------------------------------------

In [183]:
df_8 = pd.read_csv('./키워드 분석 데이터/1월 장흥군 키워드.csv', encoding = 'cp949')

In [184]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [185]:
df_8['지역'] = '장흥군'

In [186]:
df_8['월'] = '1월'

In [190]:
df_8

     지역   키워드   언급수   월
0   장흥군    장흥  1023  1월
1   장흥군    여행   929  1월
2   장흥군    사진   666  1월
3   장흥군    바다   378  1월
4   장흥군    카페   365  1월
5   장흥군    맛집   335  1월
6   장흥군    축제   334  1월
7   장흥군    광주   314  1월
8   장흥군    겨울   313  1월
9   장흥군    버스   299  1월
10  장흥군    식당   274  1월
11  장흥군     섬   256  1월
12  장흥군    공원   240  1월
13  장흥군     산   226  1월
14  장흥군    강진   214  1월
15  장흥군    자연   210  1월
16  장흥군     굴   210  1월
17  장흥군    목포   210  1월
18  장흥군  눈썰매장   209  1월
19  장흥군    숙소   207  1월
20  장흥군    풍경   207  1월
21  장흥군  유스퀘어   201  1월
22  장흥군    전남   194  1월
23  장흥군   전망대   191  1월
24  장흥군    시장   189  1월
25  장흥군    문화   186  1월
26  장흥군    보성   185  1월
27  장흥군   코로나   182  1월
28  장흥군    양주   177  1월
29  장흥군    작품   173  1월

In [188]:
df_8.drop([3,4, 5,6, 7,14, 17 ,19, 21,23, 29,33, 34,38, 39,40, 43,41, 46,47], axis = 0 , inplace = True)

In [189]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#-----------------------------------------------------------------------------------------------

In [191]:
df_9 = pd.read_csv('./키워드 분석 데이터/1월 제주시 키워드.csv', encoding = 'cp949')

In [192]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [193]:
df_9['지역'] = '제주시'

In [194]:
df_9['월'] = '1월'

In [198]:
df_9

     지역  키워드   언급수   월
0   제주시   제주  2757  1월
1   제주시  제주도  1575  1월
2   제주시   여행  1464  1월
3   제주시  제주시  1188  1월
4   제주시   카페   974  1월
5   제주시   사진   919  1월
6   제주시   맛집   889  1월
7   제주시   시간   869  1월
8   제주시   공항   645  1월
9   제주시   메뉴   597  1월
10  제주시   호텔   515  1월
11  제주시   숙소   510  1월
12  제주시   바다   465  1월
13  제주시   주차   456  1월
14  제주시   고기   401  1월
15  제주시    밥   369  1월
16  제주시   돼지   339  1월
17  제주시   식당   326  1월
18  제주시   커피   316  1월
19  제주시   새우   315  1월
20  제주시   김밥   315  1월
21  제주시   음식   314  1월
22  제주시   전복   285  1월
23  제주시   겨울   277  1월
24  제주시   라면   270  1월
25  제주시   시장   265  1월
26  제주시    뷰   265  1월
27  제주시  분위기   264  1월
28  제주시  해장국   257  1월
29  제주시  비행기   240  1월

In [196]:
df_9.drop([4,9, 11,12, 14,17, 19,23, 24,25, 32,33, 35,37, 42,44, 45,46, 47,49], axis = 0 , inplace = True)

In [197]:
df_9.reset_index(drop = True, inplace = True)

In [202]:
df = pd.concat([df, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9])

In [204]:
df.reset_index(drop = True, inplace = True)

In [205]:
df.to_csv('1월 키워드 데이터.csv', encoding = 'cp949')

## 2월 언급량 top10 데이터 전처리

In [2]:
df_1 = pd.read_csv('./키워드 분석 데이터/2월 거제시 키워드.csv', encoding = 'cp949')

In [3]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [4]:
df_1['지역'] = '거제시'

In [5]:
df_1['월'] = '2월'

In [14]:
df_1

     지역  키워드   언급수   월
0   거제시   거제  3180  2월
1   거제시   여행  1733  2월
2   거제시  거제도  1622  2월
3   거제시   카페  1258  2월
4   거제시   사진  1231  2월
5   거제시   바다  1173  2월
6   거제시    뷰   770  2월
7   거제시   맛집   729  2월
8   거제시  거제시   691  2월
26  거제시  포토존   606  2월
9   거제시   주차   518  2월
10  거제시   숙소   498  2월
11  거제시   커피   471  2월
12  거제시   경남   411  2월
13  거제시   오션   379  2월
14  거제시    집   367  2월
15  거제시   펜션   361  2월
16  거제시   언덕   356  2월
17  거제시   외도   354  2월
18  거제시   가족   347  2월
19  거제시    배   326  2월
20  거제시   호텔   324  2월
21  거제시   풍경   321  2월
22  거제시   날씨   313  2월
23  거제시   김밥   311  2월
24  거제시    섬   311  2월
25  거제시    밥   310  2월
27  거제시   겨울   279  2월
28  거제시  분위기   269  2월
29  거제시    회   264  2월

In [7]:
df_1.drop([6,8, 11,12, 13,14, 15,16, 18,19, 21,23, 24,25, 36,38, 43,44, 47,49] ,axis = 0, inplace = True)

In [8]:
df_1.reset_index(drop = True, inplace = True)

In [10]:
df_1.loc[26, '키워드'] = '포토존'

In [11]:
df_1.loc[26, '언급수'] = 606

In [13]:
df_1.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#----------------------------------------------------------------------------------------------------------

In [15]:
df_2 = pd.read_csv('./키워드 분석 데이터/2월 경주시 키워드.csv', encoding = 'cp949')

In [16]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [17]:
df_2['지역'] = '경주시'

In [18]:
df_2['월'] = '2월'

In [28]:
df_2

     지역  키워드   언급수   월
0   경주시   경주  4529  2월
1   경주시   여행  2133  2월
2   경주시   사진  1224  2월
3   경주시   카페   903  2월
4   경주시   숙소   740  2월
5   경주시  월정교   704  2월
6   경주시  첨성대   632  2월
7   경주시  경주시   600  2월
8   경주시  불국사   556  2월
9   경주시   맛집   520  2월
10  경주시   주차   483  2월
11  경주시   대릉   480  2월
12  경주시    빵   423  2월
13  경주시   신라   392  2월
14  경주시   경북   389  2월
15  경주시   바다   389  2월
16  경주시   커피   374  2월
17  경주시  분위기   362  2월
18  경주시   가족   350  2월
19  경주시   호텔   339  2월
20  경주시   펜션   334  2월
21  경주시   겨울   294  2월
22  경주시   식당   293  2월
23  경주시   체험   285  2월
24  경주시   추억   284  2월
25  경주시   동궁   283  2월
26  경주시    뷰   272  2월
27  경주시   저녁   271  2월
28  경주시    밥   271  2월
29  경주시   날씨   266  2월

In [20]:
df_2.drop([3,5, 6,10, 13,15, 16,12, 19,21, 22,23, 27,29, 31,36, 37,43, 44,48] ,axis = 0, inplace = True)

In [27]:
df_2.reset_index(drop = True, inplace = True)

In [22]:
df_2.loc[35, '키워드'] = '월정교'

In [24]:
df_2.loc[35, '언급수'] = 704

In [25]:
df_2.sort_values('언급수', ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------------------

In [35]:
df_3 = pd.read_csv('./키워드 분석 데이터/2월 군산시 키워드.csv', encoding = 'cp949')

In [36]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [37]:
df_3['지역'] = '군산시'

In [38]:
df_3['월'] = '2월'

In [43]:
df_3

     지역  키워드   언급수   월
0   군산시   군산  3471  2월
1   군산시   여행  1118  2월
2   군산시   사진   819  2월
3   군산시   카페   643  2월
4   군산시  선유도   522  2월
5   군산시   맛집   519  2월
6   군산시   바다   500  2월
7   군산시  군산시   488  2월
8   군산시    빵   436  2월
9   군산시   버스   399  2월
10  군산시   철길   393  2월
11  군산시   주차   367  2월
12  군산시   메뉴   345  2월
13  군산시   역사   316  2월
14  군산시   짬뽕   305  2월
15  군산시    섬   278  2월
16  군산시   공원   261  2월
17  군산시   대장   257  2월
18  군산시  이성당   255  2월
19  군산시   호텔   250  2월
20  군산시  새만금   248  2월
21  군산시   영화   248  2월
22  군산시    밥   246  2월
23  군산시  사진관   244  2월
24  군산시   커피   243  2월
25  군산시    회   233  2월
26  군산시   풍경   221  2월
27  군산시   가족   213  2월
28  군산시   숙소   201  2월
29  군산시  분위기   195  2월

In [40]:
df_3.drop([3,5, 6,11, 12,14, 15,21, 22,24, 25,27, 29,39, 43,45, 28,47, 48,49] ,axis = 0, inplace = True)

In [42]:
df_3.reset_index(drop = True, inplace = True)

In [ ]:
#----------------------------------------------------------------------------------------------------

In [71]:
df_4 = pd.read_csv('./키워드 분석 데이터/2월 서귀포시 키워드.csv', encoding = 'cp949')

In [72]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [73]:
df_4['지역'] = '서귀포시'

In [74]:
df_4['월'] = '2월'

In [78]:
df_4

      지역   키워드   언급수   월
0   서귀포시    제주  3099  2월
1   서귀포시    여행  2233  2월
2   서귀포시   제주도  2117  2월
3   서귀포시    사진  1374  2월
4   서귀포시    카페   992  2월
5   서귀포시  서귀포시   785  2월
6   서귀포시    바다   713  2월
7   서귀포시    숙소   661  2월
8   서귀포시   서귀포   617  2월
9   서귀포시    호텔   555  2월
10  서귀포시    맛집   551  2월
11  서귀포시   유채꽃   549  2월
12  서귀포시    돼지   452  2월
13  서귀포시    식당   438  2월
14  서귀포시    주차   436  2월
15  서귀포시    날씨   386  2월
16  서귀포시    풍경   385  2월
17  서귀포시   산방산   382  2월
18  서귀포시     뷰   381  2월
19  서귀포시    체험   368  2월
20  서귀포시    가족   349  2월
21  서귀포시    우도   347  2월
22  서귀포시     귤   335  2월
23  서귀포시     봄   322  2월
24  서귀포시    고기   318  2월
25  서귀포시     꽃   318  2월
26  서귀포시    해변   301  2월
27  서귀포시   동백꽃   298  2월
28  서귀포시    전복   288  2월
29  서귀포시    커피   287  2월

In [76]:
df_4.drop([5,7, 8,11, 12,14, 18,19, 21,24, 25,30, 33,44, 48,32, 45,43, 40,49] ,axis = 0, inplace = True)

In [77]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [79]:
df_5 = pd.read_csv('./키워드 분석 데이터/2월 속초시 키워드.csv', encoding = 'cp949')

In [80]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [81]:
df_5['지역'] = '속초시'

In [82]:
df_5['월'] = '2월'

In [86]:
df_5

     지역   키워드   언급수   월
0   속초시    속초  4887  2월
1   속초시    여행  1605  2월
2   속초시    바다  1196  2월
3   속초시    카페   912  2월
4   속초시    맛집   909  2월
5   속초시    사진   798  2월
6   속초시   강원도   746  2월
7   속초시     뷰   630  2월
8   속초시     회   587  2월
9   속초시   속초시   575  2월
10  속초시    대게   553  2월
11  속초시   설악산   549  2월
12  속초시    주차   548  2월
13  속초시    물회   512  2월
14  속초시    숙소   492  2월
15  속초시    커피   470  2월
16  속초시    호텔   464  2월
17  속초시  중앙시장   436  2월
18  속초시  해수욕장   411  2월
19  속초시     게   403  2월
20  속초시   닭강정   396  2월
21  속초시     밥   359  2월
22  속초시    식당   345  2월
23  속초시    음식   320  2월
24  속초시    청초   299  2월
25  속초시    가게   294  2월
26  속초시   순두부   292  2월
27  속초시   칼국수   290  2월
28  속초시     배   284  2월
29  속초시     빵   283  2월

In [84]:
df_5.drop([2,7, 9,10, 12,14, 19,20, 25,26, 31,32, 34,35, 37,42, 46,48, 38,40] ,axis = 0, inplace = True)

In [85]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------------

In [87]:
df_6 = pd.read_csv('./키워드 분석 데이터/2월 신안군 키워드.csv', encoding = 'cp949')

In [88]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [89]:
df_6['지역'] = '신안군'

In [90]:
df_6['월'] = '2월'

In [94]:
df_6

     지역   키워드   언급수   월
0   신안군     섬  1563  2월
1   신안군    신안   834  2월
2   신안군    여행   678  2월
3   신안군    퍼플   592  2월
4   신안군   신안군   432  2월
5   신안군    바다   388  2월
6   신안군    다리   354  2월
7   신안군    대교   349  2월
8   신안군   자은도   318  2월
9   신안군   리조트   310  2월
10  신안군   보라색   303  2월
11  신안군   가거도   280  2월
12  신안군    사진   273  2월
13  신안군    반월   269  2월
14  신안군    펜션   247  2월
15  신안군    소금   246  2월
16  신안군    공원   241  2월
17  신안군    해변   222  2월
18  신안군    바위   217  2월
19  신안군    전남   211  2월
20  신안군    풍경   200  2월
21  신안군     산   198  2월
22  신안군    관광   193  2월
23  신안군     배   187  2월
24  신안군    박지   186  2월
25  신안군    증도   183  2월
26  신안군  해수욕장   178  2월
27  신안군    바람   162  2월
28  신안군    지도   162  2월
29  신안군    겨울   155  2월

In [92]:
df_6.drop([48,6, 49,12, 13,16, 18,19, 20,24, 26,28, 32,35, 37,39, 41,42, 45,46] ,axis = 0, inplace = True)

In [93]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#-------------------------------------------------------------------------------------------------------------

In [95]:
df_7 = pd.read_csv('./키워드 분석 데이터/2월 여수시 키워드.csv', encoding = 'cp949')

In [96]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [97]:
df_7['지역'] = '여수시'

In [98]:
df_7['월'] = '2월'

In [102]:
df_7

     지역   키워드   언급수   월
0   여수시    여수  5265  2월
1   여수시    여행  1934  2월
2   여수시    바다  1609  2월
3   여수시    사진  1085  2월
4   여수시    카페  1025  2월
5   여수시    맛집   821  2월
6   여수시   오동도   817  2월
7   여수시     뷰   695  2월
8   여수시    게장   690  2월
9   여수시   이순신   630  2월
10  여수시    호텔   627  2월
11  여수시   여수시   620  2월
12  여수시    주차   542  2월
13  여수시  케이블카   533  2월
14  여수시     밤   512  2월
15  여수시    버거   444  2월
16  여수시    갈치   434  2월
17  여수시    숙소   428  2월
18  여수시    광장   425  2월
19  여수시    낭만   416  2월
20  여수시     섬   408  2월
21  여수시    식당   388  2월
22  여수시   향일암   373  2월
23  여수시    공원   368  2월
24  여수시     밥   368  2월
25  여수시    음식   366  2월
26  여수시     빵   363  2월
27  여수시    오션   355  2월
28  여수시    김밥   344  2월
29  여수시    풍경   333  2월

In [100]:
df_7.drop([5,6, 11,15, 16,17, 19,22, 23,25, 32,33, 41,43, 46,39, 47,48, 49,45] ,axis = 0, inplace = True)

In [101]:
df_7.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------------

In [103]:
df_8 = pd.read_csv('./키워드 분석 데이터/2월 제주시 키워드.csv', encoding = 'cp949')

In [104]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [105]:
df_8['지역'] = '제주시'

In [106]:
df_8['월'] = '2월'

In [110]:
df_8

     지역  키워드   언급수   월
0   제주시   제주  2518  2월
1   제주시  제주도  1571  2월
2   제주시   여행  1398  2월
3   제주시  제주시  1334  2월
4   제주시   사진  1023  2월
5   제주시   카페   945  2월
6   제주시   맛집   929  2월
7   제주시   공항   688  2월
8   제주시   숙소   541  2월
9   제주시   고기   529  2월
10  제주시   식당   518  2월
11  제주시   호텔   463  2월
12  제주시   바다   432  2월
13  제주시    밥   402  2월
14  제주시   김밥   353  2월
15  제주시   돼지   350  2월
16  제주시   주차   346  2월
17  제주시   커피   335  2월
18  제주시   음식   335  2월
19  제주시   시장   325  2월
20  제주시   새우   317  2월
21  제주시   우도   314  2월
22  제주시   가게   288  2월
23  제주시   식사   279  2월
24  제주시   갈치   270  2월
25  제주시  분위기   267  2월
26  제주시   저녁   263  2월
27  제주시    뷰   251  2월
28  제주시    게   232  2월
29  제주시   국수   225  2월

In [108]:
df_8.drop([4,8, 10,11, 12,13, 14,18, 20,23, 30,32, 34,35, 40,42, 44,45, 46,48] ,axis = 0, inplace = True)

In [109]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------------

In [111]:
df_9 = pd.read_csv('./키워드 분석 데이터/2월 춘천시 키워드.csv', encoding = 'cp949')

In [112]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [113]:
df_9['지역'] = '춘천시'

In [114]:
df_9['월'] = '2월'

In [118]:
df_9

     지역   키워드   언급수   월
0   춘천시    춘천  2318  2월
1   춘천시    여행   918  2월
2   춘천시   닭갈비   799  2월
3   춘천시    감자   784  2월
4   춘천시    카페   773  2월
5   춘천시    사진   601  2월
6   춘천시     빵   581  2월
7   춘천시   남이섬   508  2월
8   춘천시   춘천시   426  2월
9   춘천시    호텔   415  2월
10  춘천시   강원도   408  2월
11  춘천시    맛집   403  2월
12  춘천시    펜션   366  2월
13  춘천시   막국수   310  2월
14  춘천시    주차   300  2월
15  춘천시    커피   293  2월
16  춘천시    강원   241  2월
17  춘천시    고기   224  2월
18  춘천시    가족   217  2월
19  춘천시    가평   216  2월
20  춘천시   소양강   214  2월
21  춘천시    숙소   210  2월
22  춘천시  케이블카   208  2월
23  춘천시     밭   203  2월
24  춘천시   분위기   202  2월
25  춘천시   스카이   201  2월
26  춘천시    체험   201  2월
27  춘천시    음식   196  2월
28  춘천시     뷰   195  2월
29  춘천시     산   185  2월

In [116]:
df_9.drop([5,6, 9,11, 12,13, 19,20, 21,26, 25,27, 28,30, 31,40, 43,46, 48,49] ,axis = 0, inplace = True)

In [117]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------------------

In [119]:
df_10 = pd.read_csv('./키워드 분석 데이터/2월 태안군 키워드.csv', encoding = 'cp949')

In [120]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [121]:
df_10['지역'] = '태안군'

In [122]:
df_10['월'] = '2월'

In [126]:
df_10

     지역   키워드   언급수   월
0   태안군    태안  2025  2월
1   태안군   안면도  1462  2월
2   태안군    여행  1322  2월
3   태안군    펜션  1320  2월
4   태안군    바다  1186  2월
5   태안군  해수욕장   911  2월
6   태안군    사진   651  2월
7   태안군    맛집   635  2월
8   태안군    카페   557  2월
9   태안군    체험   539  2월
10  태안군    충남   509  2월
11  태안군   게국지   498  2월
12  태안군   태안군   459  2월
13  태안군     뷰   427  2월
14  태안군    꽃게   401  2월
15  태안군    가족   400  2월
16  태안군    해변   396  2월
17  태안군    보령   355  2월
18  태안군   바베큐   353  2월
19  태안군    겨울   337  2월
20  태안군    꽃지   336  2월
21  태안군    조개   334  2월
22  태안군  해저터널   331  2월
23  태안군    안면   289  2월
24  태안군    갯벌   278  2월
25  태안군    오션   269  2월
26  태안군    커피   262  2월
27  태안군    식당   258  2월
28  태안군   칼국수   257  2월
29  태안군     산   254  2월

In [124]:
df_10.drop([6,11, 14,16, 17,19, 23,24, 31,32, 33,34, 35,38, 42,46, 47,48, 49,41] ,axis = 0, inplace = True)

In [125]:
df_10.reset_index(drop = True, inplace = True)

In [127]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [128]:
df.reset_index(drop = True, inplace = True)

In [129]:
df.to_csv('2월 키워드 데이터.csv', encoding = 'cp949')

## 3월 언급량 키워드 데이터 전처리

In [131]:
df_1 = pd.read_csv('./키워드 분석 데이터/3월 강릉시 키워드.csv', encoding = 'cp949')

In [132]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [133]:
df_1['지역'] = '강릉시'

In [134]:
df_1['월'] = '3월'

In [138]:
df_1

     지역  키워드   언급수   월
0   강릉시   강릉  4357  3월
1   강릉시   여행  1887  3월
2   강릉시   바다  1478  3월
3   강릉시   사진  1462  3월
4   강릉시   카페  1110  3월
5   강릉시   해변  1059  3월
6   강릉시   커피   930  3월
7   강릉시   맛집   749  3월
8   강릉시   호텔   708  3월
9   강릉시  강원도   685  3월
10  강릉시  강릉시   643  3월
11  강릉시   숙소   617  3월
12  강릉시  주문진   577  3월
13  강릉시  순두부   550  3월
14  강릉시    뷰   518  3월
15  강릉시   주차   488  3월
16  강릉시    빵   483  3월
17  강릉시    회   428  3월
18  강릉시   강문   320  3월
19  강릉시   초당   315  3월
20  강릉시   대게   314  3월
21  강릉시   친구   312  3월
22  강릉시   공원   304  3월
23  강릉시   오션   303  3월
24  강릉시    밥   303  3월
25  강릉시  아르떼   303  3월
26  강릉시   동해   299  3월
27  강릉시   아침   295  3월
28  강릉시   음식   294  3월
29  강릉시  막국수   294  3월

In [136]:
df_1.drop([4,7, 9,12, 16,18, 21,22, 25,27, 28,29, 30,32, 34,43, 48,49, 36,47] ,axis = 0, inplace = True)

In [137]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [139]:
df_2 = pd.read_csv('./키워드 분석 데이터/3월 거제시 키워드.csv', encoding = 'cp949')

In [140]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [141]:
df_2['지역'] = '거제시'

In [142]:
df_2['월'] = '3월'

In [146]:
df_2

     지역   키워드   언급수   월
0   거제시    거제  3334  3월
1   거제시    여행  1933  3월
2   거제시   거제도  1671  3월
3   거제시    바다  1344  3월
4   거제시    사진  1285  3월
5   거제시   거제시   842  3월
6   거제시    카페   773  3월
7   거제시     뷰   670  3월
8   거제시    외도   614  3월
9   거제시    맛집   554  3월
10  거제시     섬   549  3월
11  거제시   유람선   506  3월
12  거제시    풍경   486  3월
13  거제시    경남   475  3월
14  거제시    매미   467  3월
15  거제시    주차   461  3월
16  거제시    숙소   403  3월
17  거제시    커피   376  3월
18  거제시     배   371  3월
19  거제시    공원   371  3월
20  거제시    펜션   370  3월
21  거제시   해금강   365  3월
22  거제시    날씨   352  3월
23  거제시    포토   349  3월
24  거제시    가족   348  3월
25  거제시   전망대   347  3월
26  거제시    호텔   321  3월
27  거제시   수선화   320  3월
28  거제시  케이블카   317  3월
29  거제시     봄   314  3월

In [144]:
df_2.drop([5,7, 10,12, 13,16, 18,19, 22,25, 26,27, 29,30, 31,33, 35,38, 44,49] ,axis = 0, inplace = True)

In [145]:
df_2.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [147]:
df_3 = pd.read_csv('./키워드 분석 데이터/3월 경주시 키워드.csv', encoding = 'cp949')

In [148]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [149]:
df_3['지역'] = '경주시'

In [150]:
df_3['월'] = '3월'

In [154]:
df_3

     지역  키워드   언급수   월
0   경주시   경주  4668  3월
1   경주시   여행  1888  3월
2   경주시   사진  1444  3월
3   경주시   벚꽃  1174  3월
4   경주시   카페   850  3월
5   경주시  경주시   674  3월
6   경주시   대릉   605  3월
7   경주시   맛집   537  3월
8   경주시   주차   507  3월
9   경주시  첨성대   499  3월
10  경주시  불국사   423  3월
11  경주시    빵   418  3월
12  경주시   호텔   398  3월
13  경주시   체험   365  3월
14  경주시    봄   362  3월
15  경주시   가족   351  3월
16  경주시   커피   349  3월
17  경주시   포토   349  3월
18  경주시   바다   346  3월
19  경주시   신라   342  3월
20  경주시    풀   335  3월
21  경주시   나무   330  3월
22  경주시    꽃   325  3월
23  경주시   날씨   319  3월
24  경주시  분위기   312  3월
25  경주시   식당   312  3월
26  경주시   펜션   302  3월
27  경주시   동궁   299  3월
28  경주시   빌라   297  3월
29  경주시   저녁   294  3월

In [152]:
df_3.drop([4,6, 8,10, 11,12, 13,15, 16,19, 20,21, 22,26, 27,29, 31,32, 41,42] ,axis = 0, inplace = True)

In [153]:
df_3.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [155]:
df_4 = pd.read_csv('./키워드 분석 데이터/3월 서귀포시 키워드.csv', encoding = 'cp949')

In [156]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [157]:
df_4['지역'] = '서귀포시'

In [158]:
df_4['월'] = '3월'

In [168]:
df_4

      지역   키워드   언급수   월
0   서귀포시    제주  3181  3월
1   서귀포시    여행  2317  3월
2   서귀포시   제주도  2213  3월
3   서귀포시    사진  1637  3월
4   서귀포시    카페  1069  3월
5   서귀포시   유채꽃   911  3월
6   서귀포시  서귀포시   822  3월
7   서귀포시   서귀포   751  3월
8   서귀포시    바다   726  3월
9   서귀포시   포토존   625  3월
10  서귀포시    호텔   612  3월
11  서귀포시    숙소   592  3월
12  서귀포시    맛집   562  3월
13  서귀포시     꽃   491  3월
14  서귀포시    주차   462  3월
15  서귀포시     봄   435  3월
16  서귀포시    날씨   435  3월
17  서귀포시    풍경   415  3월
18  서귀포시    공원   377  3월
19  서귀포시     뷰   372  3월
20  서귀포시    돼지   365  3월
21  서귀포시   산방산   364  3월
22  서귀포시    우도   361  3월
23  서귀포시     밭   358  3월
24  서귀포시    벚꽃   344  3월
25  서귀포시    체험   334  3월
26  서귀포시    갈치   328  3월
27  서귀포시    가족   323  3월
28  서귀포시    나무   314  3월
29  서귀포시   마라도   301  3월

In [160]:
df_4.drop([5,7, 11,12, 13,17, 18,21, 25,26, 27,29, 32,38, 41,45, 44,49, 48,47] ,axis = 0, inplace = True)

In [167]:
df_4.reset_index(drop = True, inplace = True)

In [162]:
df_4.loc[42 , '키워드'] = '포토존'

In [165]:
df_4.loc[42 , '언급수'] = 625

In [166]:
df_4.sort_values('언급수', ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [169]:
df_5 = pd.read_csv('./키워드 분석 데이터/3월 신안군 키워드.csv', encoding = 'cp949')

In [170]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [171]:
df_5['지역'] = '강릉시'

In [172]:
df_5['월'] = '3월'

In [176]:
df_5

     지역  키워드   언급수   월
0   강릉시    섬  1231  3월
1   강릉시   신안   651  3월
2   강릉시   여행   612  3월
3   강릉시  신안군   431  3월
4   강릉시   바다   383  3월
5   강릉시   목포   352  3월
6   강릉시    꽃   332  3월
7   강릉시   퍼플   316  3월
8   강릉시   다리   307  3월
9   강릉시   전남   269  3월
10  강릉시   사진   249  3월
11  강릉시   자연   242  3월
12  강릉시    산   224  3월
13  강릉시  박물관   208  3월
14  강릉시    봄   196  3월
15  강릉시   갯벌   186  3월
16  강릉시   대교   185  3월
17  강릉시   관광   185  3월
18  강릉시   풍경   183  3월
19  강릉시   증도   181  3월
20  강릉시  보라색   181  3월
21  강릉시   축제   180  3월
22  강릉시   공원   179  3월
23  강릉시   반월   174  3월
24  강릉시    배   170  3월
25  강릉시   마산   164  3월
26  강릉시   조개   160  3월
27  강릉시   해변   154  3월
28  강릉시   방문   143  3월
29  강릉시   작품   141  3월

In [174]:
df_5.drop([3,6, 7,10, 17,19, 20,22, 24,27, 28,33, 37,39, 41,42, 44,45, 46,49] ,axis = 0, inplace = True)

In [175]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [177]:
df_6 = pd.read_csv('./키워드 분석 데이터/3월 여수시 키워드.csv', encoding = 'cp949')

In [178]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [179]:
df_6['지역'] = '여수시'

In [180]:
df_6['월'] = '3월'

In [184]:
df_6

     지역   키워드   언급수   월
0   여수시    여수  5846  3월
1   여수시    여행  2116  3월
2   여수시    바다  1649  3월
3   여수시    사진  1306  3월
4   여수시    카페   913  3월
5   여수시   오동도   796  3월
6   여수시     밤   663  3월
7   여수시    맛집   662  3월
8   여수시     뷰   643  3월
9   여수시    호텔   624  3월
10  여수시    게장   616  3월
11  여수시   이순신   591  3월
12  여수시   여수시   575  3월
13  여수시    공원   546  3월
14  여수시    주차   476  3월
15  여수시     섬   475  3월
16  여수시    낭만   447  3월
17  여수시  케이블카   441  3월
18  여수시    광장   426  3월
19  여수시   동백꽃   400  3월
20  여수시    숙소   398  3월
21  여수시    오션   387  3월
22  여수시    김밥   383  3월
23  여수시    포차   382  3월
24  여수시   아르떼   375  3월
25  여수시    돌산   370  3월
26  여수시    가족   360  3월
27  여수시   갓김치   357  3월
28  여수시    풍경   352  3월
29  여수시    야경   337  3월

In [182]:
df_6.drop([4,6, 10,12, 18,19, 20,23, 26,28, 29,31, 37,38, 42,44, 45,47, 48,49] ,axis = 0, inplace = True)

In [183]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [185]:
df_7 = pd.read_csv('./키워드 분석 데이터/3월 인제군 키워드.csv', encoding = 'cp949')

In [186]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [187]:
df_7['지역'] = '인제군'

In [188]:
df_7['월'] = '3월'

In [192]:
df_7

     지역    키워드   언급수   월
0   인제군     여행  1484  3월
1   인제군     인제  1413  3월
2   인제군     사진  1221  3월
3   인제군    강원도   677  3월
4   인제군     카페   549  3월
5   인제군   자작나무   540  3월
6   인제군     속초   492  3월
7   인제군     숙소   456  3월
8   인제군  자작나무숲   448  3월
9   인제군     겨울   442  3월
10  인제군      숲   428  3월
11  인제군     황태   427  3월
12  인제군     맛집   414  3월
13  인제군     바다   408  3월
14  인제군     호텔   339  3월
15  인제군     식당   327  3월
16  인제군     커피   327  3월
17  인제군     친구   315  3월
18  인제군      산   314  3월
19  인제군     버스   297  3월
20  인제군      게   293  3월
21  인제군     구이   282  3월
22  인제군     예약   279  3월
23  인제군     저녁   278  3월
24  인제군     주차   276  3월
25  인제군      밥   275  3월
26  인제군     날씨   272  3월
27  인제군     풍경   267  3월
28  인제군    막국수   264  3월
29  인제군     메뉴   254  3월

In [190]:
df_7.drop([3,4, 5,6, 13,18, 20,21, 25,26, 27,30, 31,32, 34,36, 45,47, 48,49] ,axis = 0, inplace = True)

In [191]:
df_7.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [206]:
df_8 = pd.read_csv('./키워드 분석 데이터/3월 장흥군 키워드.csv', encoding = 'cp949')

In [207]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [208]:
df_8['지역'] = '장흥군'

In [209]:
df_8['월'] = '3월'

In [213]:
df_8

     지역  키워드  언급수   월
0   장흥군   장흥  905  3월
1   장흥군   여행  839  3월
2   장흥군   사진  556  3월
3   장흥군   바다  321  3월
4   장흥군    꽃  302  3월
5   장흥군   카페  289  3월
6   장흥군    봄  279  3월
7   장흥군   공원  244  3월
8   장흥군    산  234  3월
9   장흥군    숲  222  3월
10  장흥군   강진  202  3월
11  장흥군   버스  201  3월
12  장흥군   자연  197  3월
13  장흥군    섬  196  3월
14  장흥군   맛집  194  3월
15  장흥군   나무  178  3월
16  장흥군   작품  178  3월
17  장흥군   풍경  171  3월
18  장흥군  정남진  168  3월
19  장흥군   다리  166  3월
20  장흥군    책  164  3월
21  장흥군   작가  163  3월
22  장흥군   체험  162  3월
23  장흥군   친구  160  3월
24  장흥군   식당  154  3월
25  장흥군    빵  153  3월
26  장흥군    게  153  3월
27  장흥군   숙소  152  3월
28  장흥군   하늘  150  3월
29  장흥군   음식  149  3월

In [211]:
df_8.drop([2,4, 5,6, 7,13, 15,17, 19,24, 25,28, 30,31, 34,37, 38,41, 48,49] ,axis = 0, inplace = True)

In [212]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [214]:
df_9 = pd.read_csv('./키워드 분석 데이터/3월 제주시 키워드.csv', encoding = 'cp949')

In [215]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [216]:
df_9['지역'] = '제주시'

In [217]:
df_9['월'] = '3월'

In [221]:
df_9

     지역  키워드   언급수   월
0   제주시   제주  2530  3월
1   제주시  제주도  1608  3월
2   제주시  제주시  1501  3월
3   제주시   여행  1415  3월
4   제주시   카페   917  3월
5   제주시   사진   878  3월
6   제주시   맛집   832  3월
7   제주시   공항   675  3월
8   제주시   고기   558  3월
9   제주시   호텔   526  3월
10  제주시   숙소   472  3월
11  제주시   돼지   458  3월
12  제주시   바다   456  3월
13  제주시   주차   380  3월
14  제주시   음식   379  3월
15  제주시    밥   368  3월
16  제주시   커피   360  3월
17  제주시   식당   323  3월
18  제주시   새우   318  3월
19  제주시  분위기   291  3월
20  제주시   식사   280  3월
21  제주시   와인   263  3월
22  제주시   날씨   261  3월
23  제주시   아침   258  3월
24  제주시   벚꽃   248  3월
25  제주시   시장   245  3월
26  제주시    뷰   244  3월
27  제주시   친구   242  3월
28  제주시   국물   237  3월
29  제주시   갈치   229  3월

In [219]:
df_9.drop([4,6, 9,10, 12,15, 16,17, 21,26, 27,28, 31,32, 33,36, 37,39, 42,48] ,axis = 0, inplace = True)

In [220]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [222]:
df_10 = pd.read_csv('./키워드 분석 데이터/3월 태안군 키워드.csv', encoding = 'cp949')

In [223]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [224]:
df_10['지역'] = '태안군'

In [225]:
df_10['월'] = '3월'

In [229]:
df_10

     지역   키워드   언급수   월
0   태안군    태안  3243  3월
1   태안군    여행  1854  3월
2   태안군    바다  1615  3월
3   태안군    사진  1289  3월
4   태안군    펜션  1267  3월
5   태안군    카페  1098  3월
6   태안군  해수욕장  1035  3월
7   태안군   안면도   665  3월
8   태안군    숙소   649  3월
9   태안군    커피   587  3월
10  태안군     뷰   566  3월
11  태안군    맛집   562  3월
12  태안군   바베큐   488  3월
13  태안군   게국지   435  3월
14  태안군    해변   402  3월
15  태안군    가족   386  3월
16  태안군    조개   386  3월
17  태안군    날씨   377  3월
18  태안군    체험   354  3월
19  태안군   해안사   335  3월
20  태안군    서해   317  3월
21  태안군    주차   316  3월
22  태안군    풍경   311  3월
23  태안군    동굴   295  3월
24  태안군     밥   282  3월
25  태안군    식당   271  3월
26  태안군    고기   267  3월
27  태안군    갯벌   263  3월
28  태안군     봄   257  3월
29  태안군    꽃게   255  3월

In [227]:
df_10.drop([7,8, 11,15, 16,18, 19,21, 22,24, 28,30, 31,33, 34,38, 42,43, 45,40] ,axis = 0, inplace = True)

In [228]:
df_10.reset_index(drop = True, inplace = True)

In [230]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [231]:
df.reset_index(drop = True, inplace = True)

In [232]:
df.to_csv('3월 키워드 데이터.csv', encoding = 'cp949')

In [ ]:
#--------------------------------------------------------------------------------------

In [234]:
df_1 = pd.read_csv('./키워드 분석 데이터/4월 강릉시 키워드.csv', encoding = 'cp949')

In [235]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [236]:
df_1['지역'] = '강릉시'

In [237]:
df_1['월'] = '4월'

In [241]:
df_1

     지역   키워드   언급수   월
0   강릉시    강릉  4265  4월
1   강릉시    여행  1788  4월
2   강릉시    바다  1203  4월
3   강릉시    카페  1144  4월
4   강릉시    사진  1077  4월
5   강릉시    해변   978  4월
6   강릉시    커피   826  4월
7   강릉시    호텔   721  4월
8   강릉시   강릉시   652  4월
9   강릉시    맛집   570  4월
10  강릉시   순두부   568  4월
11  강릉시     뷰   537  4월
12  강릉시    벚꽃   532  4월
13  강릉시    숙소   482  4월
14  강릉시    관광   480  4월
15  강릉시    주차   450  4월
16  강릉시     빵   430  4월
17  강릉시  중앙시장   352  4월
18  강릉시    초당   343  4월
19  강릉시     회   322  4월
20  강릉시    오션   314  4월
21  강릉시    경포   309  4월
22  강릉시    짬뽕   295  4월
23  강릉시   주문진   293  4월
24  강릉시     밥   283  4월
25  강릉시    가족   280  4월
26  강릉시    신라   278  4월
27  강릉시   분위기   277  4월
28  강릉시   칼국수   276  4월
29  강릉시    공원   272  4월

In [239]:
df_1.drop([4,7, 10,12, 13,19, 20,23, 25,27, 28,31, 42,43, 45,14, 46,47, 48,49] ,axis = 0, inplace = True)

In [240]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [242]:
df_2 = pd.read_csv('./키워드 분석 데이터/4월 경주시 키워드.csv', encoding = 'cp949')

In [243]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [244]:
df_2['지역'] = '경주시'

In [245]:
df_2['월'] = '4월'

In [258]:
df_2

     지역  키워드   언급수   월
0   경주시   경주  5053  4월
1   경주시   벚꽃  2431  4월
2   경주시   여행  2144  4월
3   경주시   사진  1664  4월
4   경주시  불국사   732  4월
5   경주시  포토존   713  4월
6   경주시   카페   706  4월
7   경주시   대릉   694  4월
8   경주시   숙소   693  4월
9   경주시  경주시   676  4월
10  경주시  월정교   673  4월
11  경주시  첨성대   604  4월
12  경주시   주차   587  4월
13  경주시   맛집   534  4월
14  경주시   보문   513  4월
15  경주시    꽃   411  4월
16  경주시   경북   403  4월
17  경주시    빵   398  4월
18  경주시   나무   391  4월
19  경주시   커피   382  4월
20  경주시   야경   364  4월
21  경주시    봄   359  4월
22  경주시   명소   348  4월
23  경주시   호텔   335  4월
24  경주시   동궁   324  4월
25  경주시   날씨   319  4월
26  경주시   펜션   312  4월
27  경주시   바다   309  4월
28  경주시   풍경   306  4월
29  경주시   신라   294  4월

In [247]:
df_2.drop([4,5, 7,12, 13,14, 16,18, 21,22, 23,28, 30,32, 33,35, 41,46, 47,48] ,axis = 0, inplace = True)

In [257]:
df_2.reset_index(drop = True, inplace = True)

In [250]:
df_2.loc[38, '키워드'] = '포토존'

In [252]:
df_2.loc[38, '언급수'] = 713

In [253]:
df_2.loc[43, '키워드'] = '월정교'

In [255]:
df_2.loc[43, '언급수'] = 673

In [256]:
df_2.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [259]:
df_3 = pd.read_csv('./키워드 분석 데이터/4월 군산시 키워드.csv', encoding = 'cp949')

In [260]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [261]:
df_3['지역'] = '군산시'

In [262]:
df_3['월'] = '4월'

In [266]:
df_3

     지역  키워드   언급수   월
0   군산시   군산  3336  4월
1   군산시   카페  1532  4월
2   군산시   여행  1035  4월
3   군산시   공원   908  4월
4   군산시   사진   669  4월
5   군산시  군산시   634  4월
6   군산시   맛집   605  4월
7   군산시  박물관   543  4월
8   군산시   커피   456  4월
9   군산시   서울   431  4월
10  군산시  선유도   402  4월
11  군산시   바다   389  4월
12  군산시   짬뽕   371  4월
13  군산시    빵   350  4월
14  군산시   주차   335  4월
15  군산시   벚꽃   332  4월
16  군산시    산   311  4월
17  군산시   역사   296  4월
18  군산시    섬   283  4월
19  군산시   호수   269  4월
20  군산시   은파   244  4월
21  군산시   철길   243  4월
22  군산시    밥   235  4월
23  군산시   관광   223  4월
24  군산시   부산   219  4월
25  군산시  새만금   213  4월
26  군산시   고추   209  4월
27  군산시  분위기   208  4월
28  군산시  사진관   208  4월
29  군산시   짜장   202  4월

In [264]:
df_3.drop([4,6, 7,10, 12,14, 15,17, 23,25, 26,27, 28,32, 33,35, 45,38, 40,43] ,axis = 0, inplace = True)

In [265]:
df_3.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [267]:
df_4 = pd.read_csv('./키워드 분석 데이터/4월 목포시 키워드.csv', encoding = 'cp949')

In [268]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [269]:
df_4['지역'] = '목포시'

In [270]:
df_4['월'] = '4월'

In [274]:
df_4

     지역   키워드   언급수   월
0   목포시    목포  3230  4월
1   목포시    카페  1242  4월
2   목포시    맛집   765  4월
3   목포시    여행   711  4월
4   목포시    공원   681  4월
5   목포시   유달산   474  4월
6   목포시   목포시   472  4월
7   목포시    커피   444  4월
8   목포시     빵   396  4월
9   목포시   박물관   391  4월
10  목포시    바다   376  4월
11  목포시    사진   372  4월
12  목포시    홍어   356  4월
13  목포시    낙지   351  4월
14  목포시     산   340  4월
15  목포시     회   337  4월
16  목포시  케이블카   318  4월
17  목포시   바게트   310  4월
18  목포시   고하도   272  4월
19  목포시    치즈   248  4월
20  목포시    크림   246  4월
21  목포시    새우   234  4월
22  목포시    북항   223  4월
23  목포시     섬   223  4월
24  목포시    식당   221  4월
25  목포시    음식   218  4월
26  목포시    센터   215  4월
27  목포시    고기   213  4월
28  목포시    부산   204  4월
29  목포시    해상   204  4월

In [272]:
df_4.drop([3,4, 7,10, 12,19, 22,23, 24,25, 26,27, 30,32, 33,35, 44,45, 48,49] ,axis = 0, inplace = True)

In [273]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [267]:
df_4 = pd.read_csv('./키워드 분석 데이터/4월 목포시 키워드.csv', encoding = 'cp949')

In [268]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [269]:
df_4['지역'] = '목포시'

In [270]:
df_4['월'] = '4월'

In [288]:
df_4

     지역   키워드   언급수   월
0   목포시    목포  3230  4월
1   목포시    카페  1242  4월
2   목포시    맛집   765  4월
3   목포시    여행   711  4월
4   목포시    공원   681  4월
5   목포시   유달산   474  4월
6   목포시   목포시   472  4월
7   목포시    커피   444  4월
8   목포시     빵   396  4월
9   목포시   박물관   391  4월
10  목포시    바다   376  4월
11  목포시    사진   372  4월
12  목포시    홍어   356  4월
13  목포시    낙지   351  4월
14  목포시     산   340  4월
15  목포시     회   337  4월
16  목포시  케이블카   318  4월
17  목포시   바게트   310  4월
18  목포시   고하도   272  4월
19  목포시    치즈   248  4월
20  목포시    크림   246  4월
21  목포시    새우   234  4월
22  목포시    북항   223  4월
23  목포시     섬   223  4월
24  목포시    식당   221  4월
25  목포시    음식   218  4월
26  목포시    센터   215  4월
27  목포시    고기   213  4월
28  목포시    부산   204  4월
29  목포시    해상   204  4월

In [272]:
df_4.drop([3,4, 7,10, 12,19, 22,23, 24,25, 26,27, 30,32, 33,35, 44,45, 48,49] ,axis = 0, inplace = True)

In [273]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [278]:
df_5 = pd.read_csv('./키워드 분석 데이터/4월 서귀포시 키워드.csv', encoding = 'cp949')

In [279]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [280]:
df_5['지역'] = '서귀포시'

In [281]:
df_5['월'] = '4월'

In [287]:
df_5

      지역  키워드   언급수   월
0   서귀포시   제주  2691  4월
1   서귀포시   여행  2143  4월
2   서귀포시  제주도  1830  4월
3   서귀포시   사진  1317  4월
4   서귀포시   카페   851  4월
5   서귀포시  서귀포   758  4월
6   서귀포시   호텔   642  4월
7   서귀포시   숙소   587  4월
8   서귀포시   바다   543  4월
9   서귀포시  유채꽃   540  4월
10  서귀포시   벚꽃   459  4월
11  서귀포시   맛집   418  4월
12  서귀포시   주차   380  4월
13  서귀포시   풍경   362  4월
14  서귀포시    꽃   341  4월
15  서귀포시  산방산   337  4월
16  서귀포시   날씨   333  4월
17  서귀포시   커피   323  4월
18  서귀포시   갈치   322  4월
19  서귀포시    뷰   291  4월
20  서귀포시   수국   277  4월
21  서귀포시   가족   270  4월
22  서귀포시   고기   270  4월
23  서귀포시   식당   262  4월
24  서귀포시   공원   260  4월
25  서귀포시   체험   254  4월
26  서귀포시   돼지   248  4월
27  서귀포시    봄   248  4월
28  서귀포시    밭   245  4월
29  서귀포시   음식   229  4월

In [285]:
df_5.drop([4,6, 8,9, 11,13, 14,17, 20,22, 23,25, 29,32, 34,43, 45,46, 47,48] ,axis = 0, inplace = True)

In [286]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [289]:
df_6 = pd.read_csv('./키워드 분석 데이터/4월 속초시 키워드.csv', encoding = 'cp949')

In [290]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [291]:
df_6['지역'] = '속초시'

In [292]:
df_6['월'] = '4월'

In [296]:
df_6

     지역   키워드   언급수   월
0   속초시    속초  5996  4월
1   속초시    여행  1847  4월
2   속초시    바다  1233  4월
3   속초시    카페   977  4월
4   속초시    맛집   963  4월
5   속초시    사진   953  4월
6   속초시   강원도   804  4월
7   속초시   속초시   718  4월
8   속초시   설악산   712  4월
9   속초시     회   641  4월
10  속초시     뷰   624  4월
11  속초시    물회   592  4월
12  속초시    호텔   517  4월
13  속초시  해수욕장   482  4월
14  속초시    벚꽃   479  4월
15  속초시    대게   478  4월
16  속초시    생선   451  4월
17  속초시  대관람차   433  4월
18  속초시    청초   432  4월
19  속초시    호수   404  4월
20  속초시    커피   381  4월
21  속초시  중앙시장   358  4월
22  속초시    해변   352  4월
23  속초시     빵   350  4월
24  속초시    가족   347  4월
25  속초시    식당   323  4월
26  속초시   순두부   314  4월
27  속초시     밥   306  4월
28  속초시    풍경   301  4월
29  속초시    음식   300  4월

In [294]:
df_6.drop([3,7, 11,12, 15,16, 18,19, 20,21, 22,23, 25,29, 30,36, 41,45, 46,37] ,axis = 0, inplace = True)

In [295]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [313]:
df_7 = pd.read_csv('./키워드 분석 데이터/4월 여수시 키워드.csv', encoding = 'cp949')

In [314]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [315]:
df_7['지역'] = '여수시'

In [316]:
df_7['월'] = '4월'

In [320]:
df_7

     지역   키워드   언급수   월
0   여수시    여수  5106  4월
1   여수시    여행  2007  4월
2   여수시    바다  1458  4월
3   여수시    사진  1184  4월
4   여수시    카페  1059  4월
5   여수시    시간   967  4월
6   여수시    게장   729  4월
7   여수시    맛집   706  4월
8   여수시     뷰   684  4월
9   여수시    호텔   664  4월
10  여수시   여수시   617  4월
11  여수시   오동도   611  4월
12  여수시   이순신   557  4월
13  여수시    주차   540  4월
14  여수시    김밥   501  4월
15  여수시     밤   496  4월
16  여수시    낭만   474  4월
17  여수시     섬   472  4월
18  여수시    공원   452  4월
19  여수시    포차   450  4월
20  여수시  테디베어   445  4월
21  여수시    숙소   411  4월
22  여수시    버거   409  4월
23  여수시    광장   386  4월
24  여수시    식당   385  4월
25  여수시  케이블카   381  4월
26  여수시    포토   371  4월
27  여수시    가족   370  4월
28  여수시    갈치   370  4월
29  여수시    오션   367  4월

In [318]:
df_7.drop([6,10, 12,14, 16,20, 22,23, 26,32, 36,37, 42,44, 45,47, 48,49, 46,43] ,axis = 0, inplace = True)

In [319]:
df_7.reset_index(drop = True, inplace = True)

In [321]:
df_7.loc[26, '키워드'] = '포토존'

In [323]:
df_7.loc[26, '언급수'] = 749

In [ ]:
#--------------------------------------------------------------------------------------

In [324]:
df_8 = pd.read_csv('./키워드 분석 데이터/4월 완도군 키워드.csv', encoding = 'cp949')

In [325]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [326]:
df_8['지역'] = '완도군'

In [327]:
df_8['월'] = '4월'

In [331]:
df_8

     지역  키워드   언급수   월
0   완도군   완도  2408  4월
1   완도군  청산도  1913  4월
2   완도군   여행  1683  4월
3   완도군    배  1167  4월
4   완도군   바다   869  4월
5   완도군   전복   865  4월
6   완도군   사진   840  4월
7   완도군    섬   757  4월
8   완도군   버스   558  4월
9   완도군  유채꽃   474  4월
10  완도군  터미널   473  4월
11  완도군   숙소   413  4월
12  완도군   슬로   411  4월
13  완도군    산   405  4월
14  완도군   풍경   366  4월
15  완도군   맛집   359  4월
16  완도군    항   355  4월
17  완도군   벚꽃   346  4월
18  완도군    봄   331  4월
19  완도군   해변   326  4월
20  완도군  서편제   326  4월
21  완도군   차량   318  4월
22  완도군   아침   314  4월
23  완도군    꽃   304  4월
24  완도군   축제   294  4월
25  완도군   식당   290  4월
26  완도군   카페   283  4월
27  완도군   방문   276  4월
28  완도군    밥   264  4월
29  완도군   촬영   260  4월

In [329]:
df_8.drop([4,5, 10,11, 12,15, 14,16, 19,20, 21,47, 27,31, 46,45, 39,40, 42,43] ,axis = 0, inplace = True)

In [330]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [332]:
df_9 = pd.read_csv('./키워드 분석 데이터/4월 인제군 키워드.csv', encoding = 'cp949')

In [333]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [334]:
df_9['지역'] = '인제군'

In [335]:
df_9['월'] = '4월'

In [339]:
df_9

     지역  키워드   언급수   월
0   인제군   여행  1332  4월
1   인제군   인제  1275  4월
2   인제군   사진  1001  4월
3   인제군  강원도   533  4월
4   인제군   카페   504  4월
5   인제군   벚꽃   433  4월
6   인제군   숙소   429  4월
7   인제군   속초   403  4월
8   인제군   바다   393  4월
9   인제군   버스   374  4월
10  인제군   커피   348  4월
11  인제군   맛집   321  4월
12  인제군   친구   318  4월
13  인제군    뷰   317  4월
14  인제군   저녁   304  4월
15  인제군    밥   299  4월
16  인제군    꽃   288  4월
17  인제군   호텔   283  4월
18  인제군    산   279  4월
19  인제군   날씨   277  4월
20  인제군   주문   259  4월
21  인제군   바람   253  4월
22  인제군   마을   249  4월
23  인제군    봄   245  4월
24  인제군   음식   244  4월
25  인제군   가족   242  4월
26  인제군    숲   241  4월
27  인제군   공원   228  4월
28  인제군  터미널   225  4월
29  인제군   코스   223  4월

In [337]:
df_9.drop([3,4, 5,6, 14,16, 17,21, 22,25, 30,31, 32,34, 47,46, 37,42, 43,44] ,axis = 0, inplace = True)

In [338]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [340]:
df_10 = pd.read_csv('./키워드 분석 데이터/4월 제주시 키워드.csv', encoding = 'cp949')

In [341]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [342]:
df_10['지역'] = '제주시'

In [343]:
df_10['월'] = '4월'

In [347]:
df_10

     지역  키워드   언급수   월
0   제주시   제주  2592  4월
1   제주시  제주도  1559  4월
2   제주시   여행  1440  4월
3   제주시  제주시  1437  4월
4   제주시   카페   957  4월
5   제주시   사진   933  4월
6   제주시   맛집   863  4월
7   제주시   공항   605  4월
8   제주시   벚꽃   565  4월
9   제주시   고기   559  4월
10  제주시   숙소   522  4월
11  제주시   호텔   470  4월
12  제주시   바다   442  4월
13  제주시    밥   441  4월
14  제주시   주차   438  4월
15  제주시   식당   420  4월
16  제주시    집   416  4월
17  제주시   돼지   396  4월
18  제주시   커피   389  4월
19  제주시   음식   356  4월
20  제주시   새우   316  4월
21  제주시   김밥   310  4월
22  제주시   저녁   278  4월
23  제주시   식사   273  4월
24  제주시    뷰   272  4월
25  제주시   갈치   272  4월
26  제주시   친구   271  4월
27  제주시  분위기   258  4월
28  제주시   날씨   253  4월
29  제주시   국수   252  4월

In [345]:
df_10.drop([4,8, 9,10, 12,13, 14,26, 28,29, 30,31, 34,35, 37,42, 46,47, 48,49] ,axis = 0, inplace = True)

In [346]:
df_10.reset_index(drop = True, inplace = True)

In [348]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [349]:
df.reset_index(drop = True, inplace = True)

In [350]:
df.to_csv('4월 키워드 데이터.csv', encoding = 'cp949')

## 5월 키워드 언급량 데이터 전처리

In [ ]:
#--------------------------------------------------------------------------------------

In [362]:
df_1 = pd.read_csv('./키워드 분석 데이터/5월 공주시 키워드.csv', encoding = 'cp949')

In [363]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [364]:
df_1['지역'] = '공주시'

In [365]:
df_1['월'] = '5월'

In [369]:
df_1

     지역   키워드   언급수   월
0   공주시    공주  2601  5월
1   공주시    여행  1140  5월
2   공주시    카페   992  5월
3   공주시    사진   892  5월
4   공주시   공산성   877  5월
5   공주시    체험   764  5월
6   공주시   공주시   650  5월
7   공주시     밤   620  5월
8   공주시   박물관   558  5월
9   공주시     꽃   552  5월
10  공주시    공원   497  5월
11  공주시    축제   470  5월
12  공주시    금강   463  5월
13  공주시    맛집   452  5월
14  공주시    문화   360  5월
15  공주시    커피   358  5월
16  공주시    주차   357  5월
17  공주시    백제   353  5월
18  공주시    숙소   347  5월
19  공주시    역사   326  5월
20  공주시    자연   314  5월
21  공주시     섬   304  5월
22  공주시    대전   303  5월
23  공주시   동학사   301  5월
24  공주시    풍경   297  5월
25  공주시  무령왕릉   295  5월
26  공주시    수국   271  5월
27  공주시    가족   270  5월
28  공주시    식당   254  5월
29  공주시   칼국수   249  5월

In [367]:
df_1.drop([5,7, 9,11, 14,15, 19,21, 22,23, 24,30, 31,39, 40,43, 45,46, 48,49] ,axis = 0, inplace = True)

In [368]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [370]:
df_2 = pd.read_csv('./키워드 분석 데이터/5월 보성군 키워드.csv', encoding = 'cp949')

In [371]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [372]:
df_2['지역'] = '보성군'

In [373]:
df_2['월'] = '5월'

In [377]:
df_2

     지역   키워드   언급수   월
0   보성군    보성  4381  5월
1   보성군    녹차  2990  5월
2   보성군    여행  1981  5월
3   보성군     밭  1396  5월
4   보성군    사진  1259  5월
5   보성군    체험   676  5월
6   보성군    카페   668  5월
7   보성군    바다   567  5월
8   보성군    벌교   525  5월
9   보성군    꼬막   502  5월
10  보성군    풍경   452  5월
11  보성군  해수욕장   427  5월
12  보성군    숙소   406  5월
13  보성군    공룡   398  5월
14  보성군    율포   398  5월
15  보성군    힐링   370  5월
16  보성군    공원   370  5월
17  보성군   엑스포   346  5월
18  보성군    맛집   346  5월
19  보성군   전망대   338  5월
20  보성군   박물관   337  5월
21  보성군    나무   336  5월
22  보성군    초록   334  5월
23  보성군    정원   315  5월
24  보성군    문화   314  5월
25  보성군   여행지   312  5월
26  보성군     꽃   305  5월
27  보성군    식당   291  5월
28  보성군    주문   286  5월
29  보성군   팥빙수   280  5월

In [375]:
df_2.drop([5,8, 9,10, 11,14, 16,18, 20,21, 25,41, 44,45, 46,47, 48,49, 43,37] ,axis = 0, inplace = True)

In [376]:
df_2.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [378]:
df_3 = pd.read_csv('./키워드 분석 데이터/5월 서귀포시 키워드.csv', encoding = 'cp949')

In [379]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [380]:
df_3['지역'] = '서귀포시'

In [381]:
df_3['월'] = '5월'

In [392]:
df_3

      지역   키워드   언급수   월
0   서귀포시    제주  3100  5월
1   서귀포시    여행  2304  5월
2   서귀포시   제주도  2055  5월
3   서귀포시    사진  1385  5월
4   서귀포시    카페   941  5월
5   서귀포시   서귀포   808  5월
6   서귀포시    바다   787  5월
7   서귀포시  서귀포시   727  5월
8   서귀포시    수국   725  5월
9   서귀포시    숙소   672  5월
10  서귀포시   포토존   573  5월
11  서귀포시    호텔   529  5월
12  서귀포시    맛집   516  5월
13  서귀포시     뷰   490  5월
14  서귀포시     꽃   401  5월
15  서귀포시    돼지   396  5월
16  서귀포시    풍경   390  5월
17  서귀포시    가족   369  5월
18  서귀포시    체험   359  5월
19  서귀포시   산방산   347  5월
20  서귀포시    주차   345  5월
21  서귀포시    날씨   334  5월
22  서귀포시    커피   307  5월
23  서귀포시    갈치   296  5월
24  서귀포시    자연   291  5월
25  서귀포시    아침   280  5월
26  서귀포시    음식   279  5월
27  서귀포시    우도   267  5월
28  서귀포시    고기   266  5월
29  서귀포시    음료   265  5월

In [384]:
df_3.drop([4,6, 10,12, 14,15, 17,19, 21,22, 26,29, 30,35, 36,38, 41,49, 48,47] ,axis = 0, inplace = True)

In [391]:
df_3.reset_index(drop = True, inplace = True)

In [387]:
df_3.loc[24, '키워드'] = '포토존'

In [388]:
df_3.loc[24, '언급수'] = 573

In [389]:
df_3.sort_values('언급수', ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [393]:
df_4 = pd.read_csv('./키워드 분석 데이터/5월 서천군 키워드.csv', encoding = 'cp949')

In [394]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [395]:
df_4['지역'] = '서천군'

In [396]:
df_4['월'] = '5월'

In [405]:
df_4

     지역    키워드   언급수   월
0   서천군     서천  1826  5월
1   서천군     여행  1525  5월
2   서천군   한산모시   910  5월
3   서천군     체험   879  5월
4   서천군     사진   761  5월
5   서천군     바다   731  5월
6   서천군     축제   582  5월
7   서천군     장항   547  5월
8   서천군     군산   503  5월
9   서천군      집   501  5월
10  서천군     공원   481  5월
11  서천군     카페   407  5월
12  서천군     갯벌   367  5월
13  서천군      꽃   358  5월
14  서천군     가족   357  5월
15  서천군     맛집   336  5월
16  서천군     장미   335  5월
17  서천군     버스   332  5월
18  서천군     자연   326  5월
19  서천군    스카이   309  5월
20  서천군     광어   300  5월
21  서천군      회   297  5월
22  서천군     관람   296  5월
23  서천군      산   293  5월
24  서천군     전시   290  5월
25  서천군      숲   276  5월
26  서천군  국립생태원   274  5월
27  서천군      만   272  5월
28  서천군     조개   270  5월
29  서천군     주차   259  5월

In [399]:
df_4.drop([2,6, 8,10, 14,16, 18,19, 20,21, 22,28, 31,40, 41,46, 48,49, 38,45] ,axis = 0, inplace = True)

In [400]:
df_4.loc[15, '키워드'] = '한산모시'

In [402]:
df_4.loc[15, '언급수'] = 910

In [404]:
df_4.reset_index(drop = True, inplace = True)

In [403]:
df_4.sort_values('언급수', ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [406]:
df_5 = pd.read_csv('./키워드 분석 데이터/5월 속초시 키워드.csv', encoding = 'cp949')

In [407]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [408]:
df_5['지역'] = '속초시'

In [409]:
df_5['월'] = '5월'

In [413]:
df_5

     지역   키워드   언급수   월
0   속초시    속초  5300  5월
1   속초시    여행  1856  5월
2   속초시    바다  1001  5월
3   속초시    카페   970  5월
4   속초시    맛집   838  5월
5   속초시    사진   800  5월
6   속초시   강원도   778  5월
7   속초시     회   658  5월
8   속초시   속초시   622  5월
9   속초시     뷰   613  5월
10  속초시    주차   580  5월
11  속초시    물회   545  5월
12  속초시  해수욕장   538  5월
13  속초시    대게   510  5월
14  속초시    숙소   455  5월
15  속초시   설악산   418  5월
16  속초시    청초   397  5월
17  속초시    호텔   393  5월
18  속초시    해변   383  5월
19  속초시  대관람차   381  5월
20  속초시  중앙시장   357  5월
21  속초시    커피   355  5월
22  속초시     게   352  5월
23  속초시    식당   324  5월
24  속초시   닭강정   323  5월
25  속초시     빵   310  5월
26  속초시    홍게   308  5월
27  속초시    가족   305  5월
28  속초시   대포항   298  5월
29  속초시    바위   296  5월

In [411]:
df_5.drop([2,5, 9,10, 12,16, 17,20, 21,23, 26,31, 35,37, 42,43, 44,47, 48,49] ,axis = 0, inplace = True)

In [412]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [414]:
df_6 = pd.read_csv('./키워드 분석 데이터/5월 순창군 키워드.csv', encoding = 'cp949')

In [415]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [416]:
df_6['지역'] = '순창군'

In [417]:
df_6['월'] = '5월'

In [421]:
df_6

     지역  키워드   언급수   월
0   순창군   순창  1452  5월
1   순창군   여행  1184  5월
2   순창군   사진   611  5월
3   순창군   체험   597  5월
4   순창군   다리   559  5월
5   순창군   카페   438  5월
6   순창군   버스   404  5월
7   순창군   하늘   403  5월
8   순창군   바위   393  5월
9   순창군  고추장   351  5월
10  순창군    산   350  5월
11  순창군  용궐산   340  5월
12  순창군  섬진강   338  5월
13  순창군   담양   336  5월
14  순창군  터미널   311  5월
15  순창군  강천산   291  5월
16  순창군   맛집   252  5월
17  순창군   공원   251  5월
18  순창군   힐링   245  5월
19  순창군   가족   241  5월
20  순창군   풍경   222  5월
21  순창군  자전거   220  5월
22  순창군   엄마   217  5월
23  순창군   코스   210  5월
24  순창군   숙소   209  5월
25  순창군   입구   208  5월
26  순창군    강   207  5월
27  순창군   광주   206  5월
28  순창군  순창군   202  5월
29  순창군   날씨   197  5월

In [419]:
df_6.drop([2,4, 6,9, 10,11, 15,16, 22,23, 26,27, 30,31, 33,35, 36,37, 39,48] ,axis = 0, inplace = True)

In [420]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [422]:
df_7 = pd.read_csv('./키워드 분석 데이터/5월 양양군 키워드.csv', encoding = 'cp949')

In [423]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [424]:
df_7['지역'] = '양양군'

In [425]:
df_7['월'] = '5월'

In [429]:
df_7

     지역   키워드   언급수   월
0   양양군    양양  2035  5월
1   양양군    여행  1433  5월
2   양양군    바다  1227  5월
3   양양군    사진   797  5월
4   양양군    해변   702  5월
5   양양군    비치   689  5월
6   양양군    숙소   663  5월
7   양양군    서핑   635  5월
8   양양군    카페   609  5월
9   양양군     뷰   468  5월
10  양양군   낙산사   428  5월
11  양양군    호텔   416  5월
12  양양군    맛집   371  5월
13  양양군    아침   305  5월
14  양양군  해수욕장   303  5월
15  양양군    저녁   298  5월
16  양양군    날씨   286  5월
17  양양군    죽도   274  5월
18  양양군    커피   274  5월
19  양양군    친구   256  5월
20  양양군    주차   246  5월
21  양양군    가족   235  5월
22  양양군   분위기   224  5월
23  양양군    파도   205  5월
24  양양군     회   198  5월
25  양양군     밥   197  5월
26  양양군    강릉   196  5월
27  양양군    메뉴   195  5월
28  양양군    식당   193  5월
29  양양군    음식   190  5월

In [427]:
df_7.drop([6,9, 11,12, 13,18, 19,20, 21,22, 29,30, 32,35, 36,38, 39,40, 48,49] ,axis = 0, inplace = True)

In [428]:
df_7.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [430]:
df_8 = pd.read_csv('./키워드 분석 데이터/5월 여수시 키워드.csv', encoding = 'cp949')

In [431]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [432]:
df_8['지역'] = '여수시'

In [433]:
df_8['월'] = '5월'

In [437]:
df_8

     지역   키워드   언급수   월
0   여수시    여수  4121  5월
1   여수시    여행  1581  5월
2   여수시    바다  1377  5월
3   여수시    사진   926  5월
4   여수시    게장   687  5월
5   여수시    카페   589  5월
6   여수시     뷰   565  5월
7   여수시    맛집   560  5월
8   여수시   이순신   492  5월
9   여수시     밤   471  5월
10  여수시   오동도   467  5월
11  여수시    호텔   463  5월
12  여수시   여수시   419  5월
13  여수시    주차   380  5월
14  여수시    낭만   380  5월
15  여수시    광장   335  5월
16  여수시   아르떼   333  5월
17  여수시    오션   324  5월
18  여수시    김밥   324  5월
19  여수시    숙소   320  5월
20  여수시    포차   316  5월
21  여수시    공원   313  5월
22  여수시  케이블카   299  5월
23  여수시    가족   297  5월
24  여수시     밥   287  5월
25  여수시    등대   264  5월
26  여수시     게   263  5월
27  여수시    버거   260  5월
28  여수시    문어   236  5월
29  여수시   향일암   235  5월

In [435]:
df_8.drop([4,6, 10,12, 16,17, 18,22, 25,26, 30,32, 34,38, 39,40, 46,48, 44,45] ,axis = 0, inplace = True)

In [436]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [438]:
df_9 = pd.read_csv('./키워드 분석 데이터/5월 옥천군 키워드.csv', encoding = 'cp949')

In [439]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [440]:
df_9['지역'] = '옥천군'

In [441]:
df_9['월'] = '5월'

In [445]:
df_9

     지역  키워드   언급수   월
0   옥천군   옥천  2680  5월
1   옥천군   여행  1518  5월
2   옥천군   사진  1009  5월
3   옥천군   카페   732  5월
4   옥천군   공원   672  5월
5   옥천군   맛집   572  5월
6   옥천군  유채꽃   538  5월
7   옥천군   버스   535  5월
8   옥천군    꽃   515  5월
9   옥천군  정지용   418  5월
10  옥천군   풍경   406  5월
11  옥천군   금강   406  5월
12  옥천군   체험   385  5월
13  옥천군   식당   343  5월
14  옥천군   가족   309  5월
15  옥천군  대청호   307  5월
16  옥천군    산   303  5월
17  옥천군   소담   298  5월
18  옥천군   커피   296  5월
19  옥천군   친구   294  5월
20  옥천군   나무   289  5월
21  옥천군   주차   287  5월
22  옥천군   산책   287  5월
23  옥천군   숙소   270  5월
24  옥천군   정원   269  5월
25  옥천군   날씨   268  5월
26  옥천군    밥   255  5월
27  옥천군   생가   251  5월
28  옥천군   시인   250  5월
29  옥천군   부산   248  5월

In [443]:
df_9.drop([3,4, 6,7, 12,14, 15,17, 18,21, 22,24, 26,27, 28,35, 39,43, 44,46] ,axis = 0, inplace = True)

In [444]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [446]:
df_10 = pd.read_csv('./키워드 분석 데이터/5월 제주시 키워드.csv', encoding = 'cp949')

In [447]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [448]:
df_10['지역'] = '제주시'

In [449]:
df_10['월'] = '5월'

In [453]:
df_10

     지역  키워드   언급수   월
0   제주시   제주  2684  5월
1   제주시  제주도  1513  5월
2   제주시  제주시  1438  5월
3   제주시   여행  1416  5월
4   제주시   카페  1100  5월
5   제주시   사진   876  5월
6   제주시   맛집   847  5월
7   제주시   공항   585  5월
8   제주시   숙소   532  5월
9   제주시   바다   473  5월
10  제주시   고기   408  5월
11  제주시   호텔   405  5월
12  제주시   주차   387  5월
13  제주시   돼지   317  5월
14  제주시  분위기   307  5월
15  제주시    밥   306  5월
16  제주시   김밥   305  5월
17  제주시    뷰   296  5월
18  제주시   소금   293  5월
19  제주시   음식   292  5월
20  제주시   식당   273  5월
21  제주시   친구   269  5월
22  제주시   저녁   266  5월
23  제주시   아침   256  5월
24  제주시   시장   254  5월
25  제주시   갈치   252  5월
26  제주시   날씨   242  5월
27  제주시    빵   242  5월
28  제주시   식사   235  5월
29  제주시   새우   234  5월

In [451]:
df_10.drop([4,8, 9,11, 12,13, 14,15, 18,19, 23,24, 27,34, 37,38, 42,45, 46,49] ,axis = 0, inplace = True)

In [452]:
df_10.reset_index(drop = True, inplace = True)

In [454]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [455]:
df.reset_index(drop = True, inplace = True)

In [456]:
df.to_csv('5월 키워드 데이터.csv', encoding = 'cp949')

## 6월 언급량 키워드 데이터 전처리

In [457]:
df_1 = pd.read_csv('./키워드 분석 데이터/6월 경주시 키워드.csv', encoding = 'cp949')

In [458]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [459]:
df_1['지역'] = '경주시'

In [460]:
df_1['월'] = '6월'

In [470]:
df_1

     지역  키워드   언급수   월
0   경주시   경주  4721  6월
1   경주시   여행  2162  6월
2   경주시   사진  1248  6월
3   경주시   카페   926  6월
4   경주시  경주시   707  6월
5   경주시   경북   631  6월
6   경주시  첨성대   593  6월
7   경주시   숙소   586  6월
8   경주시   맛집   556  6월
9   경주시  포토존   546  6월
10  경주시   주차   526  6월
11  경주시  불국사   485  6월
12  경주시   대릉   446  6월
13  경주시   신라   398  6월
14  경주시   메뉴   385  6월
15  경주시   바다   374  6월
16  경주시   역사   356  6월
17  경주시   체험   312  6월
18  경주시   친구   310  6월
19  경주시   커피   306  6월
20  경주시   가족   301  6월
21  경주시  분위기   282  6월
22  경주시   날씨   278  6월
23  경주시   관광   273  6월
24  경주시   호텔   272  6월
25  경주시    밥   271  6월
26  경주시   공원   269  6월
27  경주시   저녁   260  6월
28  경주시   동궁   259  6월
29  경주시   펜션   259  6월

In [463]:
df_1.drop([3,5, 7,9, 12,14, 15,16, 18,21, 26,28, 27,35, 40,49, 46,44, 48,47] ,axis = 0, inplace = True)

In [469]:
df_1.reset_index(drop = True, inplace = True)

In [466]:
df_1.loc[25, '키워드'] = '포토존'

In [467]:
df_1.loc[25, '언급수'] = 546

In [468]:
df_1.sort_values('언급수', ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [471]:
df_2 = pd.read_csv('./키워드 분석 데이터/6월 고성군 키워드.csv', encoding = 'cp949')

In [472]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [473]:
df_2['지역'] = '고성군'

In [474]:
df_2['월'] = '6월'

In [478]:
df_2

     지역   키워드   언급수   월
0   고성군    고성  2037  6월
1   고성군    여행  1458  6월
2   고성군    바다  1417  6월
3   고성군   라벤더   986  6월
4   고성군    사진   940  6월
5   고성군    카페   784  6월
6   고성군   강원도   782  6월
7   고성군    해변   749  6월
8   고성군    속초   694  6월
9   고성군    숙소   687  6월
10  고성군     뷰   644  6월
11  고성군  해수욕장   582  6월
12  고성군    바위   475  6월
13  고성군    오션   394  6월
14  고성군    날씨   377  6월
15  고성군    커피   337  6월
16  고성군     꽃   327  6월
17  고성군   리조트   322  6월
18  고성군    아침   305  6월
19  고성군    수국   303  6월
20  고성군    주차   283  6월
21  고성군   막국수   283  6월
22  고성군    가족   281  6월
23  고성군    펜션   274  6월
24  고성군    맛집   265  6월
25  고성군    저녁   226  6월
26  고성군    정원   226  6월
27  고성군    물회   224  6월
28  고성군    식당   212  6월
29  고성군    풍경   208  6월

In [476]:
df_2.drop([11,12, 14,16, 20,22, 24,27, 28,32, 33,36, 37,38, 39,40, 44,45, 46,47] ,axis = 0, inplace = True)

In [477]:
df_2.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [479]:
df_3 = pd.read_csv('./키워드 분석 데이터/6월 서귀포시 키워드.csv', encoding = 'cp949')

In [480]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [481]:
df_3['지역'] = '서귀포시'

In [482]:
df_3['월'] = '6월'

In [492]:
df_3

      지역   키워드   언급수   월
0   서귀포시    제주  3182  6월
1   서귀포시    여행  2029  6월
2   서귀포시   제주도  2004  6월
3   서귀포시    수국  1500  6월
4   서귀포시    사진  1451  6월
5   서귀포시    카페   942  6월
6   서귀포시  서귀포시   811  6월
7   서귀포시    바다   695  6월
8   서귀포시   서귀포   678  6월
9   서귀포시    숙소   589  6월
10  서귀포시    호텔   583  6월
11  서귀포시   포토존   576  6월
12  서귀포시    맛집   494  6월
13  서귀포시     꽃   489  6월
14  서귀포시    주차   375  6월
15  서귀포시    가족   360  6월
16  서귀포시    날씨   349  6월
17  서귀포시    돼지   342  6월
18  서귀포시     배   334  6월
19  서귀포시     뷰   334  6월
20  서귀포시    체험   334  6월
21  서귀포시    풍경   326  6월
22  서귀포시    여름   313  6월
23  서귀포시    고기   311  6월
24  서귀포시    포토   309  6월
25  서귀포시    식당   280  6월
26  서귀포시    갈치   279  6월
27  서귀포시    야외   276  6월
28  서귀포시    정원   259  6월
29  서귀포시    자연   254  6월

In [485]:
df_3.drop([5,8, 9,11, 13,16, 17,20, 21,22, 23,24, 36,37, 43,44, 48,49, 46,42] ,axis = 0, inplace = True)

In [491]:
df_3.reset_index(drop = True, inplace = True)

In [488]:
df_3.loc[27 , '키워드'] = '포토존'

In [489]:
df_3.loc[27 , '언급수'] = 576

In [490]:
df_3.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [493]:
df_4 = pd.read_csv('./키워드 분석 데이터/6월 속초시 키워드.csv', encoding = 'cp949')

In [494]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [495]:
df_4['지역'] = '속초시'

In [496]:
df_4['월'] = '6월'

In [500]:
df_4

     지역   키워드   언급수   월
0   속초시    속초  4847  6월
1   속초시    여행  1728  6월
2   속초시    바다  1177  6월
3   속초시   강원도   854  6월
4   속초시    카페   815  6월
5   속초시    사진   814  6월
6   속초시    맛집   790  6월
7   속초시   속초시   669  6월
8   속초시    주차   647  6월
9   속초시     뷰   622  6월
10  속초시     회   615  6월
11  속초시    호텔   586  6월
12  속초시  해수욕장   579  6월
13  속초시    숙소   550  6월
14  속초시   오징어   512  6월
15  속초시    물회   508  6월
16  속초시   설악산   492  6월
17  속초시    대게   485  6월
18  속초시    커피   437  6월
19  속초시     빵   380  6월
20  속초시    해변   365  6월
21  속초시     게   362  6월
22  속초시     밥   349  6월
23  속초시  중앙시장   341  6월
24  속초시    포장   335  6월
25  속초시    가족   324  6월
26  속초시   닭강정   316  6월
27  속초시  대관람차   307  6월
28  속초시    식당   306  6월
29  속초시    날씨   304  6월

In [498]:
df_4.drop([2,4, 9,10, 13,18, 19,23, 26,28, 30,31, 34,35, 36,40, 45,49, 48,47] ,axis = 0, inplace = True)

In [499]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [501]:
df_5 = pd.read_csv('./키워드 분석 데이터/6월 인제군 키워드.csv', encoding = 'cp949')

In [502]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [503]:
df_5['지역'] = '인제군'

In [504]:
df_5['월'] = '6월'

In [509]:
df_5

     지역    키워드   언급수   월
0   인제군     인제  1902  6월
1   인제군     여행  1768  6월
2   인제군    강원도  1222  6월
3   인제군     사진  1038  6월
4   인제군     계곡   585  6월
5   인제군     속초   548  6월
6   인제군     숙소   519  6월
7   인제군     아침   469  6월
8   인제군     카페   440  6월
9   인제군     바다   429  6월
10  인제군   자작나무   420  6월
11  인제군    막국수   420  6월
12  인제군      숲   419  6월
13  인제군    래프팅   406  6월
14  인제군     펜션   405  6월
15  인제군  자작나무숲   403  6월
16  인제군     맛집   401  6월
17  인제군     여름   383  6월
18  인제군     가족   344  6월
19  인제군     식당   342  6월
20  인제군     친구   336  6월
21  인제군      산   329  6월
22  인제군    휴게소   316  6월
23  인제군     저녁   307  6월
24  인제군     날씨   292  6월
25  인제군     황태   292  6월
26  인제군     고성   292  6월
27  인제군     풍경   279  6월
28  인제군     체험   270  6월
29  인제군      밥   260  6월

In [507]:
df_5.drop([4,5, 6,7, 8,13, 19,24, 25,27, 33,35, 36,40, 42,43, 45,49, 48,47] ,axis = 0, inplace = True)

In [508]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [510]:
df_6 = pd.read_csv('./키워드 분석 데이터/6월 제주시 키워드.csv', encoding = 'cp949')

In [511]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [512]:
df_6['지역'] = '제주시'

In [513]:
df_6['월'] = '6월'

In [517]:
df_6

     지역  키워드   언급수   월
0   제주시   제주  2532  6월
1   제주시  제주시  1501  6월
2   제주시  제주도  1414  6월
3   제주시   여행  1310  6월
4   제주시   맛집   964  6월
5   제주시   카페   909  6월
6   제주시   사진   866  6월
7   제주시   호텔   576  6월
8   제주시   고기   548  6월
9   제주시   공항   526  6월
10  제주시   숙소   468  6월
11  제주시   커피   448  6월
12  제주시   돼지   432  6월
13  제주시   바다   426  6월
14  제주시   주차   383  6월
15  제주시   식당   358  6월
16  제주시   음식   344  6월
17  제주시    밥   342  6월
18  제주시   친구   341  6월
19  제주시   아침   278  6월
20  제주시   날씨   278  6월
21  제주시  분위기   262  6월
22  제주시    뷰   261  6월
23  제주시   저녁   258  6월
24  제주시    게   248  6월
25  제주시   전복   248  6월
26  제주시   식사   243  6월
27  제주시   음료   232  6월
28  제주시   새우   223  6월
29  제주시   김밥   215  6월

In [515]:
df_6.drop([4,8, 9,10, 11,13, 15,19, 20,28, 29,30, 33,34, 40,42, 44,45, 49,47] ,axis = 0, inplace = True)

In [516]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [518]:
df_7 = pd.read_csv('./키워드 분석 데이터/6월 진도군 키워드.csv', encoding = 'cp949')

In [519]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [520]:
df_7['지역'] = '진도군'

In [521]:
df_7['월'] = '6월'

In [534]:
df_7

     지역    키워드   언급수   월
0   진도군     진도  4169  6월
1   진도군    쏠비치  3620  6월
2   진도군     비치  1816  6월
3   진도군  인피니티풀  1054  6월
4   진도군     사진   996  6월
5   진도군      뷰   854  6월
6   진도군     바다   842  6월
7   진도군    리조트   787  6월
8   진도군     카페   616  6월
9   진도군     맛집   495  6월
10  진도군     식당   475  6월
11  진도군     목포   382  6월
12  진도군     가족   381  6월
13  진도군     오션   375  6월
14  진도군      섬   366  6월
15  진도군      바   361  6월
16  진도군     저녁   360  6월
17  진도군     호텔   357  6월
18  진도군   케이블카   348  6월
19  진도군     야경   344  6월
20  진도군     아침   344  6월
21  진도군     숙소   339  6월
22  진도군     해남   331  6월
23  진도군      배   327  6월
24  진도군     산책   324  6월
25  진도군     날씨   321  6월
26  진도군     타워   317  6월
27  진도군      밤   291  6월
28  진도군    수영장   289  6월
29  진도군      회   284  6월

In [523]:
df_7.drop([2,5, 9,11, 12,16, 20,21, 27,36, 37,38, 40,42, 44,45, 46,47, 48,49] ,axis = 0, inplace = True)

In [533]:
df_7.reset_index(drop = True, inplace = True)

In [526]:
df_7.loc[2, '키워드'] = '쏠비치'

In [528]:
df_7.loc[2, '언급수'] = 3620

In [529]:
df_7.loc[10, '키워드'] = '인피니티풀'

In [531]:
df_7.loc[10, '언급수'] = 1054

In [532]:
df_7.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [535]:
df_8 = pd.read_csv('./키워드 분석 데이터/6월 충주시 키워드.csv', encoding = 'cp949')

In [536]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [537]:
df_8['지역'] = '충주시'

In [538]:
df_8['월'] = '6월'

In [548]:
df_8

     지역  키워드   언급수   월
0   충주시   충주  2831  6월
1   충주시   동굴  1135  6월
2   충주시   여행  1115  6월
3   충주시   카페   722  6월
4   충주시   사진   712  6월
5   충주시  중앙탑   703  6월
6   충주시   체험   564  6월
7   충주시   활옥   522  6월
8   충주시   맛집   410  6월
9   충주시   사람   401  6월
10  충주시   커피   396  6월
11  충주시  막국수   337  6월
12  충주시  수안보   335  6월
13  충주시   악어   331  6월
14  충주시   메뉴   304  6월
15  충주시   카약   295  6월
16  충주시   공원   282  6월
17  충주시   주차   264  6월
18  충주시   고기   254  6월
19  충주시   펜션   241  6월
20  충주시    뷰   235  6월
21  충주시    꿩   233  6월
22  충주시   호텔   230  6월
23  충주시  충주시   224  6월
24  충주시  충주호   219  6월
25  충주시   가족   216  6월
26  충주시   와인   206  6월
27  충주시   숙소   205  6월
28  충주시   식당   200  6월
29  충주시   보트   196  6월

In [540]:
df_8.drop([5,7, 9,13, 14,15, 17,21, 22,26, 28,29, 31,32, 43,45, 46,47, 48,49] ,axis = 0, inplace = True)

In [547]:
df_8.reset_index(drop = True, inplace = True)

In [543]:
df_8.loc[10, '키워드'] = '중앙탑'

In [545]:
df_8.loc[10, '언급수'] = 703

In [546]:
df_8.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [549]:
df_9 = pd.read_csv('./키워드 분석 데이터/6월 태안군 키워드.csv', encoding = 'cp949')

In [550]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [551]:
df_9['지역'] = '태안군'

In [552]:
df_9['월'] = '6월'

In [556]:
df_9

     지역   키워드   언급수   월
0   태안군    태안  3341  6월
1   태안군    여행  2168  6월
2   태안군    바다  1365  6월
3   태안군    사진  1257  6월
4   태안군  해수욕장  1220  6월
5   태안군    펜션  1134  6월
6   태안군    카페   849  6월
7   태안군    숙소   740  6월
8   태안군    체험   672  6월
9   태안군    가족   542  6월
10  태안군    조개   506  6월
11  태안군   안면도   472  6월
12  태안군    해변   430  6월
13  태안군    갯벌   429  6월
14  태안군    낚시   428  6월
15  태안군     뷰   414  6월
16  태안군     꽃   394  6월
17  태안군    두리   387  6월
18  태안군    커피   382  6월
19  태안군    날씨   373  6월
20  태안군   수영장   359  6월
21  태안군    아침   356  6월
22  태안군   바베큐   354  6월
23  태안군    수국   354  6월
24  태안군   수목원   351  6월
25  태안군    맛집   349  6월
26  태안군    저녁   335  6월
27  태안군    여름   310  6월
28  태안군     게   308  6월
29  태안군    캠핑   294  6월

In [554]:
df_9.drop([6,9, 11,13, 15,16, 18,19, 25,30, 37,40, 44,46, 47,48, 49,45, 41,42] ,axis = 0, inplace = True)

In [555]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#--------------------------------------------------------------------------------------

In [557]:
df_10 = pd.read_csv('./키워드 분석 데이터/6월 통영시 키워드.csv', encoding = 'cp949')

In [558]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [559]:
df_10['지역'] = '통영시'

In [560]:
df_10['월'] = '6월'

In [564]:
df_10

     지역   키워드   언급수   월
0   통영시    통영  4399  6월
1   통영시    여행  1674  6월
2   통영시    사진  1225  6월
3   통영시    바다  1051  6월
4   통영시    루지   909  6월
5   통영시    카페   792  6월
6   통영시  케이블카   650  6월
7   통영시    숙소   599  6월
8   통영시    공원   501  6월
9   통영시    수국   494  6월
10  통영시     뷰   493  6월
11  통영시    맛집   408  6월
12  통영시    거제   404  6월
13  통영시     섬   396  6월
14  통영시     배   395  6월
15  통영시    날씨   369  6월
16  통영시    벽화   350  6월
17  통영시     회   333  6월
18  통영시    꿀빵   332  6월
19  통영시    주차   323  6월
20  통영시    풍경   313  6월
21  통영시    호텔   297  6월
22  통영시   이순신   295  6월
23  통영시    아침   293  6월
24  통영시     밥   273  6월
25  통영시    가족   272  6월
26  통영시    친구   268  6월
27  통영시    커피   261  6월
28  통영시    저녁   254  6월
29  통영시    디피   241  6월

In [562]:
df_10.drop([4,6, 8,10, 12,16, 17,18, 19,24, 26,27, 31,32, 35,42, 45,46, 47,49] ,axis = 0, inplace = True)

In [563]:
df_10.reset_index(drop = True, inplace = True)

In [565]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [566]:
df.reset_index(drop = True, inplace = True)

In [567]:
df.to_csv('6월 키워드 데이터.csv', encoding = 'cp949')

## 7월 언급량 키워드 데이터 전처리

In [2]:
df_1 = pd.read_csv('./키워드 분석 데이터/7월 강릉시 키워드.csv', encoding = 'cp949')

In [3]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [4]:
df_1['지역'] = '강릉시'

In [5]:
df_1['월'] = '7월'

In [6]:
df_1

     지역   키워드   언급수   월
0   강릉시    강릉  4199  7월
1   강릉시    여행  1945  7월
2   강릉시    해변  1317  7월
3   강릉시    바다  1303  7월
4   강릉시     맛  1174  7월
5   강릉시    카페  1102  7월
6   강릉시    사진  1094  7월
7   강릉시    시간  1009  7월
8   강릉시    커피   942  7월
9   강릉시    사람   833  7월
10  강릉시   순두부   817  7월
11  강릉시    주문   710  7월
12  강릉시    맛집   699  7월
13  강릉시   강원도   620  7월
14  강릉시   강릉시   603  7월
15  강릉시    추천   576  7월
16  강릉시    숙소   555  7월
17  강릉시    호텔   536  7월
18  강릉시    방문   533  7월
19  강릉시     뷰   523  7월
20  강릉시    메뉴   501  7월
21  강릉시    위치   500  7월
22  강릉시   주차장   477  7월
23  강릉시     집   474  7월
24  강릉시    주차   457  7월
25  강릉시   주문진   456  7월
26  강릉시    예약   435  7월
27  강릉시     빵   422  7월
28  강릉시    초당   415  7월
29  강릉시    코스   408  7월
30  강릉시    여름   383  7월
31  강릉시  해수욕장   383  7월
32  강릉시     회   378  7월
33  강릉시    가족   348  7월
34  강릉시     밥   333  7월
35  강릉시    구경   325  7월
36  강릉시    가격   324  7월
37  강릉시   아르떼   322  7월
38  강릉시    경포   321  7월
39  강릉시    강원   315  7월
40  강릉시    날씨   297  7월
41  강릉시    안목   294  7월
42  강릉시     줄   288  7월
43  강릉시  중앙시장   283  7월
44  강릉시    음식   283  7월
45  강릉시     박   280  7월
46  강릉시    포토   278  7월
47  강릉시     존   275  7월
48  강릉시    저녁   274  7월
49  강릉시    가게   271  7월

In [7]:
df_1.drop([4,7, 9,11, 47,15, 16,17, 18,20, 21,22, 23,26, 29,35, 36,45, 41,42] ,axis = 0, inplace = True)

In [8]:
df_1.reset_index(drop = True, inplace = True)

In [9]:
df_1.loc[27 , '키워드'] = '포토존'

In [10]:
df_1.loc[27 , '언급수'] = 553

In [11]:
df_1.sort_values('언급수' , ascending = False , inplace = True)

In [12]:
df_1.reset_index(drop = True, inplace = True)

In [13]:
#---------------------------------------------------------------------------------------------------

In [14]:
df_2 = pd.read_csv('./키워드 분석 데이터/7월 거제시 키워드.csv', encoding = 'cp949')

In [15]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [16]:
df_2['지역'] = '거제시'

In [17]:
df_2['월'] = '7월'

In [18]:
df_2

     지역   키워드   언급수   월
0   거제시    거제  3199  7월
1   거제시   거제도  1848  7월
2   거제시    여행  1680  7월
3   거제시    사진  1327  7월
4   거제시    바다  1230  7월
5   거제시    카페   933  7월
6   거제시    수국   906  7월
7   거제시    시간   904  7월
8   거제시    맛집   804  7월
9   거제시     뷰   779  7월
10  거제시     맛   730  7월
11  거제시    사람   659  7월
12  거제시   거제시   657  7월
13  거제시  해수욕장   639  7월
14  거제시    펜션   594  7월
15  거제시    방문   558  7월
16  거제시    추천   558  7월
17  거제시    매미   555  7월
18  거제시    바람   552  7월
19  거제시    숙소   528  7월
20  거제시    주문   514  7월
21  거제시    주차   512  7월
22  거제시    여름   478  7월
23  거제시    메뉴   448  7월
24  거제시   주차장   435  7월
25  거제시    가족   430  7월
26  거제시    외도   429  7월
27  거제시    포토   427  7월
28  거제시    코스   426  7월
29  거제시    마을   421  7월
30  거제시     섬   419  7월
31  거제시    위치   391  7월
32  거제시     존   391  7월
33  거제시    커피   388  7월
34  거제시    언덕   383  7월
35  거제시    날씨   382  7월
36  거제시     집   375  7월
37  거제시    풍경   370  7월
38  거제시    오션   366  7월
39  거제시    예약   362  7월
40  거제시    경남   359  7월
41  거제시    구경   332  7월
42  거제시     풀   316  7월
43  거제시     배   311  7월
44  거제시     밥   305  7월
45  거제시    체험   297  7월
46  거제시     꽃   292  7월
47  거제시    계곡   283  7월
48  거제시    호텔   280  7월
49  거제시    입구   279  7월

In [19]:
df_2.drop([7,10, 11,15, 16,18, 17,19, 20,23, 24,28, 29,31, 32,34, 36,39, 41,49] ,axis = 0, inplace = True)

In [20]:
df_2.reset_index(drop = True, inplace = True)

In [21]:
df_2.loc[16 , '키워드'] = '포토존'

In [22]:
df_2.loc[16 , '언급수'] = 818

In [23]:
df_2.sort_values('언급수' , ascending = False , inplace = True)

In [24]:
df_2.reset_index(drop = True, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [26]:
df_3 = pd.read_csv('./키워드 분석 데이터/7월 동해시 키워드.csv', encoding = 'cp949')

In [27]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [28]:
df_3['지역'] = '동해시'

In [29]:
df_3['월'] = '7월'

In [39]:
df_3

     지역    키워드   언급수   월
0   동해시     동해  2525  7월
1   동해시     바다  1658  7월
2   동해시     여행  1639  7월
3   동해시  스카이밸리  1125  7월
4   동해시   해수욕장  1084  7월
5   동해시    동해시  1044  7월
6   동해시   촛대바위   958  7월
7   동해시     해변   945  7월
8   동해시     사진   937  7월
9   동해시     카페   755  7월
10  동해시    강원도   706  7월
11  동해시     무릉   654  7월
12  동해시     숙소   628  7월
13  동해시    전망대   622  7월
14  동해시     체험   549  7월
15  동해시     계곡   528  7월
16  동해시     여름   492  7월
17  동해시     묵호   467  7월
18  동해시     삼척   465  7월
19  동해시     동굴   464  7월
20  동해시     맛집   460  7월
21  동해시      뷰   421  7월
22  동해시     호텔   420  7월
23  동해시    묵호항   405  7월
24  동해시     연필   379  7월
25  동해시     풍경   353  7월
26  동해시     주차   349  7월
27  동해시     등대   334  7월
28  동해시      회   324  7월
29  동해시     비치   320  7월

In [31]:
df_3.drop([7,11, 15,17, 22,26, 27,28, 29,32, 33,35, 37,38, 40,42, 46,47, 48,49] ,axis = 0, inplace = True)

In [32]:
df_3.reset_index(drop = True, inplace = True)

In [33]:
df_3.loc[8, '키워드'] = '스카이밸리'

In [34]:
df_3.loc[8, '언급수'] = 1125

In [35]:
df_3.loc[13, '키워드'] = '촛대바위'

In [36]:
df_3.loc[13, '언급수'] = 958

In [37]:
df_3.sort_values('언급수' , ascending = False , inplace = True)

In [38]:
df_3.reset_index(drop = True, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [40]:
df_4 = pd.read_csv('./키워드 분석 데이터/7월 부여군 키워드.csv', encoding = 'cp949')

In [41]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [42]:
df_4['지역'] = '부여군'

In [43]:
df_4['월'] = '7월'

In [57]:
df_4

     지역    키워드   언급수   월
0   부여군     부여  4065  7월
1   부여군     연꽃  2248  7월
2   부여군    궁남지  1512  7월
3   부여군     여행  1462  7월
4   부여군     축제  1239  7월
5   부여군     사진  1212  7월
6   부여군  롯데리조트   815  7월
7   부여군     백제   810  7월
8   부여군    포토존   555  7월
9   부여군    박물관   550  7월
10  부여군     카페   489  7월
11  부여군   정림사지   472  7월
12  부여군    낙화암   446  7월
13  부여군     체험   438  7월
14  부여군     문화   403  7월
15  부여군    막국수   394  7월
16  부여군     숙소   386  7월
17  부여군     버스   386  7월
18  부여군     서동   377  7월
19  부여군     맛집   359  7월
20  부여군     역사   358  7월
21  부여군      밤   348  7월
22  부여군     공주   322  7월
23  부여군     여름   319  7월
24  부여군     주차   319  7월
25  부여군      꽃   318  7월
26  부여군     나무   302  7월
27  부여군     공원   301  7월
28  부여군    백마강   300  7월
29  부여군     연못   280  7월

In [46]:
df_4.drop([7,8, 10,11, 14,15, 19,22, 25,34, 36,39, 41,40, 43,45, 46,47, 48,49] ,axis = 0, inplace = True)

In [56]:
df_4.reset_index(drop = True, inplace = True)

In [49]:
df_4.loc[29, '키워드'] = '포토존'

In [51]:
df_4.loc[29, '언급수'] = 555

In [52]:
df_4.loc[12, '키워드'] = '롯데리조트'

In [54]:
df_4.loc[12, '언급수'] = 815

In [55]:
df_4.sort_values('언급수' , ascending = False, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [58]:
df_5 = pd.read_csv('./키워드 분석 데이터/7월 서귀포시 키워드.csv', encoding = 'cp949')

In [59]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [60]:
df_5['지역'] = '서귀포시'

In [61]:
df_5['월'] = '7월'

In [65]:
df_5

      지역   키워드   언급수   월
0   서귀포시    제주  3380  7월
1   서귀포시    여행  2252  7월
2   서귀포시   제주도  2087  7월
3   서귀포시    사진  1158  7월
4   서귀포시    카페   939  7월
5   서귀포시  서귀포시   810  7월
6   서귀포시   서귀포   774  7월
7   서귀포시    바다   742  7월
8   서귀포시    맛집   658  7월
9   서귀포시    숙소   630  7월
10  서귀포시    호텔   570  7월
11  서귀포시    수국   566  7월
12  서귀포시     뷰   453  7월
13  서귀포시    돼지   441  7월
14  서귀포시    갈치   400  7월
15  서귀포시    풍경   384  7월
16  서귀포시    여름   375  7월
17  서귀포시    식당   362  7월
18  서귀포시    고기   362  7월
19  서귀포시    주차   358  7월
20  서귀포시     밥   341  7월
21  서귀포시    날씨   331  7월
22  서귀포시    체험   320  7월
23  서귀포시    커피   317  7월
24  서귀포시     꽃   311  7월
25  서귀포시    가족   310  7월
26  서귀포시   분위기   291  7월
27  서귀포시  해수욕장   279  7월
28  서귀포시   가파도   277  7월
29  서귀포시    음식   271  7월

In [63]:
df_5.drop([4,8, 10,12, 14,16, 18,19, 20,23, 24,26, 33,35, 43,45, 46,47, 48,49] ,axis = 0, inplace = True)

In [64]:
df_5.reset_index(drop = True, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [66]:
df_6 = pd.read_csv('./키워드 분석 데이터/7월 양양군 키워드.csv', encoding = 'cp949')

In [67]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [68]:
df_6['지역'] = '양양군'

In [69]:
df_6['월'] = '7월'

In [73]:
df_6

     지역   키워드   언급수   월
0   양양군    양양  3019  7월
1   양양군    여행  1854  7월
2   양양군    바다  1553  7월
3   양양군    서핑  1342  7월
4   양양군    사진  1206  7월
5   양양군    해변  1132  7월
6   양양군    비치  1017  7월
7   양양군    숙소   975  7월
8   양양군    카페   852  7월
9   양양군   강원도   604  7월
10  양양군  해수욕장   567  7월
11  양양군    맛집   508  7월
12  양양군    날씨   486  7월
13  양양군    친구   477  7월
14  양양군     뷰   460  7월
15  양양군    파도   416  7월
16  양양군    커피   413  7월
17  양양군    아침   412  7월
18  양양군    속초   408  7월
19  양양군    예약   406  7월
20  양양군    여름   394  7월
21  양양군    저녁   390  7월
22  양양군    호텔   384  7월
23  양양군   낙산사   370  7월
24  양양군    강습   348  7월
25  양양군    죽도   336  7월
26  양양군   분위기   325  7월
27  양양군   막국수   323  7월
28  양양군    버스   318  7월
29  양양군    맥주   298  7월

In [71]:
df_6.drop([7,9, 11,14, 15,20, 26,28, 33,34, 35,40, 42,43, 44,45, 46,47, 48,49] ,axis = 0, inplace = True)

In [72]:
df_6.reset_index(drop = True, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [74]:
df_7 = pd.read_csv('./키워드 분석 데이터/7월 여수시 키워드.csv', encoding = 'cp949')

In [75]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [76]:
df_7['지역'] = '여수시'

In [77]:
df_7['월'] = '7월'

In [81]:
df_7

     지역    키워드   언급수   월
0   여수시     여수  5435  7월
1   여수시     여행  2136  7월
2   여수시     바다  1580  7월
3   여수시     사진  1227  7월
4   여수시     카페   864  7월
5   여수시     맛집   800  7월
6   여수시     게장   702  7월
7   여수시      뷰   659  7월
8   여수시    여수시   611  7월
9   여수시      빵   604  7월
10  여수시    이순신   598  7월
11  여수시    오동도   572  7월
12  여수시      밤   555  7월
13  여수시     호텔   543  7월
14  여수시     주차   518  7월
15  여수시     김밥   494  7월
16  여수시     광장   493  7월
17  여수시   케이블카   474  7월
18  여수시     숙소   454  7월
19  여수시     낭만   448  7월
20  여수시     루지   389  7월
21  여수시     식당   383  7월
22  여수시     여름   361  7월
23  여수시     공원   358  7월
24  여수시     포차   344  7월
25  여수시      밥   343  7월
26  여수시  아이스크림   334  7월
27  여수시     버거   326  7월
28  여수시     오션   325  7월
29  여수시    크루즈   323  7월

In [79]:
df_7.drop([4,5, 9,10, 14,17, 20,21, 23,29, 30,31, 32,35, 36,37, 38,41, 46,45] ,axis = 0, inplace = True)

In [80]:
df_7.reset_index(drop = True, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [111]:
df_8 = pd.read_csv('./키워드 분석 데이터/7월 울진군 키워드.csv', encoding = 'cp949')

In [112]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [113]:
df_8['지역'] = '울진군'

In [114]:
df_8['월'] = '7월'

In [125]:
df_8

     지역    키워드   언급수   월
0   울진군     울진  3161  7월
1   울진군     바다  1728  7월
2   울진군     여행  1708  7월
3   울진군  스카이워크  1152  7월
4   울진군     사진   925  7월
5   울진군     카페   634  7월
6   울진군     대게   602  7월
7   울진군     숙소   540  7월
8   울진군     레일   496  7월
9   울진군    성류굴   464  7월
10  울진군      뷰   455  7월
11  울진군      산   434  7월
12  울진군     온천   433  7월
13  울진군     여름   393  7월
14  울진군     해변   387  7월
15  울진군     맛집   365  7월
16  울진군     공원   348  7월
17  울진군     날씨   333  7월
18  울진군     식당   327  7월
19  울진군     펜션   321  7월
20  울진군     가족   316  7월
21  울진군     아침   310  7월
22  울진군     동해   301  7월
23  울진군   해수욕장   301  7월
24  울진군      밥   282  7월
25  울진군    망양정   276  7월
26  울진군     체험   266  7월
27  울진군     동굴   261  7월
28  울진군      게   259  7월
29  울진군    물놀이   250  7월

In [116]:
df_8.drop([6,8, 11,13, 15,20, 23,26, 27,29, 30,25, 18,35, 36,37, 43,44, 46,48] ,axis = 0, inplace = True)

In [124]:
df_8.reset_index(drop = True, inplace = True)

In [118]:
df_8.loc[4, '키워드'] = '스카이워크'

In [121]:
df_8.loc[4, '언급수'] = 1152

In [123]:
df_8.sort_values('언급수', ascending = False , inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [126]:
df_9 = pd.read_csv('./키워드 분석 데이터/7월 인제군 키워드.csv', encoding = 'cp949')

In [127]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [128]:
df_9['지역'] = '인제군'

In [129]:
df_9['월'] = '7월'

In [133]:
df_9

     지역   키워드   언급수   월
0   인제군    인제  2013  7월
1   인제군    여행  1547  7월
2   인제군   강원도  1132  7월
3   인제군    사진   962  7월
4   인제군    계곡   957  7월
5   인제군    숙소   648  7월
6   인제군    아침   556  7월
7   인제군    여름   536  7월
8   인제군    카페   516  7월
9   인제군   래프팅   509  7월
10  인제군     숲   482  7월
11  인제군   막국수   427  7월
12  인제군    속초   420  7월
13  인제군    바다   413  7월
14  인제군    펜션   412  7월
15  인제군     산   386  7월
16  인제군  자작나무   375  7월
17  인제군    맛집   367  7월
18  인제군    황태   364  7월
19  인제군    체험   355  7월
20  인제군    가족   349  7월
21  인제군    식당   342  7월
22  인제군    저녁   324  7월
23  인제군   물놀이   318  7월
24  인제군    호텔   316  7월
25  인제군     밥   301  7월
26  인제군    버스   296  7월
27  인제군    풍경   295  7월
28  인제군    커피   295  7월
29  인제군   휴게소   284  7월

In [131]:
df_9.drop([5,6, 8,9, 15,17, 21,22, 27,32, 35,36, 40,42, 43,44, 46,47, 48,49] ,axis = 0, inplace = True)

In [132]:
df_9.reset_index(drop = True, inplace = True)

In [25]:
#---------------------------------------------------------------------------------------------------

In [134]:
df_10 = pd.read_csv('./키워드 분석 데이터/7월 제주시 키워드.csv', encoding = 'cp949')

In [135]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [136]:
df_10['지역'] = '제주시'

In [137]:
df_10['월'] = '7월'

In [141]:
df_10

     지역   키워드   언급수   월
0   제주시    제주  2516  7월
1   제주시   제주도  1527  7월
2   제주시   제주시  1511  7월
3   제주시    여행  1381  7월
4   제주시    카페  1085  7월
5   제주시    사진   987  7월
6   제주시    맛집   838  7월
7   제주시    공항   552  7월
8   제주시    호텔   551  7월
9   제주시    커피   494  7월
10  제주시    숙소   448  7월
11  제주시    주차   404  7월
12  제주시    바다   368  7월
13  제주시    고기   363  7월
14  제주시     밥   352  7월
15  제주시    식당   350  7월
16  제주시    음식   337  7월
17  제주시    돼지   336  7월
18  제주시    친구   288  7월
19  제주시    갈치   282  7월
20  제주시   분위기   280  7월
21  제주시    저녁   273  7월
22  제주시    시장   269  7월
23  제주시    국수   268  7월
24  제주시    날씨   266  7월
25  제주시     뷰   253  7월
26  제주시  해수욕장   243  7월
27  제주시     빵   241  7월
28  제주시    새우   229  7월
29  제주시     게   228  7월

In [139]:
df_10.drop([4,8, 9,10, 11,14, 16,18, 20,21, 28,29, 30,32, 36,42, 43,46, 47,40] ,axis = 0, inplace = True)

In [140]:
df_10.reset_index(drop = True, inplace = True)

In [142]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [143]:
df.reset_index(drop = True, inplace = True)

In [144]:
df.to_csv('7월 키워드 데이터.csv', encoding = 'cp949')

## 8월 언급량 키워드 데이터 전처리

In [145]:
df_1 = pd.read_csv('./키워드 분석 데이터/8월 고창군 키워드.csv', encoding = 'cp949')

In [146]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [147]:
df_1['지역'] = '고창군'

In [148]:
df_1['월'] = '8월'

In [152]:
df_1

     지역   키워드   언급수   월
0   고창군    고창  3076  8월
1   고창군    여행  1473  8월
2   고창군    사진   968  8월
3   고창군    장어   820  8월
4   고창군    카페   710  8월
5   고창군    체험   626  8월
6   고창군  해바라기   623  8월
7   고창군    농원   492  8월
8   고창군     꽃   447  8월
9   고창군    갯벌   439  8월
10  고창군    여름   433  8월
11  고창군    농장   397  8월
12  고창군    가족   358  8월
13  고창군    맛집   350  8월
14  고창군    식당   332  8월
15  고창군    숙소   321  8월
16  고창군   복분자   319  8월
17  고창군    바다   311  8월
18  고창군   고인돌   301  8월
19  고창군    날씨   300  8월
20  고창군    힐링   291  8월
21  고창군   선운사   291  8월
22  고창군    음식   235  8월
23  고창군    골프   234  8월
24  고창군    휴가   230  8월
25  고창군    저녁   230  8월
26  고창군  코스모스   225  8월
27  고창군    자연   224  8월
28  고창군  해수욕장   224  8월
29  고창군    축제   221  8월

In [150]:
df_1.drop([5,8, 9,10, 11,12, 17,19, 22,27, 32,33, 34,35, 36,37, 38,39, 47,49] ,axis = 0, inplace = True)

In [151]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [153]:
df_2 = pd.read_csv('./키워드 분석 데이터/8월 당진군 키워드.csv', encoding = 'cp949')

In [154]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [155]:
df_2['지역'] = '당진군'

In [156]:
df_2['월'] = '8월'

In [166]:
df_2

     지역   키워드   언급수   월
0   당진군    당진  2660  8월
1   당진군    카페  1723  8월
2   당진군    사진  1354  8월
3   당진군    여행  1248  8월
4   당진군    사람   739  8월
5   당진군    맛집   656  8월
6   당진군   미술관   654  8월
7   당진군    바다   638  8월
8   당진군   포토존   596  8월
9   당진군    공원   356  8월
10  당진군     빵   349  8월
11  당진군    날씨   346  8월
12  당진군    주차   345  8월
13  당진군    커피   324  8월
14  당진군    풍경   296  8월
15  당진군    포토   285  8월
16  당진군    체험   283  8월
17  당진군     밥   282  8월
18  당진군   우렁이   275  8월
19  당진군    전시   262  8월
20  당진군    여름   260  8월
21  당진군    친구   256  8월
22  당진군    서해   254  8월
23  당진군     면   250  8월
24  당진군  놀이동산   247  8월
25  당진군    식당   231  8월
26  당진군    음료   219  8월
27  당진군   분위기   217  8월
28  당진군    숙소   214  8월
29  당진군    로드   213  8월

In [158]:
df_2.drop([5,6, 10,11, 12,13, 14,15, 16,17, 20,25, 26,27, 29,30, 31,32, 37,42] ,axis = 0, inplace = True)

In [165]:
df_2.reset_index(drop = True, inplace = True)

In [161]:
df_2.loc[8 , '키워드'] = '포토존'

In [163]:
df_2.loc[8 , '언급수'] = 596

In [164]:
df_2.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [175]:
df_3 = pd.read_csv('./키워드 분석 데이터/8월 동해시 키워드.csv', encoding = 'cp949')

In [176]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [177]:
df_3['지역'] = '동해시'

In [178]:
df_3['월'] = '8월'

In [194]:
df_3

     지역    키워드   언급수   월
0   동해시     동해  2266  8월
1   동해시     여행  1728  8월
2   동해시     바다  1488  8월
3   동해시   촛대바위  1045  8월
4   동해시  스카이밸리  1036  8월
5   동해시    동해시   985  8월
6   동해시     사진   977  8월
7   동해시  해랑전망대   895  8월
8   동해시     해변   894  8월
9   동해시   해수욕장   747  8월
10  동해시     카페   663  8월
11  동해시     숙소   596  8월
12  동해시     맛집   593  8월
13  동해시     삼척   490  8월
14  동해시     무릉   482  8월
15  동해시     동굴   459  8월
16  동해시     묵호   420  8월
17  동해시     여름   404  8월
18  동해시      뷰   393  8월
19  동해시    묵호항   377  8월
20  동해시     주차   366  8월
21  동해시     등대   366  8월
22  동해시      밥   316  8월
23  동해시     날씨   315  8월
24  동해시     가족   310  8월
25  동해시     친구   304  8월
26  동해시      회   303  8월
27  동해시     메뉴   296  8월
28  동해시     아침   292  8월
29  동해시     풍경   285  8월

In [180]:
df_3.drop([6,7, 8,11, 17,20, 22,24, 26,28, 29,31, 32,35, 36,37, 38,46, 48,44] ,axis = 0, inplace = True)

In [193]:
df_3.reset_index(drop = True, inplace = True)

In [183]:
df_3.loc[10, '키워드'] = '해랑전망대'

In [185]:
df_3.loc[10, '언급수'] = 895

In [186]:
df_3.loc[7, '키워드'] = '촛대바위'

In [188]:
df_3.loc[7, '언급수'] = 1045

In [189]:
df_3.loc[9, '키워드'] = '스카이밸리'

In [191]:
df_3.loc[9, '언급수'] = 1036

In [192]:
df_3.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [195]:
df_4 = pd.read_csv('./키워드 분석 데이터/8월 서귀포시 키워드.csv', encoding = 'cp949')

In [196]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [197]:
df_4['지역'] = '서귀포시'

In [198]:
df_4['월'] = '8월'

In [202]:
df_4

      지역   키워드   언급수   월
0   서귀포시    제주  3180  8월
1   서귀포시    여행  2242  8월
2   서귀포시   제주도  2144  8월
3   서귀포시    사진  1325  8월
4   서귀포시    카페  1016  8월
5   서귀포시    바다   853  8월
6   서귀포시   서귀포   831  8월
7   서귀포시    숙소   697  8월
8   서귀포시    호텔   631  8월
9   서귀포시    맛집   556  8월
10  서귀포시     뷰   431  8월
11  서귀포시    가족   430  8월
12  서귀포시    체험   399  8월
13  서귀포시    식당   386  8월
14  서귀포시    주차   380  8월
15  서귀포시    풍경   377  8월
16  서귀포시    여름   376  8월
17  서귀포시    오름   374  8월
18  서귀포시    날씨   367  8월
19  서귀포시    해변   351  8월
20  서귀포시  해수욕장   342  8월
21  서귀포시    돼지   337  8월
22  서귀포시    커피   328  8월
23  서귀포시    고기   324  8월
24  서귀포시    음식   315  8월
25  서귀포시    갈치   308  8월
26  서귀포시     배   285  8월
27  서귀포시    아침   283  8월
28  서귀포시    저녁   277  8월
29  서귀포시     밥   272  8월

In [200]:
df_4.drop([4,8, 9,11, 12,13, 15,17, 18,21, 22,24, 26,31, 39,41, 45,48, 49,47] ,axis = 0, inplace = True)

In [201]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [203]:
df_5 = pd.read_csv('./키워드 분석 데이터/8월 속초시 키워드.csv', encoding = 'cp949')

In [204]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [205]:
df_5['지역'] = '속초시'

In [206]:
df_5['월'] = '8월'

In [210]:
df_5

     지역   키워드   언급수   월
0   속초시    속초  5304  8월
1   속초시    여행  1909  8월
2   속초시    바다  1172  8월
3   속초시    사진  1080  8월
4   속초시    카페  1001  8월
5   속초시    맛집   769  8월
6   속초시  해수욕장   725  8월
7   속초시    주차   716  8월
8   속초시   속초시   679  8월
9   속초시     뷰   641  8월
10  속초시    물회   617  8월
11  속초시     회   553  8월
12  속초시    청초   447  8월
13  속초시    가족   444  8월
14  속초시    해변   434  8월
15  속초시    대게   429  8월
16  속초시    호텔   420  8월
17  속초시   설악산   407  8월
18  속초시    커피   404  8월
19  속초시  중앙시장   400  8월
20  속초시     빵   392  8월
21  속초시    식당   389  8월
22  속초시   오징어   381  8월
23  속초시    여름   352  8월
24  속초시    휴가   346  8월
25  속초시    음식   342  8월
26  속초시    저녁   333  8월
27  속초시    생선   328  8월
28  속초시    아침   325  8월
29  속초시     밥   322  8월

In [208]:
df_5.drop([3,5, 7,9, 12,14, 17,18, 19,21, 22,27, 29,36, 37,38, 40,42, 44,49] ,axis = 0, inplace = True)

In [209]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [242]:
df_6 = pd.read_csv('./키워드 분석 데이터/8월 양양군 키워드.csv', encoding = 'cp949')

In [243]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [244]:
df_6['지역'] = '양양군'

In [245]:
df_6['월'] = '8월'

In [246]:
df_6

     지역   키워드   언급수   월
0   양양군    양양  3220  8월
1   양양군    여행  1936  8월
2   양양군    서핑  1408  8월
3   양양군    바다  1280  8월
4   양양군    사진  1233  8월
5   양양군    해변  1094  8월
6   양양군    사람  1093  8월
7   양양군    비치   990  8월
8   양양군    숙소   934  8월
9   양양군    시간   891  8월
10  양양군    카페   821  8월
11  양양군     맛   760  8월
12  양양군   강원도   641  8월
13  양양군     피   562  8월
14  양양군  해수욕장   545  8월
15  양양군    날씨   538  8월
16  양양군     집   538  8월
17  양양군    친구   518  8월
18  양양군    맛집   489  8월
19  양양군    여름   482  8월
20  양양군    속초   459  8월
21  양양군    저녁   441  8월
22  양양군    아침   437  8월
23  양양군   낙산사   427  8월
24  양양군    주문   418  8월
25  양양군    예약   408  8월
26  양양군    추천   400  8월
27  양양군     뷰   399  8월
28  양양군   분위기   395  8월
29  양양군    방문   384  8월
30  양양군    커피   378  8월
31  양양군     핫   377  8월
32  양양군    휴가   371  8월
33  양양군    강습   355  8월
34  양양군    인구   343  8월
35  양양군    출발   339  8월
36  양양군    주차   337  8월
37  양양군     박   336  8월
38  양양군   주차장   335  8월
39  양양군    호텔   335  8월
40  양양군    구경   334  8월
41  양양군    파도   325  8월
42  양양군    맥주   308  8월
43  양양군     줄   307  8월
44  양양군   물놀이   301  8월
45  양양군     밥   290  8월
46  양양군    역시   283  8월
47  양양군     배   281  8월
48  양양군     함   272  8월
49  양양군     게   269  8월

In [247]:
df_6.drop([6,9, 11,12, 13,16, 24,25, 26,29, 31,34, 35,37, 38,40, 43,46, 47,48] ,axis = 0, inplace = True)

In [248]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [219]:
df_7 = pd.read_csv('./키워드 분석 데이터/8월 여수시 키워드.csv', encoding = 'cp949')

In [220]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [221]:
df_7['지역'] = '여수시'

In [222]:
df_7['월'] = '8월'

In [233]:
df_7

     지역    키워드   언급수   월
0   여수시     여수  4687  8월
1   여수시     여행  1956  8월
2   여수시     바다  1756  8월
3   여수시     사진  1110  8월
4   여수시     카페  1008  8월
5   여수시     게장   889  8월
6   여수시     맛집   691  8월
7   여수시    여수시   689  8월
8   여수시    돌산읍   677  8월
9   여수시      밤   636  8월
10  여수시      뷰   628  8월
11  여수시     낭만   625  8월
12  여수시    이순신   612  8월
13  여수시     김밥   523  8월
14  여수시     호텔   512  8월
15  여수시     주차   490  8월
16  여수시     숙소   483  8월
17  여수시    오동도   483  8월
18  여수시     포차   445  8월
19  여수시   케이블카   439  8월
20  여수시     광장   436  8월
21  여수시      섬   424  8월
22  여수시      밥   379  8월
23  여수시     식당   378  8월
24  여수시     가족   365  8월
25  여수시  아이스크림   354  8월
26  여수시     버거   320  8월
27  여수시     날씨   313  8월
28  여수시     오션   307  8월
29  여수시     포장   303  8월

In [224]:
df_7.drop([5,6, 8,11, 12,17, 20,22, 25,29, 31,32, 33,34, 39,41, 42,43, 44,46] ,axis = 0, inplace = True)

In [232]:
df_7.reset_index(drop = True, inplace = True)

In [228]:
df_7.loc[25 , '키워드'] = '돌산읍'

In [230]:
df_7.loc[25 , '언급수'] = 677

In [231]:
df_7.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [257]:
df_8 = pd.read_csv('./키워드 분석 데이터/8월 영양군 키워드.csv', encoding = 'cp949')

In [258]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [259]:
df_8['지역'] = '영양군'

In [260]:
df_8['월'] = '8월'

In [264]:
df_8

     지역  키워드   언급수   월
0   영양군   여행  1578  8월
1   영양군   영양  1167  8월
2   영양군    밥   861  8월
3   영양군   맛집   712  8월
4   영양군   사진   635  8월
5   영양군   경주   507  8월
6   영양군   카페   488  8월
7   영양군   고기   473  8월
8   영양군   음식   461  8월
9   영양군   여름   373  8월
10  영양군   구이   370  8월
11  영양군   식당   370  8월
12  영양군   숙소   356  8월
13  영양군   저녁   315  8월
14  영양군   한우   311  8월
15  영양군   아침   302  8월
16  영양군   바다   292  8월
17  영양군   가족   289  8월
18  영양군  비타민   281  8월
19  영양군   건강   279  8월
20  영양군   반찬   278  8월
21  영양군   피부   267  8월
22  영양군   전복   266  8월
23  영양군   휴가   263  8월
24  영양군   식사   263  8월
25  영양군  강아지   248  8월
26  영양군   갈비   239  8월
27  영양군    산   235  8월
28  영양군   체험   232  8월
29  영양군    게   231  8월

In [262]:
df_8.drop([1,4, 7,8, 9,14, 15,16, 20,22, 40,23, 29,37, 38,39, 41,43, 46,47] ,axis = 0, inplace = True)

In [263]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [265]:
df_9 = pd.read_csv('./키워드 분석 데이터/8월 인제군 키워드.csv', encoding = 'cp949')

In [266]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [267]:
df_9['지역'] = '인제군'

In [268]:
df_9['월'] = '8월'

In [272]:
df_9

     지역    키워드   언급수   월
0   인제군     인제  2148  8월
1   인제군     여행  1625  8월
2   인제군     계곡  1118  8월
3   인제군    강원도  1093  8월
4   인제군     사진   904  8월
5   인제군     숙소   641  8월
6   인제군    막국수   624  8월
7   인제군     아침   537  8월
8   인제군     여름   507  8월
9   인제군     맛집   499  8월
10  인제군     카페   492  8월
11  인제군    래프팅   441  8월
12  인제군     가족   440  8월
13  인제군     식당   366  8월
14  인제군     휴가   356  8월
15  인제군    물놀이   356  8월
16  인제군     바다   342  8월
17  인제군     두부   335  8월
18  인제군     날씨   334  8월
19  인제군     캠핑   328  8월
20  인제군     펜션   324  8월
21  인제군     황태   318  8월
22  인제군     저녁   312  8월
23  인제군  자작나무숲   302  8월
24  인제군     폭포   302  8월
25  인제군      뷰   301  8월
26  인제군      밥   297  8월
27  인제군     체험   292  8월
28  인제군     풍경   288  8월
29  인제군    캠핑장   277  8월

In [270]:
df_9.drop([4,6, 7,8, 16,17, 21,25, 26,32, 33,35, 37,41, 44,45, 12,20, 47,49] ,axis = 0, inplace = True)

In [271]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [273]:
df_10 = pd.read_csv('./키워드 분석 데이터/8월 제주시 키워드.csv', encoding = 'cp949')

In [274]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [275]:
df_10['지역'] = '제주시'

In [276]:
df_10['월'] = '8월'

In [280]:
df_10

     지역  키워드   언급수   월
0   제주시   제주  2645  8월
1   제주시  제주시  1543  8월
2   제주시  제주도  1445  8월
3   제주시   여행  1397  8월
4   제주시   사진  1005  8월
5   제주시   카페   997  8월
6   제주시   맛집   948  8월
7   제주시   공항   676  8월
8   제주시   호텔   631  8월
9   제주시   숙소   546  8월
10  제주시   바다   519  8월
11  제주시   고기   453  8월
12  제주시   주차   437  8월
13  제주시   커피   425  8월
14  제주시   음식   382  8월
15  제주시    밥   357  8월
16  제주시   김밥   350  8월
17  제주시   식사   341  8월
18  제주시   돼지   339  8월
19  제주시   식당   334  8월
20  제주시  분위기   330  8월
21  제주시   저녁   310  8월
22  제주시  말고기   308  8월
23  제주시   새우   306  8월
24  제주시    뷰   286  8월
25  제주시   친구   282  8월
26  제주시   갈치   266  8월
27  제주시   아침   265  8월
28  제주시    게   264  8월
29  제주시   시장   238  8월

In [278]:
df_10.drop([4,8, 9,10, 11,14, 15,19, 22,30, 32,35, 38,39, 43,44, 45,47, 48,46] ,axis = 0, inplace = True)

In [279]:
df_10.reset_index(drop = True, inplace = True)

In [281]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [282]:
df.reset_index(drop = True, inplace = True)

In [283]:
df.to_csv('8월 키워드 데이터.csv', encoding = 'cp949')

## 9월 언급량 키워드 데이터 전처리

In [284]:
df_1 = pd.read_csv('./키워드 분석 데이터/9월 강릉시 키워드.csv', encoding = 'cp949')

In [285]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [286]:
df_1['지역'] = '강릉시'

In [287]:
df_1['월'] = '9월'

In [291]:
df_1

     지역   키워드   언급수   월
0   강릉시    강릉  4505  9월
1   강릉시    여행  2062  9월
2   강릉시    카페  1198  9월
3   강릉시    바다  1168  9월
4   강릉시    커피  1152  9월
5   강릉시    사진  1136  9월
6   강릉시    해변  1107  9월
7   강릉시    맛집   728  9월
8   강릉시     빵   726  9월
9   강릉시    호텔   723  9월
10  강릉시   순두부   701  9월
11  강릉시    숙소   527  9월
12  강릉시    주차   505  9월
13  강릉시     뷰   428  9월
14  강릉시    예약   410  9월
15  강릉시   주문진   366  9월
16  강릉시    날씨   357  9월
17  강릉시     회   354  9월
18  강릉시  중앙시장   352  9월
19  강릉시   칼국수   319  9월
20  강릉시    식당   311  9월
21  강릉시     밥   309  9월
22  강릉시    가족   306  9월
23  강릉시    여름   298  9월
24  강릉시    짬뽕   298  9월
25  강릉시    경포   287  9월
26  강릉시    강원   286  9월
27  강릉시    강문   283  9월
28  강릉시   젤라또   278  9월
29  강릉시   분위기   276  9월

In [289]:
df_1.drop([2,8, 9,13, 15,16, 17,18, 21,22, 23,24, 27,28, 29,34, 41,42, 43,47] ,axis = 0, inplace = True)

In [290]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [292]:
df_2 = pd.read_csv('./키워드 분석 데이터/9월 거제시 키워드.csv', encoding = 'cp949')

In [293]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [294]:
df_2['지역'] = '거제시'

In [295]:
df_2['월'] = '9월'

In [305]:
df_2

     지역   키워드   언급수   월
0   거제시    거제  2962  9월
1   거제시    여행  1577  9월
2   거제시   거제도  1430  9월
3   거제시    바다  1130  9월
4   거제시    카페  1076  9월
5   거제시    사진  1059  9월
6   거제시     뷰   802  9월
7   거제시   거제시   642  9월
8   거제시   포토존   590  9월
9   거제시     섬   549  9월
10  거제시    외도   549  9월
11  거제시    주차   520  9월
12  거제시    맛집   507  9월
13  거제시    커피   489  9월
14  거제시    숙소   487  9월
15  거제시    펜션   484  9월
16  거제시    오션   400  9월
17  거제시    가족   363  9월
18  거제시    체험   347  9월
19  거제시     밥   345  9월
20  거제시    풍경   333  9월
21  거제시    날씨   333  9월
22  거제시    마을   319  9월
23  거제시  해수욕장   315  9월
24  거제시   유람선   302  9월
25  거제시    몽돌   299  9월
26  거제시  케이블카   290  9월
27  거제시   화장실   283  9월
28  거제시     배   280  9월
29  거제시    식당   262  9월

In [297]:
df_2.drop([6,8, 9,10, 12,13, 17,18, 19,23, 25,26, 27,28, 29,32, 45,42, 43,48] ,axis = 0, inplace = True)

In [304]:
df_2.reset_index(drop = True, inplace = True)

In [300]:
df_2.loc[23, '키워드'] = '포토존'

In [302]:
df_2.loc[23, '언급수'] = 590

In [303]:
df_2.sort_values('언급수', ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [306]:
df_3 = pd.read_csv('./키워드 분석 데이터/9월 경주시 키워드.csv', encoding = 'cp949')

In [307]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [308]:
df_3['지역'] = '경주시'

In [309]:
df_3['월'] = '9월'

In [323]:
df_3

     지역   키워드   언급수   월
0   경주시    경주  4569  9월
1   경주시    여행  2001  9월
2   경주시    사진  1288  9월
3   경주시    카페   800  9월
4   경주시   포토존   769  9월
5   경주시   월정교   737  9월
6   경주시   첨성대   662  9월
7   경주시    주차   549  9월
8   경주시    맛집   529  9월
9   경주시    숙소   506  9월
10  경주시    대릉   472  9월
11  경주시    가을   464  9월
12  경주시   불국사   432  9월
13  경주시    체험   431  9월
14  경주시    가족   420  9월
15  경주시     집   391  9월
16  경주시    신라   351  9월
17  경주시    커피   330  9월
18  경주시     빵   326  9월
19  경주시    동궁   323  9월
20  경주시    호텔   320  9월
21  경주시     뷰   309  9월
22  경주시    펜션   309  9월
23  경주시    야경   307  9월
24  경주시  주상절리   307  9월
25  경주시    저녁   303  9월
26  경주시    날씨   302  9월
27  경주시   분위기   301  9월
28  경주시     밥   296  9월
29  경주시    역사   294  9월

In [311]:
df_3.drop([3,5, 7,8, 9,10, 12,15, 16,19, 22,24, 25,26, 28,29, 33,35, 39,49] ,axis = 0, inplace = True)

In [322]:
df_3.reset_index(drop = True, inplace = True)

In [315]:
df_3.loc[14 , '키워드'] = '포토존'

In [317]:
df_3.loc[14 , '언급수'] = 769

In [318]:
df_3.loc[16 , '키워드'] = '월정교'

In [320]:
df_3.loc[16 , '언급수'] = 737

In [321]:
df_3.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [324]:
df_4 = pd.read_csv('./키워드 분석 데이터/9월 단양군 키워드.csv', encoding = 'cp949')

In [325]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [326]:
df_4['지역'] = '단양군'

In [327]:
df_4['월'] = '9월'

In [338]:
df_4

     지역       키워드   언급수   월
0   단양군        단양  3826  9월
1   단양군        여행  1946  9월
2   단양군        사진  1465  9월
3   단양군        마늘  1425  9월
4   단양군  만천하스카이워크  1323  9월
5   단양군    패러글라이딩  1019  9월
6   단양군        카페  1006  9월
7   단양군        시장   821  9월
8   단양군      도담삼봉   755  9월
9   단양군        숙소   618  9월
10  단양군        타고   559  9월
11  단양군        풍경   483  9월
12  단양군       유람선   467  9월
13  단양군       닭강정   449  9월
14  단양군        주차   442  9월
15  단양군         산   427  9월
16  단양군        날씨   426  9월
17  단양군         뷰   404  9월
18  단양군        맛집   404  9월
19  단양군      고수동굴   366  9월
20  단양군        식당   361  9월
21  단양군        출발   340  9월
22  단양군         빵   336  9월
23  단양군        커피   334  9월
24  단양군       전망대   327  9월
25  단양군        아침   316  9월
26  단양군       떡갈비   316  9월
27  단양군        저녁   300  9월
28  단양군       카페산   297  9월
29  단양군     아쿠아리움   285  9월

In [330]:
df_4.drop([4,7, 11,12, 13,15, 16,18, 22,26, 28,29, 35,39, 41,45, 32,21, 48,47] ,axis = 0, inplace = True)

KeyError: '[4, 7, 11, 12, 13, 15, 16, 18, 22, 26, 28, 29, 35, 39, 41, 45, 32, 21, 48, 47] not found in axis'

In [337]:
df_4.reset_index(drop = True, inplace = True)

In [333]:
df_4.loc[8, '키워드'] = '만천하스카이워크'

In [335]:
df_4.loc[8, '언급수'] = 1323

In [336]:
df_4.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [358]:
df_5 = pd.read_csv('./키워드 분석 데이터/9월 서귀포시 키워드.csv', encoding = 'cp949')

In [359]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [360]:
df_5['지역'] = '서귀포시'

In [361]:
df_5['월'] = '9월'

In [370]:
df_5

      지역   키워드   언급수   월
0   서귀포시    제주  3131  9월
1   서귀포시    여행  2253  9월
2   서귀포시   제주도  2026  9월
3   서귀포시    사진  1193  9월
4   서귀포시    카페  1184  9월
5   서귀포시  서귀포시   758  9월
6   서귀포시    바다   649  9월
7   서귀포시    맛집   572  9월
8   서귀포시    호텔   569  9월
9   서귀포시    숙소   545  9월
10  서귀포시   포토존   499  9월
11  서귀포시    가을   397  9월
12  서귀포시    주차   396  9월
13  서귀포시    돼지   391  9월
14  서귀포시    체험   385  9월
15  서귀포시    날씨   371  9월
16  서귀포시     뷰   361  9월
17  서귀포시    풍경   346  9월
18  서귀포시    고기   330  9월
19  서귀포시    갈치   320  9월
20  서귀포시   마라도   297  9월
21  서귀포시    식당   287  9월
22  서귀포시    커피   272  9월
23  서귀포시    핑크   269  9월
24  서귀포시    가족   264  9월
25  서귀포시    음료   261  9월
26  서귀포시    자연   257  9월
27  서귀포시    포토   246  9월
28  서귀포시    시장   242  9월
29  서귀포시    전복   241  9월

In [363]:
df_5.drop([5,6, 8,10, 11,12, 15,17, 18,19, 20,27, 30,32, 34,36, 38,43, 44,49] ,axis = 0, inplace = True)

In [369]:
df_5.reset_index(drop = True, inplace = True)

In [365]:
df_5.loc[26 , '키워드'] = '포토존'

In [366]:
df_5.loc[26 , '언급수'] = 499

In [367]:
df_5.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [353]:
df_6 = pd.read_csv('./키워드 분석 데이터/9월 양양군 키워드.csv', encoding = 'cp949')

In [354]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [355]:
df_6['지역'] = '양양군'

In [356]:
df_6['월'] = '9월'

In [373]:
df_6

     지역   키워드   언급수   월
0   양양군    양양  2887  9월
1   양양군    여행  1976  9월
2   양양군    바다  1472  9월
3   양양군    사진  1333  9월
4   양양군    숙소  1104  9월
5   양양군    서핑  1065  9월
6   양양군    시간   907  9월
7   양양군    해변   907  9월
8   양양군    카페   868  9월
9   양양군    비치   814  9월
10  양양군   낙산사   598  9월
11  양양군    날씨   558  9월
12  양양군    맛집   511  9월
13  양양군     뷰   497  9월
14  양양군    친구   496  9월
15  양양군    속초   457  9월
16  양양군    호텔   445  9월
17  양양군  해수욕장   444  9월
18  양양군    커피   417  9월
19  양양군    저녁   408  9월
20  양양군    아침   403  9월
21  양양군    파도   363  9월
22  양양군     밥   363  9월
23  양양군     회   344  9월
24  양양군   막국수   333  9월
25  양양군    인구   316  9월
26  양양군     함   312  9월
27  양양군    주차   300  9월
28  양양군     밤   295  9월
29  양양군   분위기   290  9월

In [371]:
df_6.drop([6,7, 13,15, 16,20, 24,27, 29,30, 31,35, 37,40, 41,43, 45,47, 48,49] ,axis = 0, inplace = True)

In [372]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [374]:
df_7 = pd.read_csv('./키워드 분석 데이터/9월 제주시 키워드.csv', encoding = 'cp949')

In [375]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [376]:
df_7['지역'] = '제주시'

In [377]:
df_7['월'] = '9월'

In [381]:
df_7

     지역   키워드   언급수   월
0   제주시    제주  2692  9월
1   제주시   제주도  1605  9월
2   제주시    여행  1539  9월
3   제주시   제주시  1457  9월
4   제주시    카페   976  9월
5   제주시    맛집   969  9월
6   제주시    사진   877  9월
7   제주시    공항   637  9월
8   제주시    고기   598  9월
9   제주시    호텔   514  9월
10  제주시    바다   492  9월
11  제주시    커피   457  9월
12  제주시    숙소   457  9월
13  제주시    주차   448  9월
14  제주시    식당   402  9월
15  제주시     밥   359  9월
16  제주시    국수   349  9월
17  제주시    김밥   340  9월
18  제주시    음식   335  9월
19  제주시    돼지   326  9월
20  제주시   분위기   320  9월
21  제주시     뷰   317  9월
22  제주시    갈치   303  9월
23  제주시    새우   293  9월
24  제주시    친구   283  9월
25  제주시  고기국수   283  9월
26  제주시    가족   279  9월
27  제주시    식사   260  9월
28  제주시    저녁   258  9월
29  제주시    아침   243  9월

In [379]:
df_7.drop([4,7, 9,10, 11,14, 16,20, 22,24, 27,28, 36,37, 40,42, 45,46, 48,49] ,axis = 0, inplace = True)

In [380]:
df_7.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [400]:
df_8 = pd.read_csv('./키워드 분석 데이터/9월 평창군 키워드.csv', encoding = 'cp949')

In [401]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [402]:
df_8['지역'] = '평창군'

In [403]:
df_8['월'] = '9월'

In [407]:
df_8

     지역   키워드   언급수   월
0   평창군    평창  3518  9월
1   평창군    여행  1952  9월
2   평창군    사진  1082  9월
3   평창군    메밀   953  9월
4   평창군    목장   804  9월
5   평창군    카페   683  9월
6   평창군     꽃   598  9월
7   평창군    호텔   580  9월
8   평창군    축제   552  9월
9   평창군     산   549  9월
10  평창군   대관령   535  9월
11  평창군    숙소   528  9월
12  평창군    가족   514  9월
13  평창군   백일홍   494  9월
14  평창군    체험   494  9월
15  평창군    날씨   455  9월
16  평창군     양   451  9월
17  평창군   월정사   451  9월
18  평창군    맛집   446  9월
19  평창군    추천   444  9월
20  평창군   이효석   442  9월
21  평창군    풍경   418  9월
22  평창군    식당   407  9월
23  평창군    가을   385  9월
24  평창군    아침   339  9월
25  평창군  케이블카   337  9월
26  평창군   리조트   333  9월
27  평창군    루지   321  9월
28  평창군   휘닉스   321  9월
29  평창군    봉평   306  9월

In [405]:
df_8.drop([4,7, 10,15, 16,18, 28,29, 32,33, 35,36, 40,44, 45,5, 46,47, 48,49] ,axis = 0, inplace = True)

In [406]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [408]:
df_9 = pd.read_csv('./키워드 분석 데이터/9월 하동군 키워드.csv', encoding = 'cp949')

In [409]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [410]:
df_9['지역'] = '하동군'

In [411]:
df_9['월'] = '9월'

In [424]:
df_9

     지역   키워드   언급수   월
0   하동군    하동  3665  9월
1   하동군    여행  1670  9월
2   하동군  최참판댁  1649  9월
3   하동군    사진  1497  9월
4   하동군    카페   936  9월
5   하동군    숙소   867  9월
6   하동군   포토존   680  9월
7   하동군    녹차   618  9월
8   하동군     뷰   601  9월
9   하동군    풍경   529  9월
10  하동군     꽃   509  9월
11  하동군    장터   497  9월
12  하동군   지리산   478  9월
13  하동군     집   473  9월
14  하동군  코스모스   461  9월
15  하동군   섬진강   429  9월
16  하동군     밤   404  9월
17  하동군    가을   401  9월
18  하동군    축제   400  9월
19  하동군    주차   396  9월
20  하동군    재첩   382  9월
21  하동군    맛집   372  9월
22  하동군    식당   342  9월
23  하동군    아침   338  9월
24  하동군   동정호   318  9월
25  하동군    경남   306  9월
26  하동군    코스   298  9월
27  하동군   쌍계사   296  9월
28  하동군     밥   293  9월
29  하동군    여름   272  9월

In [413]:
df_9.drop([4,6, 8,10, 12,14, 16,18, 20,21, 23,26, 27,28, 38,39, 40,44, 48,47] ,axis = 0, inplace = True)

In [423]:
df_9.reset_index(drop = True, inplace = True)

In [416]:
df_9.loc[7, '키워드'] = '최참판댁'

In [418]:
df_9.loc[7, '언급수'] = 1649

In [419]:
df_9.loc[21, '키워드'] = '포토존'

In [421]:
df_9.loc[21, '언급수'] = 680

In [422]:
df_9.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [431]:
df_10 = pd.read_csv('./키워드 분석 데이터/9월 화천군 키워드.csv', encoding = 'cp949')

In [432]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [433]:
df_10['지역'] = '화천군'

In [434]:
df_10['월'] = '9월'

In [438]:
df_10

     지역  키워드   언급수   월
0   화천군   화천  1002  9월
1   화천군   여행   850  9월
2   화천군   마을   556  9월
3   화천군   사진   524  9월
4   화천군  강원도   413  9월
5   화천군   테마   307  9월
6   화천군   계곡   301  9월
7   화천군    회   300  9월
8   화천군   춘천   287  9월
9   화천군   안동   276  9월
10  화천군    맛   266  9월
11  화천군    산   252  9월
12  화천군   강화   244  9월
13  화천군    강   237  9월
14  화천군   공원   233  9월
15  화천군   카페   232  9월
16  화천군   가을   231  9월
17  화천군   시장   221  9월
18  화천군   하늘   215  9월
19  화천군   축제   214  9월
20  화천군   대감   213  9월
21  화천군   펜션   199  9월
22  화천군   풍경   192  9월
23  화천군   가족   191  9월
24  화천군   서울   191  9월
25  화천군   저녁   190  9월
26  화천군   나무   187  9월
27  화천군   엄마   183  9월
28  화천군   자연   182  9월
29  화천군  전망대   181  9월

In [436]:
df_10.drop([3,4, 6,7, 8,10, 11,12, 13,15, 20,28, 33,35, 39,42, 43,44, 48,49] ,axis = 0, inplace = True)

In [437]:
df_10.reset_index(drop = True, inplace = True)

In [439]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [440]:
df.reset_index(drop = True, inplace = True)

In [441]:
df.to_csv('9월 키워드 데이터.csv', encoding = 'cp949')

## 10월 언급량 키워드 데이터 전처리

In [447]:
df_1 = pd.read_csv('./키워드 분석 데이터/10월 경주시 키워드.csv', encoding = 'cp949')

In [448]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [449]:
df_1['지역'] = '경주시'

In [450]:
df_1['월'] = '10월'

In [464]:
df_1

     지역  키워드   언급수    월
0   경주시   경주  4264  10월
1   경주시   여행  2119  10월
2   경주시   사진  1535  10월
3   경주시  첨성대   896  10월
4   경주시  월정교   880  10월
5   경주시   카페   843  10월
6   경주시  포토존   794  10월
7   경주시  불국사   647  10월
8   경주시   가을   625  10월
9   경주시   대릉   614  10월
10  경주시   주차   583  10월
11  경주시   숙소   531  10월
12  경주시   동궁   512  10월
13  경주시    빵   492  10월
14  경주시   월지   492  10월
15  경주시   맛집   442  10월
16  경주시   신라   419  10월
17  경주시   야경   370  10월
18  경주시   단풍   369  10월
19  경주시   핑크   347  10월
20  경주시   체험   334  10월
21  경주시   커피   323  10월
22  경주시   날씨   316  10월
23  경주시   무료   315  10월
24  경주시   저녁   312  10월
25  경주시   풍경   312  10월
26  경주시    꽃   308  10월
27  경주시   가족   301  10월
28  경주시   입장   299  10월
29  경주시   관람   290  10월

In [453]:
df_1.drop([3,4, 7,9, 10,12, 15,18, 21,22, 23,24, 26,29, 30,31, 33,36, 39,48] ,axis = 0, inplace = True)

In [463]:
df_1.reset_index(drop = True, inplace = True)

In [456]:
df_1.loc[14 , '키워드'] = '월정교'

In [458]:
df_1.loc[14 , '언급수'] = 880

In [459]:
df_1.loc[16 , '키워드'] = '포토존'

In [461]:
df_1.loc[16 , '언급수'] = 794

In [462]:
df_1.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [470]:
df_2 = pd.read_csv('./키워드 분석 데이터/10월 고창군 키워드.csv', encoding = 'cp949')

In [471]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [472]:
df_2['지역'] = '고창군'

In [473]:
df_2['월'] = '10월'

In [483]:
df_2

     지역   키워드   언급수    월
0   고창군    고창  3029  10월
1   고창군  핑크뮬리  1710  10월
2   고창군    사진  1334  10월
3   고창군    여행  1054  10월
4   고창군    농원   908  10월
5   고창군    카페   754  10월
6   고창군   고인돌   687  10월
7   고창군    가을   627  10월
8   고창군    축제   580  10월
9   고창군     꽃   571  10월
10  고창군    장어   538  10월
11  고창군   할로윈   484  10월
12  고창군    농장   405  10월
13  고창군    메밀   369  10월
14  고창군    단풍   347  10월
15  고창군    식당   327  10월
16  고창군    전북   321  10월
17  고창군    풍경   320  10월
18  고창군    주차   319  10월
19  고창군   입장료   313  10월
20  고창군    날씨   311  10월
21  고창군    음료   300  10월
22  고창군    습지   295  10월
23  고창군    마을   285  10월
24  고창군    정원   269  10월
25  고창군    가족   258  10월
26  고창군  고창읍성   248  10월
27  고창군    꽃객   245  10월
28  고창군    맛집   244  10월
29  고창군   고창군   242  10월

In [475]:
df_2.drop([5,7, 8,9, 10,16, 18,19, 20,21, 22,23, 24,26, 28,36, 45,40, 43,44] ,axis = 0, inplace = True)

In [482]:
df_2.reset_index(drop = True, inplace = True)

In [478]:
df_2.loc[3, '키워드'] = '핑크뮬리'

In [480]:
df_2.loc[3, '언급수'] = 1710

In [481]:
df_2.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [484]:
df_3 = pd.read_csv('./키워드 분석 데이터/10월 단양군 키워드.csv', encoding = 'cp949')

In [485]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [486]:
df_3['지역'] = '단양군'

In [487]:
df_3['월'] = '10월'

In [538]:
df_3

     지역       키워드   언급수    월
0   단양군        단양  4015  10월
1   단양군        여행  2219  10월
2   단양군  만천하스카이워크  1611  10월
3   단양군        사진  1468  10월
4   단양군    패러글라이딩  1076  10월
5   단양군        시장   914  10월
6   단양군        카페   878  10월
7   단양군      도담삼봉   619  10월
8   단양군        풍경   549  10월
9   단양군        숙소   522  10월
10  단양군       유람선   510  10월
11  단양군        가을   481  10월
12  단양군        주차   467  10월
13  단양군        충북   453  10월
14  단양군         산   448  10월
15  단양군        맛집   446  10월
16  단양군       닭강정   383  10월
17  단양군        체험   383  10월
18  단양군        단풍   381  10월
19  단양군        주문   380  10월
20  단양군        이끼   374  10월
21  단양군       떡갈비   366  10월
22  단양군         뷰   365  10월
23  단양군         빵   363  10월
24  단양군        아침   356  10월
25  단양군        날씨   354  10월
26  단양군        동굴   340  10월
27  단양군       전망대   339  10월
28  단양군        커피   306  10월
29  단양군      고수동굴   306  10월

In [489]:
df_3.drop([3,5, 6,10, 11,12, 13,14, 15,17, 18,20, 24,26, 30,31, 44,45, 46,49] ,axis = 0, inplace = True)

In [496]:
df_3.reset_index(drop = True, inplace = True)

In [492]:
df_3.loc[6, '키워드'] = '만천하스카이워크'

In [494]:
df_3.loc[6, '언급수'] = 1611

In [495]:
df_3.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [539]:
df_4 = pd.read_csv('./키워드 분석 데이터/10월 달서구 키워드.csv', encoding = 'cp949')

In [540]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [541]:
df_4['지역'] = '달서구'

In [542]:
df_4['월'] = '10월'

In [543]:
df_4

     지역    키워드   언급수    월
0   달서구     대구  3596  10월
1   달서구     공원  1825  10월
2   달서구    달서구  1125  10월
3   달서구     카페  1009  10월
4   달서구     여행   774  10월
5   달서구     시간   674  10월
6   달서구     맛집   653  10월
7   달서구     사진   648  10월
8   달서구     모집   644  10월
9   달서구      맛   601  10월
10  달서구  대구광역시   599  10월
11  달서구     체험   594  10월
12  달서구     달성   557  10월
13  달서구     사람   543  10월
14  달서구  서울특별시   515  10월
15  달서구     방문   502  10월
16  달서구     가을   499  10월
17  달서구      집   490  10월
18  달서구     골목   459  10월
19  달서구     주문   452  10월
20  달서구     동구   414  10월
21  달서구     추천   403  10월
22  달서구     문화   391  10월
23  달서구     커피   384  10월
24  달서구     메뉴   378  10월
25  달서구     축제   375  10월
26  달서구    수목원   373  10월
27  달서구     센터   369  10월
28  달서구     중구   367  10월
29  달서구    수성구   365  10월
30  달서구    달성군   364  10월
31  달서구     서울   344  10월
32  달서구     시장   343  10월
33  달서구     주차   340  10월
34  달서구     북구   324  10월
35  달서구    박물관   322  10월
36  달서구     위치   314  10월
37  달서구     고기   304  10월
38  달서구     단풍   290  10월
39  달서구     친구   288  10월
40  달서구      꽃   278  10월
41  달서구     키즈   274  10월
42  달서구     체육   270  10월
43  달서구     문의   267  10월
44  달서구    주차장   262  10월
45  달서구     생태   260  10월
46  달서구     부산   254  10월
47  달서구     파크   248  10월
48  달서구     마을   247  10월
49  달서구     가격   239  10월

In [544]:
df_4.drop([5,8, 9,10, 11,12, 13,14, 15,17, 18,19, 21,24, 31,36, 43,44, 45,49] ,axis = 0, inplace = True)

In [545]:
df_4.reset_index(drop = True, inplace = True)

In [546]:
#---------------------------------------------------------------------------------------------

In [547]:
df_5 = pd.read_csv('./키워드 분석 데이터/10월 속초시 키워드.csv', encoding = 'cp949')

In [548]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [549]:
df_5['지역'] = '속초시'

In [550]:
df_5['월'] = '10월'

In [551]:
df_5

     지역   키워드   언급수    월
0   속초시    속초  5047  10월
1   속초시    여행  1989  10월
2   속초시    시간  1101  10월
3   속초시     맛  1089  10월
4   속초시    바다  1013  10월
5   속초시   강원도   996  10월
6   속초시   설악산   955  10월
7   속초시    사진   886  10월
8   속초시    카페   815  10월
9   속초시    사람   748  10월
10  속초시    맛집   713  10월
11  속초시    방문   703  10월
12  속초시    주문   700  10월
13  속초시     회   680  10월
14  속초시   속초시   674  10월
15  속초시    주차   639  10월
16  속초시   주차장   592  10월
17  속초시    숙소   572  10월
18  속초시    바위   538  10월
19  속초시     뷰   534  10월
20  속초시    코스   532  10월
21  속초시     집   506  10월
22  속초시    추천   482  10월
23  속초시  케이블카   476  10월
24  속초시    마을   474  10월
25  속초시    위치   460  10월
26  속초시  해수욕장   459  10월
27  속초시    호텔   452  10월
28  속초시    커피   451  10월
29  속초시    청초   441  10월
30  속초시    단풍   440  10월
31  속초시    메뉴   430  10월
32  속초시    금정   415  10월
33  속초시    풍경   408  10월
34  속초시    음식   401  10월
35  속초시    대게   390  10월
36  속초시  중앙시장   379  10월
37  속초시    가을   377  10월
38  속초시    식당   374  10월
39  속초시    물회   363  10월
40  속초시     게   357  10월
41  속초시     영   357  10월
42  속초시    구경   345  10월
43  속초시    설악   344  10월
44  속초시    가격   343  10월
45  속초시    공원   341  10월
46  속초시    날씨   320  10월
47  속초시    호수   318  10월
48  속초시    입구   316  10월
49  속초시    예약   315  10월

In [552]:
df_5.drop([2,3, 5,9, 11,12, 14,16, 18,20, 21,22, 24,25, 31,32, 41,42, 44,48] ,axis = 0, inplace = True)

In [553]:
df_5.reset_index(drop = True, inplace = True)

In [554]:
#---------------------------------------------------------------------------------------------

In [555]:
df_6 = pd.read_csv('./키워드 분석 데이터/10월 영암군 키워드.csv', encoding = 'cp949')

In [556]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [557]:
df_6['지역'] = '영암군'

In [558]:
df_6['월'] = '10월'

In [559]:
df_6

     지역  키워드   언급수    월
0   영암군  김용임  2770  10월
1   영암군  하춘화  2246  10월
2   영암군    집  2193  10월
3   영암군   여행   984  10월
4   영암군   사람   868  10월
5   영암군   목포   811  10월
6   영암군   시간   664  10월
7   영암군   영암   645  10월
8   영암군   사진   603  10월
9   영암군   전집   587  10월
10  영암군   마을   586  10월
11  영암군   노래   458  10월
12  영암군   컴필   451  10월
13  영암군    맛   439  10월
14  영암군   용역   410  10월
15  영암군   서울   407  10월
16  영암군   체험   399  10월
17  영암군   골든   391  10월
18  영암군   코스   389  10월
19  영암군   가을   377  10월
20  영암군   바다   370  10월
21  영암군   공원   342  10월
22  영암군   카페   340  10월
23  영암군   골프   321  10월
24  영암군  휴게소   320  10월
25  영암군    산   315  10월
26  영암군   광주   315  10월
27  영암군  월출산   312  10월
28  영암군   여수   311  10월
29  영암군    너   304  10월
30  영암군   친구   303  10월
31  영암군  이야기   290  10월
32  영암군   엄마   286  10월
33  영암군   택시   279  10월
34  영암군    밤   273  10월
35  영암군    꽃   272  10월
36  영암군   전남   268  10월
37  영암군   바람   268  10월
38  영암군   해남   266  10월
39  영암군   축제   260  10월
40  영암군   버스   259  10월
41  영암군   아침   257  10월
42  영암군   숙소   255  10월
43  영암군   방문   255  10월
44  영암군  양지은   255  10월
45  영암군   그대   254  10월
46  영암군   이제   251  10월
47  영암군   앨범   247  10월
48  영암군   풍경   246  10월
49  영암군   하늘   245  10월

In [560]:
df_6.drop([2,4, 5,6, 11,12, 13,14, 15,17, 18,29, 31,32, 36,37, 43,45, 46,49] ,axis = 0, inplace = True)

In [561]:
df_6.reset_index(drop = True, inplace = True)

In [562]:
#---------------------------------------------------------------------------------------------

In [563]:
df_7 = pd.read_csv('./키워드 분석 데이터/10월 의령군 키워드.csv', encoding = 'cp949')

In [564]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [565]:
df_7['지역'] = '의령군'

In [566]:
df_7['월'] = '10월'

In [567]:
df_7

     지역  키워드   언급수    월
0   의령군   의령  2195  10월
1   의령군   사진  1034  10월
2   의령군  댑싸리  1032  10월
3   의령군   축제  1011  10월
4   의령군   여행   894  10월
5   의령군   공원   804  10월
6   의령군   가을   776  10월
7   의령군    집   767  10월
8   의령군   사람   732  10월
9   의령군   시간   675  10월
10  의령군    꽃   646  10월
11  의령군   카페   604  10월
12  의령군  주차장   490  10월
13  의령군   경남   477  10월
14  의령군   커피   475  10월
15  의령군    맛   472  10월
16  의령군   마을   459  10월
17  의령군   부산   448  10월
18  의령군   치킨   413  10월
19  의령군   바위   412  10월
20  의령군   소바   406  10월
21  의령군   핑크   398  10월
22  의령군   진주   388  10월
23  의령군    떡   368  10월
24  의령군   구경   362  10월
25  의령군   방문   360  10월
26  의령군   리치   354  10월
27  의령군   의병   338  10월
28  의령군   부자   336  10월
29  의령군   국밥   332  10월
30  의령군   체험   329  10월
31  의령군   주차   324  10월
32  의령군   식당   316  10월
33  의령군    망   316  10월
34  의령군    솥   315  10월
35  의령군    숲   297  10월
36  의령군   추천   296  10월
37  의령군  떡볶이   295  10월
38  의령군    밥   291  10월
39  의령군    산   265  10월
40  의령군   친구   256  10월
41  의령군  이야기   254  10월
42  의령군   국화   254  10월
43  의령군   피자   254  10월
44  의령군   맛집   252  10월
45  의령군   택시   247  10월
46  의령군   풍경   244  10월
47  의령군   뮬리   240  10월
48  의령군   저녁   229  10월
49  의령군   출발   229  10월

In [568]:
df_7.drop([7,8, 9,12, 13,15, 16,17, 19,24, 25,26, 28,33, 36,41, 45,48, 49,34] ,axis = 0, inplace = True)

In [569]:
df_7.reset_index(drop = True, inplace = True)

In [570]:
#---------------------------------------------------------------------------------------------

In [571]:
df_8 = pd.read_csv('./키워드 분석 데이터/10월 인제군 키워드.csv', encoding = 'cp949')

In [572]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [573]:
df_8['지역'] = '인제군'

In [574]:
df_8['월'] = '10월'

In [575]:
df_8

     지역    키워드   언급수    월
0   인제군     인제  2289  10월
1   인제군     여행  1422  10월
2   인제군    강원도  1110  10월
3   인제군     가을   977  10월
4   인제군     사진   915  10월
5   인제군     단풍   875  10월
6   인제군     시간   834  10월
7   인제군      꽃   753  10월
8   인제군  자작나무숲   697  10월
9   인제군      숲   627  10월
10  인제군   자작나무   625  10월
11  인제군      집   599  10월
12  인제군     사람   592  10월
13  인제군     코스   578  10월
14  인제군      맛   569  10월
15  인제군     축제   499  10월
16  인제군     방문   474  10월
17  인제군     숙소   424  10월
18  인제군     속초   419  10월
19  인제군    막국수   415  10월
20  인제군     펜션   405  10월
21  인제군     풍경   398  10월
22  인제군     구경   392  10월
23  인제군     아침   391  10월
24  인제군     맛집   389  10월
25  인제군    주차장   365  10월
26  인제군      산   365  10월
27  인제군     계곡   364  10월
28  인제군     황태   358  10월
29  인제군    백담사   352  10월
30  인제군     예약   345  10월
31  인제군     추천   335  10월
32  인제군     식당   310  10월
33  인제군     친구   304  10월
34  인제군     주차   302  10월
35  인제군     바다   302  10월
36  인제군      밥   299  10월
37  인제군    설악산   299  10월
38  인제군     가족   295  10월
39  인제군     입구   290  10월
40  인제군     날씨   289  10월
41  인제군     카페   286  10월
42  인제군     마을   285  10월
43  인제군     길이   284  10월
44  인제군     폭포   284  10월
45  인제군     이제   275  10월
46  인제군     출발   270  10월
47  인제군     힐링   270  10월
48  인제군     엄마   269  10월
49  인제군     주문   262  10월

In [576]:
df_8.drop([6,11, 12,13, 14,16, 22,25, 30,31, 39,42, 43,45, 46,48, 49,10, 9,34] ,axis = 0, inplace = True)

In [577]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [578]:
df_9 = pd.read_csv('./키워드 분석 데이터/10월 제주시 키워드.csv', encoding = 'cp949')

In [579]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [580]:
df_9['지역'] = '제주시'

In [581]:
df_9['월'] = '10월'

In [585]:
df_9

     지역  키워드   언급수    월
0   제주시   제주  2671  10월
1   제주시  제주시  1673  10월
2   제주시  제주도  1380  10월
3   제주시   여행  1354  10월
4   제주시   카페  1118  10월
5   제주시   사진   852  10월
6   제주시   맛집   759  10월
7   제주시   공항   715  10월
8   제주시   호텔   617  10월
9   제주시   커피   561  10월
10  제주시   바다   489  10월
11  제주시   숙소   467  10월
12  제주시    뷰   416  10월
13  제주시   주차   413  10월
14  제주시   사람   403  10월
15  제주시   고기   377  10월
16  제주시   돼지   371  10월
17  제주시   식당   337  10월
18  제주시   친구   314  10월
19  제주시   갈치   313  10월
20  제주시  분위기   306  10월
21  제주시    밥   302  10월
22  제주시   음식   279  10월
23  제주시   체험   272  10월
24  제주시   식사   268  10월
25  제주시   아침   261  10월
26  제주시   김밥   251  10월
27  제주시    빵   250  10월
28  제주시   전복   240  10월
29  제주시   소금   226  10월

In [583]:
df_9.drop([5,7, 9,11, 12,15, 18,24, 26,28, 32,34, 41,43, 45,46, 40,47, 48,49] ,axis = 0, inplace = True)

In [584]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [586]:
df_10 = pd.read_csv('./키워드 분석 데이터/10월 하동군 키워드.csv', encoding = 'cp949')

In [587]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [588]:
df_10['지역'] = '하동군'

In [589]:
df_10['월'] = '10월'

In [599]:
df_10

     지역   키워드   언급수    월
0   하동군    하동  4030  10월
1   하동군    여행  1819  10월
2   하동군    사진  1430  10월
3   하동군  최참판댁  1335  10월
4   하동군    카페  1062  10월
5   하동군    숙소   832  10월
6   하동군     궁   689  10월
7   하동군    녹차   661  10월
8   하동군    가을   590  10월
9   하동군    풍경   582  10월
10  하동군     뷰   549  10월
11  하동군    장터   548  10월
12  하동군   섬진강   477  10월
13  하동군    주차   449  10월
14  하동군   지리산   440  10월
15  하동군   동정호   429  10월
16  하동군    맛집   427  10월
17  하동군     밤   410  10월
18  하동군    식당   405  10월
19  하동군   쌍계사   402  10월
20  하동군    재첩   397  10월
21  하동군  코스모스   367  10월
22  하동군    아침   365  10월
23  하동군    날씨   356  10월
24  하동군     밥   354  10월
25  하동군     산   331  10월
26  하동군     꽃   328  10월
27  하동군    커피   303  10월
28  하동군    하늘   303  10월
29  하동군    축제   285  10월

In [591]:
df_10.drop([4,7, 8,10, 15,16, 17,18, 20,21, 22,24, 26,34, 38,40, 42,43, 45,48] ,axis = 0, inplace = True)

In [598]:
df_10.reset_index(drop = True, inplace = True)

In [594]:
df_10.loc[14 , '키워드'] = '최참판댁'

In [596]:
df_10.loc[14 , '언급수'] = 1335

In [597]:
df_10.sort_values('언급수' , ascending = False , inplace = True)

In [600]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [601]:
df.reset_index(drop = True, inplace = True)

In [602]:
df.to_csv('10월 키워드 데이터.csv', encoding = 'cp949')

## 11월 언급수 키워드 데이터 전처리

In [603]:
df_1 = pd.read_csv('./키워드 분석 데이터/11월 강진군 키워드.csv', encoding = 'cp949')

In [604]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [605]:
df_1['지역'] = '강진군'

In [606]:
df_1['월'] = '11월'

In [610]:
df_1

     지역  키워드   언급수    월
0   강진군   강진  2695  11월
1   강진군   여행  1561  11월
2   강진군   사진   845  11월
3   강진군   가을   614  11월
4   강진군   다리   599  11월
5   강진군   공원   528  11월
6   강진군   바다   509  11월
7   강진군   다산   485  11월
8   강진군   가우   473  11월
9   강진군    산   464  11월
10  강진군    섬   432  11월
11  강진군  박물관   409  11월
12  강진군   식당   405  11월
13  강진군   체험   404  11월
14  강진군   친구   368  11월
15  강진군   갈대   364  11월
16  강진군   풍경   357  11월
17  강진군  이야기   353  11월
18  강진군    책   349  11월
19  강진군   카페   342  11월
20  강진군   광주   340  11월
21  강진군   맛집   330  11월
22  강진군   버스   328  11월
23  강진군   축제   316  11월
24  강진군   아침   308  11월
25  강진군   단풍   287  11월
26  강진군   해남   286  11월
27  강진군   역사   284  11월
28  강진군  터미널   282  11월
29  강진군   남도   279  11월

In [608]:
df_1.drop([2,4, 5,6, 9,15, 16,18, 20,25, 28,44, 32,35, 37,39, 40,41, 42,43] ,axis = 0, inplace = True)

In [609]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [611]:
df_2 = pd.read_csv('./키워드 분석 데이터/11월 거제시 키워드.csv', encoding = 'cp949')

In [612]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [613]:
df_2['지역'] = '거제시'

In [614]:
df_2['월'] = '11월'

In [624]:
df_2

     지역   키워드   언급수    월
0   거제시    거제  3633  11월
1   거제시   거제도  1892  11월
2   거제시    여행  1651  11월
3   거제시    바다  1184  11월
4   거제시    사진  1123  11월
5   거제시    카페  1079  11월
6   거제시    맛집   853  11월
7   거제시     뷰   799  11월
8   거제시    펜션   637  11월
9   거제시   포토존   619  11월
10  거제시    숙소   593  11월
11  거제시    주차   569  11월
12  거제시    외도   498  11월
13  거제시    커피   464  11월
14  거제시    경남   441  11월
15  거제시    가족   416  11월
16  거제시    호텔   375  11월
17  거제시    오션   361  11월
18  거제시   유람선   360  11월
19  거제시     섬   349  11월
20  거제시     배   346  11월
21  거제시    체험   330  11월
22  거제시    식사   321  11월
23  거제시    날씨   320  11월
24  거제시     밥   315  11월
25  거제시    음식   310  11월
26  거제시  케이블카   306  11월
27  거제시    언덕   301  11월
28  거제시    풍경   297  11월
29  거제시   해금강   293  11월

In [616]:
df_2.drop([5,8, 10,11, 13,15, 17,18, 20,19, 21,23, 24,28, 29,35, 39,41, 44,48] ,axis = 0, inplace = True)

In [623]:
df_2.reset_index(drop = True, inplace = True)

In [619]:
df_2.loc[25, '키워드'] = '포토존'

In [621]:
df_2.loc[25, '언급수'] = 619

In [622]:
df_2.sort_values('언급수' , ascending = False , inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [625]:
df_3 = pd.read_csv('./키워드 분석 데이터/11월 경주시 키워드.csv', encoding = 'cp949')

In [626]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [627]:
df_3['지역'] = '경주시'

In [628]:
df_3['월'] = '11월'

In [641]:
df_3

     지역  키워드   언급수    월
0   경주시   경주  4586  11월
1   경주시   여행  2151  11월
2   경주시   사진  1505  11월
3   경주시   가을   803  11월
4   경주시   카페   770  11월
5   경주시  첨성대   731  11월
6   경주시  불국사   707  11월
7   경주시  포토존   698  11월
8   경주시  월정교   697  11월
9   경주시   단풍   693  11월
10  경주시   대릉   598  11월
11  경주시   주차   527  11월
12  경주시   맛집   517  11월
13  경주시   동궁   460  11월
14  경주시   신라   410  11월
15  경주시   월지   404  11월
16  경주시    빵   399  11월
17  경주시   야경   398  11월
18  경주시   가족   383  11월
19  경주시  분위기   320  11월
20  경주시   풍경   313  11월
21  경주시   아침   301  11월
22  경주시   커피   297  11월
23  경주시   체험   294  11월
24  경주시   나무   291  11월
25  경주시   무료   284  11월
26  경주시    밤   283  11월
27  경주시   저녁   280  11월
28  경주시   입장   279  11월
29  경주시   산책   278  11월

In [630]:
df_3.drop([3,5, 7,11, 12,13, 15,16, 17,20, 21,22, 24,25, 29,31, 33,35, 36,41] ,axis = 0, inplace = True)

In [640]:
df_3.reset_index(drop = True, inplace = True)

In [633]:
df_3.loc[17, '키워드'] = '포토존'

In [635]:
df_3.loc[17, '언급수'] = 698

In [636]:
df_3.loc[18, '키워드'] = '월정교'

In [638]:
df_3.loc[18, '언급수'] = 697

In [639]:
df_3.sort_values('언급수' , ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [642]:
df_4 = pd.read_csv('./키워드 분석 데이터/11월 단양군 키워드.csv', encoding = 'cp949')

In [643]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [644]:
df_4['지역'] = '단양군'

In [645]:
df_4['월'] = '11월'

In [655]:
df_4

     지역       키워드   언급수    월
0   단양군        단양  4071  11월
1   단양군        여행  2019  11월
2   단양군        사진  1599  11월
3   단양군  만천하스카이워크  1444  11월
4   단양군    패러글라이딩  1098  11월
5   단양군        시장   972  11월
6   단양군        카페   832  11월
7   단양군        단풍   743  11월
8   단양군        풍경   657  11월
9   단양군      도담삼봉   656  11월
10  단양군        숙소   625  11월
11  단양군        가을   565  11월
12  단양군        주차   541  11월
13  단양군         산   509  11월
14  단양군        터널   490  11월
15  단양군       유람선   490  11월
16  단양군       떡갈비   414  11월
17  단양군       닭강정   411  11월
18  단양군        맛집   384  11월
19  단양군         뷰   370  11월
20  단양군         빵   343  11월
21  단양군        아침   332  11월
22  단양군        하늘   328  11월
23  단양군        식당   326  11월
24  단양군       전망대   325  11월
25  단양군       카페산   325  11월
26  단양군        입구   317  11월
27  단양군        날씨   315  11월
28  단양군        충북   314  11월
29  단양군        체험   312  11월

In [647]:
df_4.drop([3,5, 6,8, 11,12, 14,17, 18,20, 23,24, 26,29, 32,33, 35,39, 43,49] ,axis = 0, inplace = True)

In [654]:
df_4.reset_index(drop = True, inplace = True)

In [650]:
df_4.loc[6, '키워드'] = '만천하스카이워크'

In [652]:
df_4.loc[6, '언급수'] = 1444

In [653]:
df_4.sort_values('언급수' , ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [656]:
df_5 = pd.read_csv('./키워드 분석 데이터/11월 밀양시 키워드.csv', encoding = 'cp949')

In [657]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [658]:
df_5['지역'] = '밀양시'

In [659]:
df_5['월'] = '11월'

In [663]:
df_5

     지역   키워드   언급수    월
0   밀양시    밀양  3934  11월
1   밀양시    사진  1308  11월
2   밀양시    여행  1303  11월
3   밀양시    가을   913  11월
4   밀양시    단풍   797  11월
5   밀양시  은행나무   792  11월
6   밀양시    카페   781  11월
7   밀양시    체험   624  11월
8   밀양시    사과   607  11월
9   밀양시    주차   605  11월
10  밀양시    풍경   475  11월
11  밀양시    맛집   426  11월
12  밀양시    터널   421  11월
13  밀양시    나무   376  11월
14  밀양시   영남루   364  11월
15  밀양시    펜션   349  11월
16  밀양시     산   318  11월
17  밀양시    경남   303  11월
18  밀양시    커피   295  11월
19  밀양시    연정   295  11월
20  밀양시   밀양시   294  11월
21  밀양시     뷰   294  11월
22  밀양시    숙소   292  11월
23  밀양시    주말   275  11월
24  밀양시  케이블카   275  11월
25  밀양시    친구   269  11월
26  밀양시   표충사   269  11월
27  밀양시    아침   263  11월
28  밀양시    날씨   252  11월
29  밀양시  돼지국밥   249  11월

In [661]:
df_5.drop([4,8, 9,13, 14,15, 17,20, 24,25, 26,27, 28,30, 31,34, 39,40, 46,47] ,axis = 0, inplace = True)

In [662]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [664]:
df_6 = pd.read_csv('./키워드 분석 데이터/11월 삼척시 키워드.csv', encoding = 'cp949')

In [665]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [666]:
df_6['지역'] = '삼척시'

In [667]:
df_6['월'] = '11월'

In [672]:
df_6

     지역   키워드   언급수    월
0   삼척시    삼척  3716  11월
1   삼척시    여행  1826  11월
2   삼척시    바다  1650  11월
3   삼척시    사진  1117  11월
4   삼척시    비치   844  11월
5   삼척시     뷰   644  11월
6   삼척시   강원도   630  11월
7   삼척시  해수욕장   579  11월
8   삼척시    숙소   576  11월
9   삼척시    카페   557  11월
10  삼척시    해변   543  11월
11  삼척시    맛집   526  11월
12  삼척시    풍경   440  11월
13  삼척시    동해   402  11월
14  삼척시    오션   375  11월
15  삼척시    아침   374  11월
16  삼척시    날씨   374  11월
17  삼척시     회   370  11월
18  삼척시    폭포   370  11월
19  삼척시    저녁   351  11월
20  삼척시    주차   327  11월
21  삼척시    가족   326  11월
22  삼척시    강릉   314  11월
23  삼척시     밥   308  11월
24  삼척시    식당   307  11월
25  삼척시    커피   297  11월
26  삼척시    산책   291  11월
27  삼척시   환선굴   286  11월
28  삼척시    대게   266  11월
29  삼척시   리조트   264  11월

In [670]:
df_6.drop([4,6, 7,10, 16,17, 19,21, 22,28, 29,31, 32,36, 39,42, 43,45, 48,49] ,axis = 0, inplace = True)

In [671]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [673]:
df_7 = pd.read_csv('./키워드 분석 데이터/11월 서귀포시 키워드.csv', encoding = 'cp949')

In [674]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [675]:
df_7['지역'] = '서귀포시'

In [676]:
df_7['월'] = '11월'

In [687]:
df_7

      지역   키워드   언급수    월
0   서귀포시    제주  3635  11월
1   서귀포시    여행  2532  11월
2   서귀포시   제주도  2069  11월
3   서귀포시    사진  1317  11월
4   서귀포시    카페   957  11월
5   서귀포시  서귀포시   855  11월
6   서귀포시    바다   712  11월
7   서귀포시    체험   701  11월
8   서귀포시    숙소   658  11월
9   서귀포시   포토존   608  11월
10  서귀포시    호텔   558  11월
11  서귀포시    맛집   520  11월
12  서귀포시     귤   460  11월
13  서귀포시     뷰   446  11월
14  서귀포시    풍경   428  11월
15  서귀포시    주차   427  11월
16  서귀포시    갈치   394  11월
17  서귀포시    날씨   387  11월
18  서귀포시    가족   387  11월
19  서귀포시    감귤   379  11월
20  서귀포시    돼지   377  11월
21  서귀포시    식당   368  11월
22  서귀포시    오름   344  11월
23  서귀포시    겨울   312  11월
24  서귀포시    가을   311  11월
25  서귀포시    커피   311  11월
26  서귀포시     게   276  11월
27  서귀포시   분위기   275  11월
28  서귀포시    아침   274  11월
29  서귀포시    정원   273  11월

In [685]:
df_7.drop([4,7, 8,9, 12,13, 15,17, 18,22, 23,26, 27,32, 35,41, 44,49, 36,42] ,axis = 0, inplace = True)

KeyError: '[32, 35, 41, 44, 49, 36, 42] not found in axis'

In [686]:
df_7.reset_index(drop = True, inplace = True)

In [681]:
df_7.loc[25 , '키워드'] = '포토존'

In [683]:
df_7.loc[25 , '언급수'] = 608

In [684]:
df_7.sort_values('언급수' , ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [688]:
df_8 = pd.read_csv('./키워드 분석 데이터/11월 여수시 키워드.csv', encoding = 'cp949')

In [689]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [690]:
df_8['지역'] = '여수시'

In [691]:
df_8['월'] = '11월'

In [701]:
df_8

     지역   키워드   언급수    월
0   여수시    여수  5866  11월
1   여수시    여행  2373  11월
2   여수시    바다  1738  11월
3   여수시    사진  1230  11월
4   여수시     뷰   803  11월
5   여수시    카페   779  11월
6   여수시     밤   700  11월
7   여수시   포토존   681  11월
8   여수시    숙소   621  11월
9   여수시    맛집   621  11월
10  여수시   여수시   600  11월
11  여수시    게장   560  11월
12  여수시     빵   544  11월
13  여수시    호텔   533  11월
14  여수시   오동도   524  11월
15  여수시    주차   517  11월
16  여수시    공원   511  11월
17  여수시   이순신   510  11월
18  여수시  케이블카   504  11월
19  여수시    루지   487  11월
20  여수시    가족   458  11월
21  여수시    메뉴   406  11월
22  여수시    오션   400  11월
23  여수시   수영장   387  11월
24  여수시    낭만   378  11월
25  여수시     섬   377  11월
26  여수시    풍경   344  11월
27  여수시    돌산   333  11월
28  여수시   리조트   325  11월
29  여수시    김밥   321  11월

In [694]:
df_8.drop([4,5, 8,10, 13,14, 17,20, 22,27, 29,32, 33,34, 35,37, 42,48, 46,31] ,axis = 0, inplace = True)

In [700]:
df_8.reset_index(drop = True, inplace = True)

In [697]:
df_8.loc[27 , '키워드'] = '포토존'

In [698]:
df_8.loc[27 , '언급수'] = 681

In [699]:
df_8.sort_values('언급수' , ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [702]:
df_9 = pd.read_csv('./키워드 분석 데이터/11월 제주시 키워드.csv', encoding = 'cp949')

In [703]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [704]:
df_9['지역'] = '제주시'

In [705]:
df_9['월'] = '11월'

In [709]:
df_9

     지역  키워드   언급수    월
0   제주시   제주  2915  11월
1   제주시  제주시  1859  11월
2   제주시   여행  1483  11월
3   제주시  제주도  1426  11월
4   제주시   카페  1077  11월
5   제주시   사진  1009  11월
6   제주시   맛집   920  11월
7   제주시   커피   717  11월
8   제주시   공항   705  11월
9   제주시   숙소   554  11월
10  제주시   바다   526  11월
11  제주시   호텔   520  11월
12  제주시   고기   506  11월
13  제주시   주차   457  11월
14  제주시   갈치   403  11월
15  제주시   음식   392  11월
16  제주시    밥   369  11월
17  제주시   돼지   356  11월
18  제주시   식당   329  11월
19  제주시    게   327  11월
20  제주시   친구   319  11월
21  제주시  분위기   319  11월
22  제주시   체험   311  11월
23  제주시    뷰   291  11월
24  제주시   국수   284  11월
25  제주시   식사   282  11월
26  제주시   감귤   265  11월
27  제주시   아침   261  11월
28  제주시   저녁   257  11월
29  제주시    귤   251  11월

In [707]:
df_9.drop([4,7, 9,12, 13,14, 15,17, 21,27, 28,31, 34,36, 38,39, 42,43, 44,45] ,axis = 0, inplace = True)

In [708]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [710]:
df_10 = pd.read_csv('./키워드 분석 데이터/11월 태안군 키워드.csv', encoding = 'cp949')

In [711]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [712]:
df_10['지역'] = '태안군'

In [713]:
df_10['월'] = '11월'

In [717]:
df_10

     지역   키워드   언급수    월
0   태안군    태안  3547  11월
1   태안군    여행  2131  11월
2   태안군    바다  1383  11월
3   태안군    사진  1376  11월
4   태안군    카페  1013  11월
5   태안군    펜션   897  11월
6   태안군    숙소   833  11월
7   태안군  해수욕장   831  11월
8   태안군   안면도   756  11월
9   태안군    방문   566  11월
10  태안군    가을   561  11월
11  태안군    체험   515  11월
12  태안군   수목원   483  11월
13  태안군     뷰   473  11월
14  태안군   바베큐   429  11월
15  태안군    맛집   423  11월
16  태안군    커피   412  11월
17  태안군   팜파스   368  11월
18  태안군    조개   361  11월
19  태안군    저녁   357  11월
20  태안군   게국지   355  11월
21  태안군    아침   353  11월
22  태안군    해변   332  11월
23  태안군     밥   331  11월
24  태안군    고기   314  11월
25  태안군    주차   310  11월
26  태안군    풍경   308  11월
27  태안군    꽃지   291  11월
28  태안군     꽃   285  11월
29  태안군     게   273  11월

In [715]:
df_10.drop([5,10, 11,14, 15,16, 20,22, 26,35, 38,43, 44,46, 47,49, 24,27, 28,34] ,axis = 0, inplace = True)

In [716]:
df_10.reset_index(drop = True, inplace = True)

In [718]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [719]:
df.reset_index(drop = True, inplace = True)

In [720]:
df.to_csv('11월 키워드 데이터.csv', encoding = 'cp949')

## 12월 언급량 키워드 데이터 전처리

In [721]:
df_1 = pd.read_csv('./키워드 분석 데이터/12월 강릉시 키워드.csv', encoding = 'cp949')

In [722]:
df_1.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [723]:
df_1['지역'] = '강릉시'

In [724]:
df_1['월'] = '12월'

In [728]:
df_1

     지역   키워드   언급수    월
0   강릉시    강릉  4799  12월
1   강릉시    여행  2233  12월
2   강릉시    바다  1649  12월
3   강릉시    해변  1192  12월
4   강릉시    커피  1111  12월
5   강릉시    카페  1103  12월
6   강릉시    사진   999  12월
7   강릉시    맛집   837  12월
8   강릉시    호텔   820  12월
9   강릉시    겨울   746  12월
10  강릉시   순두부   707  12월
11  강릉시    숙소   659  12월
12  강릉시     뷰   625  12월
13  강릉시     회   585  12월
14  강릉시    주차   520  12월
15  강릉시     집   485  12월
16  강릉시     빵   472  12월
17  강릉시   주문진   419  12월
18  강릉시  중앙시장   380  12월
19  강릉시    경포   371  12월
20  강릉시   정동진   368  12월
21  강릉시     밥   351  12월
22  강릉시    오션   341  12월
23  강릉시    아침   338  12월
24  강릉시    강원   335  12월
25  강릉시    짬뽕   315  12월
26  강릉시    동해   314  12월
27  강릉시    일출   314  12월
28  강릉시    친구   314  12월
29  강릉시    공원   307  12월

In [726]:
df_1.drop([3,5, 11,13, 15,16, 19,21, 22,23, 26,28, 30,31, 35,36, 38,45, 48,49] ,axis = 0, inplace = True)

In [727]:
df_1.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [729]:
df_2 = pd.read_csv('./키워드 분석 데이터/12월 경주시 키워드.csv', encoding = 'cp949')

In [730]:
df_2.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [731]:
df_2['지역'] = '경주시'

In [732]:
df_2['월'] = '12월'

In [746]:
df_2

     지역  키워드   언급수    월
0   경주시   경주  4345  12월
1   경주시   여행  2138  12월
2   경주시   사진  1194  12월
3   경주시   카페   765  12월
4   경주시   맛집   717  12월
5   경주시   숙소   700  12월
6   경주시  월정교   621  12월
7   경주시  포토존   607  12월
8   경주시  첨성대   523  12월
9   경주시   주차   502  12월
10  경주시   대릉   484  12월
11  경주시  불국사   467  12월
12  경주시   가족   406  12월
13  경주시   호텔   403  12월
14  경주시   커피   391  12월
15  경주시    빵   387  12월
16  경주시   신라   382  12월
17  경주시   동궁   358  12월
18  경주시   겨울   353  12월
19  경주시   월지   350  12월
20  경주시  분위기   342  12월
21  경주시   마을   327  12월
22  경주시   야경   324  12월
23  경주시   펜션   321  12월
24  경주시    밥   316  12월
25  경주시   식당   311  12월
26  경주시   친구   303  12월
27  경주시   음식   289  12월
28  경주시   체험   286  12월
29  경주시   고기   283  12월

In [744]:
df_2.drop([3,4, 9,8, 10,11, 12,13, 15,16, 19,21, 22,27, 29,34, 38,39, 45,49] ,axis = 0, inplace = True)

KeyError: '[34, 38, 39, 45, 49] not found in axis'

In [745]:
df_2.reset_index(drop = True, inplace = True)

In [737]:
df_2.loc[25 , '키워드'] = '포토존'

In [739]:
df_2.loc[25 , '언급수'] = 607

In [740]:
df_2.loc[27 , '키워드'] = '월정교'

In [742]:
df_2.loc[27 , '언급수'] = 621

In [743]:
df_2.sort_values('언급수' , ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [825]:
df_3 = pd.read_csv('./키워드 분석 데이터/12월 동해시 키워드.csv', encoding = 'cp949')

In [826]:
df_3.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [827]:
df_3['지역'] = '동해시'

In [828]:
df_3['월'] = '12월'

In [841]:
df_3

     지역    키워드  언급수    월
0   동해시     동해  865  12월
1   동해시     여행  550  12월
2   동해시   촛대바위  538  12월
3   동해시     바다  524  12월
4   동해시  스카이밸리  384  12월
5   동해시    동해시  381  12월
6   동해시     사진  331  12월
7   동해시     바위  303  12월
8   동해시     카페  288  12월
9   동해시    전망대  258  12월
10  동해시    묵호항  230  12월
11  동해시     묵호  227  12월
12  동해시    강원도  204  12월
13  동해시     등대  195  12월
14  동해시     맛집  179  12월
15  동해시      뷰  177  12월
16  동해시     호텔  162  12월
17  동해시     해변  156  12월
18  동해시     해랑  155  12월
19  동해시     삼척  155  12월
20  동해시     겨울  150  12월
21  동해시     강릉  147  12월
22  동해시     숙소  146  12월
23  동해시   해수욕장  142  12월
24  동해시     대게  137  12월
25  동해시    칼국수  125  12월
26  동해시     일출  124  12월
27  동해시      빵  122  12월
28  동해시     주차  119  12월
29  동해시     커피  113  12월

In [830]:
df_3.drop([8,9, 16,19, 20,30, 31,33, 35,36, 37,41, 43,45, 46,48, 49,47, 32,25] ,axis = 0, inplace = True)

In [840]:
df_3.reset_index(drop = True, inplace = True)

In [833]:
df_3.loc[8 , '키워드'] = "촛대바위"

In [835]:
df_3.loc[8 , '언급수'] = 538

In [836]:
df_3.loc[9 , '키워드'] = "스카이밸리"

In [838]:
df_3.loc[9 , '언급수'] = 384

In [839]:
df_3.sort_values('언급수' , ascending = False, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [752]:
df_4 = pd.read_csv('./키워드 분석 데이터/12월 서귀포시 키워드.csv', encoding = 'cp949')

In [753]:
df_4.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [754]:
df_4['지역'] = '서귀포시'

In [755]:
df_4['월'] = '12월'

In [759]:
df_4

      지역    키워드   언급수    월
0   서귀포시     제주  3502  12월
1   서귀포시     여행  2461  12월
2   서귀포시    제주도  2154  12월
3   서귀포시     사진  1319  12월
4   서귀포시    동백꽃   951  12월
5   서귀포시     겨울   914  12월
6   서귀포시     카페   874  12월
7   서귀포시   서귀포시   837  12월
8   서귀포시     동백   592  12월
9   서귀포시     체험   579  12월
10  서귀포시     숙소   566  12월
11  서귀포시     바다   550  12월
12  서귀포시      귤   507  12월
13  서귀포시     맛집   452  12월
14  서귀포시     돼지   448  12월
15  서귀포시     호텔   429  12월
16  서귀포시     주차   418  12월
17  서귀포시  크리스마스   373  12월
18  서귀포시      꽃   368  12월
19  서귀포시      뷰   366  12월
20  서귀포시     풍경   366  12월
21  서귀포시     고기   364  12월
22  서귀포시     포토   350  12월
23  서귀포시     날씨   346  12월
24  서귀포시     갈치   335  12월
25  서귀포시     감귤   334  12월
26  서귀포시     가족   313  12월
27  서귀포시     친구   293  12월
28  서귀포시    한라산   288  12월
29  서귀포시     식당   280  12월

In [757]:
df_4.drop([4,11, 9,10, 12,13, 17,20, 23,25, 27,28, 34,35, 40,42, 47,49, 48,43] ,axis = 0, inplace = True)

In [758]:
df_4.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [842]:
df_5 = pd.read_csv('./키워드 분석 데이터/12월 속초시 키워드.csv', encoding = 'cp949')

In [843]:
df_5.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [844]:
df_5['지역'] = '속초시'

In [845]:
df_5['월'] = '12월'

In [849]:
df_5

     지역   키워드   언급수    월
0   속초시    속초  1489  12월
1   속초시    여행   635  12월
2   속초시    바다   373  12월
3   속초시   강원도   296  12월
4   속초시    카페   265  12월
5   속초시   속초시   206  12월
6   속초시    맛집   206  12월
7   속초시    겨울   204  12월
8   속초시    사진   201  12월
9   속초시    주차   199  12월
10  속초시   설악산   198  12월
11  속초시     회   175  12월
12  속초시    대게   158  12월
13  속초시    메뉴   145  12월
14  속초시    커피   141  12월
15  속초시     뷰   138  12월
16  속초시  해수욕장   127  12월
17  속초시    숙소   122  12월
18  속초시    호텔   121  12월
19  속초시    물회   111  12월
20  속초시    체험   105  12월
21  속초시    가족   102  12월
22  속초시    강원    98  12월
23  속초시    홍게    98  12월
24  속초시  케이블카    94  12월
25  속초시    날씨    94  12월
26  속초시    풍경    89  12월
27  속초시     게    87  12월
28  속초시   오징어    85  12월
29  속초시    일출    83  12월

In [847]:
df_5.drop([4,6, 13,14, 16,18, 19,23, 27,28, 29,30, 33,38, 41,44, 34,48, 46,43] ,axis = 0, inplace = True)

In [848]:
df_5.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [858]:
df_6 = pd.read_csv('./키워드 분석 데이터/12월 여수시 키워드.csv', encoding = 'cp949')

In [859]:
df_6.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [860]:
df_6['지역'] = '여수시'

In [861]:
df_6['월'] = '12월'

In [865]:
df_6

     지역   키워드   언급수    월
0   여수시    여수  1922  12월
1   여수시    여행   835  12월
2   여수시    바다   545  12월
3   여수시    사진   308  12월
4   여수시     밤   245  12월
5   여수시    공원   239  12월
6   여수시    카페   215  12월
7   여수시    등대   194  12월
8   여수시   이순신   190  12월
9   여수시  케이블카   188  12월
10  여수시   오동도   186  12월
11  여수시     뷰   186  12월
12  여수시    숙소   186  12월
13  여수시     섬   179  12월
14  여수시    추천   176  12월
15  여수시     빵   173  12월
16  여수시    호텔   170  12월
17  여수시    맛집   165  12월
18  여수시    하멜   162  12월
19  여수시    낭만   148  12월
20  여수시    광장   147  12월
21  여수시    주차   143  12월
22  여수시    돌산   141  12월
23  여수시    게장   140  12월
24  여수시   리조트   134  12월
25  여수시    관광   128  12월
26  여수시    벽화   121  12월
27  여수시    풍경   115  12월
28  여수시    해상   114  12월
29  여수시    루지   113  12월

In [863]:
df_6.drop([3,5, 9,11, 12,14, 21,28, 29,32, 37,40, 43,45, 46,47, 48,49, 6,19] ,axis = 0, inplace = True)

In [864]:
df_6.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [873]:
df_7 = pd.read_csv('./키워드 분석 데이터/12월 완주시 키워드.csv', encoding = 'cp949')

In [874]:
df_7.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [875]:
df_7['지역'] = '완주군'

In [876]:
df_7['월'] = '12월'

In [880]:
df_7

     지역  키워드  언급수    월
0   완주군   완주  885  12월
1   완주군   여행  443  12월
2   완주군   카페  315  12월
3   완주군   사진  239  12월
4   완주군   전주  235  12월
5   완주군   제주  169  12월
6   완주군   전북  138  12월
7   완주군   겨울  137  12월
8   완주군  올레길  129  12월
9   완주군   축제  122  12월
10  완주군    술  120  12월
11  완주군   삼례  119  12월
12  완주군   숙소  113  12월
13  완주군   문화  108  12월
14  완주군   맛집  108  12월
15  완주군   푸드  107  12월
16  완주군   예술  104  12월
17  완주군   가족  104  12월
18  완주군   체험   99  12월
19  완주군  완주군   92  12월
20  완주군   음식   90  12월
21  완주군   캠프   86  12월
22  완주군   고기   85  12월
23  완주군   곶감   85  12월
24  완주군    산   83  12월
25  완주군   풍경   82  12월
26  완주군   힐링   78  12월
27  완주군   자연   77  12월
28  완주군   펜션   77  12월
29  완주군   날씨   74  12월

In [878]:
df_7.drop([5,6, 7,8, 10,11, 15,26, 27,30, 31,33, 34,39, 40,43, 47,48, 49,32] ,axis = 0, inplace = True)

In [879]:
df_7.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [780]:
df_8 = pd.read_csv('./키워드 분석 데이터/12월 인제군 키워드.csv', encoding = 'cp949')

In [781]:
df_8.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [782]:
df_8['지역'] = '인제군'

In [783]:
df_8['월'] = '12월'

In [787]:
df_8

     지역    키워드   언급수    월
0   인제군     인제  2066  12월
1   인제군     여행  1955  12월
2   인제군     사진  1204  12월
3   인제군     겨울  1008  12월
4   인제군   자작나무   884  12월
5   인제군  자작나무숲   773  12월
6   인제군      숲   672  12월
7   인제군     숙소   626  12월
8   인제군     속초   562  12월
9   인제군     카페   519  12월
10  인제군     황태   505  12월
11  인제군     맛집   478  12월
12  인제군     바다   415  12월
13  인제군    막국수   408  12월
14  인제군     풍경   394  12월
15  인제군     친구   370  12월
16  인제군      밥   368  12월
17  인제군     식당   361  12월
18  인제군      산   356  12월
19  인제군     아침   353  12월
20  인제군     두부   332  12월
21  인제군     호텔   314  12월
22  인제군     날씨   314  12월
23  인제군     가족   295  12월
24  인제군     주차   281  12월
25  인제군     저녁   275  12월
26  인제군     음식   273  12월
27  인제군     커피   270  12월
28  인제군    화장실   260  12월
29  인제군      뷰   251  12월

In [785]:
df_8.drop([3,5, 8,9, 10,16, 17,19, 23,29, 30,32, 33,36, 37,38, 39,42, 45,47] ,axis = 0, inplace = True)

In [786]:
df_8.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [788]:
df_9 = pd.read_csv('./키워드 분석 데이터/12월 제주시 키워드.csv', encoding = 'cp949')

In [789]:
df_9.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [790]:
df_9['지역'] = '제주시'

In [791]:
df_9['월'] = '12월'

In [795]:
df_9

     지역  키워드   언급수    월
0   제주시   제주  2785  12월
1   제주시  제주시  1967  12월
2   제주시  제주도  1442  12월
3   제주시   여행  1348  12월
4   제주시   맛집  1008  12월
5   제주시   카페   927  12월
6   제주시   사진   833  12월
7   제주시   공항   711  12월
8   제주시   고기   505  12월
9   제주시   갈치   503  12월
10  제주시   바다   460  12월
11  제주시   커피   457  12월
12  제주시   주차   453  12월
13  제주시    밥   419  12월
14  제주시   돼지   417  12월
15  제주시   호텔   399  12월
16  제주시   식당   389  12월
17  제주시   숙소   361  12월
18  제주시   음식   336  12월
19  제주시   식사   325  12월
20  제주시   친구   321  12월
21  제주시    빵   316  12월
22  제주시  분위기   313  12월
23  제주시   조림   304  12월
24  제주시   국물   304  12월
25  제주시   전복   303  12월
26  제주시    게   292  12월
27  제주시   날씨   284  12월
28  제주시  케이크   264  12월
29  제주시   반찬   260  12월

In [793]:
df_9.drop([3,7, 9,10, 12,14, 16,17, 18,24, 30,47, 46,37, 39,41, 42,43, 44,45] ,axis = 0, inplace = True)

In [794]:
df_9.reset_index(drop = True, inplace = True)

In [ ]:
#---------------------------------------------------------------------------------------------

In [850]:
df_10 = pd.read_csv('./키워드 분석 데이터/12월 춘천시 키워드.csv', encoding = 'cp949')

In [851]:
df_10.rename(columns={'Unnamed: 0':'지역'}, inplace = True)

In [852]:
df_10['지역'] = '춘천시'

In [853]:
df_10['월'] = '12월'

In [857]:
df_10

     지역   키워드   언급수    월
0   춘천시    춘천  1168  12월
1   춘천시    여행   617  12월
2   춘천시    카페   338  12월
3   춘천시    사진   298  12월
4   춘천시   닭갈비   288  12월
5   춘천시   남이섬   258  12월
6   춘천시   강원도   217  12월
7   춘천시    감자   198  12월
8   춘천시    겨울   196  12월
9   춘천시     빵   191  12월
10  춘천시    체험   181  12월
11  춘천시    친구   146  12월
12  춘천시    호텔   139  12월
13  춘천시    강원   133  12월
14  춘천시    맛집   130  12월
15  춘천시  케이블카   130  12월
16  춘천시    커피   129  12월
17  춘천시    숙소   127  12월
18  춘천시   소양강   120  12월
19  춘천시   스카이   118  12월
20  춘천시   주차장   111  12월
21  춘천시    풍경   108  12월
22  춘천시   박물관   106  12월
23  춘천시    펜션    98  12월
24  춘천시    날씨    97  12월
25  춘천시    작품    97  12월
26  춘천시    주차    96  12월
27  춘천시    악산    93  12월
28  춘천시    가평    88  12월
29  춘천시   분위기    85  12월

In [855]:
df_10.drop([2,7, 9,13, 14,15, 17,18, 19,22, 26,29, 31,33, 34,36, 39,40, 41,48] ,axis = 0, inplace = True)

In [856]:
df_10.reset_index(drop = True, inplace = True)

In [881]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])

In [882]:
df.reset_index(drop = True, inplace = True)

In [883]:
df.to_csv('12월 키워드 데이터.csv', encoding = 'cp949')